workflows/11TSTzrA8LudwCoL.json
{
  "id": "11TSTzrA8LudwCoL",
  "name": "SF - AI Page Builder Parsing Widget v.2",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        128
      ],
      "id": "157338cf-8d76-4d23-87cc-bbefa7a85697",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63b601de-010a-42d7-b0a7-8bd41c4abc55",
              "name": "schema",
              "value": "={{ $json.schema }}",
              "type": "array"
            },
            {
              "id": "a922d1af-0cb0-41e7-bae5-65c1f92949c8",
              "name": "container",
              "value": "### Container\n\nThis is the main layout element for sections and wrappers.\n\n  * `elType`: `\"container\"`\n  * `isInner`: `false` for top-level sections. `true` for nested containers (e.g., grid cells).\n  * `elements`: An array that holds child element objects (widgets or other containers).\n  * `settings`: An object containing styling like `padding`, `margin`, `flex_gap`, `background_background` (\"classic\" or \"gradient\"), `background_color`, `background_image` (must be an Image Object), and `background_overlay_background`.\n\n**Example (Container):**\n\n```json\n{\n  \"id\": \"1f182ab9\",\n  \"elType\": \"container\",\n  \"isInner\": false,\n  \"settings\": {\n    \"padding\": {\n      \"unit\": \"px\",\n      \"top\": \"80\",\n      \"right\": \"20\",\n      \"bottom\": \"80\",\n      \"left\": \"20\",\n      \"isLinked\": false\n    },\n    \"background_background\": \"classic\",\n    \"background_color\": \"#1A1A1A\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "a107c83d-ff98-4365-b0e3-dec53522bb22",
              "name": "grid",
              "value": "\n### Grid (Special Container)\n\nThis is a **Container** used for multi-column layouts.\n\n  * `elType`: `\"container\"`\n  * `isInner`: `true` (as it's usually inside a main section container).\n  * `settings`:\n      * `container_type`: **MUST** be `\"grid\"`.\n      * `grid_columns_grid`: Object with `unit: \"fr\"`, `size` (the number of columns, e.g., 2, 3), and `sizes: []`.\n      * `grid_rows_grid`: Object with `unit: \"fr\"`, `size` (the number of rows, e.g., 1 depend on the rows), and `sizes: []`.\n  * `elements`: Its `elements` array **MUST** contain other **Containers** (with `isInner: true`) which act as the grid \"cells.\"\n\n**Example (3-Column Grid):**\n\n```json\n{\n  \"id\": \"1eaf0c9b\",\n  \"elType\": \"container\",\n  \"isInner\": true,\n  \"settings\": {\n    \"content_width\": \"full\",\n    \"container_type\": \"grid\",\n    \"grid_columns_grid\": {\n      \"unit\": \"fr\",\n      \"size\": 3,\n      \"sizes\": []\n    },\n    \"grid_rows_grid\": {\n      \"unit\": \"fr\",\n      \"size\": 1,\n      \"sizes\": []\n    }\n  },\n  \"elements\": [\n    { \"id\": \"396af374\", \"elType\": \"container\", \"isInner\": true, \"settings\": {}, \"elements\": [] },\n    { \"id\": \"5d484588\", \"elType\": \"container\", \"isInner\": true, \"settings\": {}, \"elements\": [] },\n    { \"id\": \"9a8b7c6d\", \"elType\": \"container\", \"isInner\": true, \"settings\": {}, \"elements\": [] }\n  ]\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "31ce11dc-0c39-4524-953f-85ff432d547d",
              "name": "heading",
              "value": "### Heading (Widget)\n\nUsed for titles.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"heading\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `title`: The text content (can include simple HTML like `<span>`).\n      * `header_size`: HTML tag (\"h1\", \"h2\", \"h3\", etc.).\n      * `typography_...` properties and `title_color`.\n\n**Example (Heading):**\n\n```json\n{\n  \"id\": \"2dfb28d5\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"heading\",\n  \"settings\": {\n    \"title\": \"This is a Headline\",\n    \"header_size\": \"h2\",\n    \"typography_typography\": \"custom\",\n    \"typography_font_family\": \"Roboto\",\n    \"typography_font_size\": { \"unit\": \"px\", \"size\": 40, \"sizes\": [] },\n    \"typography_font_weight\": \"700\",\n    \"title_color\": \"#170BE2\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "f90bef15-6eb4-4699-9db8-5ffb86642f9e",
              "name": "icon-list",
              "value": "### Icon List (Widget)\n\nUsed for a bulleted list with custom icons.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"icon-list\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `icon_list`: An array of objects. Each object has `text` (the list item) and optionally `selected_icon` (an icon object with `value` and `library`).\n\n**Example (Icon List):**\n\n```json\n{\n  \"id\": \"2bee7be7\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"icon-list\",\n  \"settings\": {\n    \"icon_list\": [\n      {\n        \"text\": \"Feature One\",\n        \"_id\": \"b406229\",\n        \"selected_icon\": { \"value\": \"fas fa-check\", \"library\": \"fa-solid\" }\n      },\n      {\n        \"text\": \"Feature Two\",\n        \"_id\": \"2429975\",\n        \"selected_icon\": { \"value\": \"fas fa-check\", \"library\": \"fa-solid\" }\n      }\n    ],\n    \"icon_size\": { \"unit\": \"px\", \"size\": 20, \"sizes\": [] },\n    \"text_color\": \"#333333\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "573f0497-dd60-44fb-936b-da2171102619",
              "name": "button",
              "value": "### Button (Widget)\n\nUsed for links and calls to action.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"button\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `text`: The button label (e.g., \"Learn More\").\n      * `link`: Object with `url` and empty `is_external`, `nofollow`.\n      * Colors: `button_text_color`, `background_color`, `hover_color`, `button_background_hover_color`.\n      * `border_radius` (be creative) and `text_padding`.\n\n**Example (Button):**\n\n```json\n{\n  \"id\": \"79314c98\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"button\",\n  \"settings\": {\n    \"text\": \"Click Here\",\n    \"link\": {\n      \"url\": \"https://example.com\",\n      \"is_external\": \"\",\n      \"nofollow\": \"\",\n      \"custom_attributes\": \"\"\n    },\n    \"button_text_color\": \"#FFFFFF\",\n    \"background_color\": \"#027BD6\",\n    \"border_radius\": {\n      \"unit\": \"px\",\n      \"top\": \"30\",\n      \"right\": \"30\",\n      \"bottom\": \"30\",\n      \"left\": \"30\",\n      \"isLinked\": true\n    }\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "4689e6ba-dfe0-463b-a55c-5e7c4d54e3ba",
              "name": "text-editor",
              "value": "### Text Editor (Widget)\n\nUsed for paragraphs and body text.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"text-editor\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `editor`: An **HTML string** for the content (e.g., `<p>Hello world.</p>`).\n      * `typography_...` properties and `text_color`.\n\n**Example (Text Editor):**\n\n```json\n{\n  \"id\": \"b297f6\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"text-editor\",\n  \"settings\": {\n    \"editor\": \"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>\",\n    \"typography_typography\": \"custom\",\n    \"typography_font_family\": \"Roboto\",\n    \"typography_font_size\": { \"unit\": \"px\", \"size\": 18, \"sizes\": [] },\n    \"typography_font_weight\": \"400\",\n    \"text_color\": \"#333333\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "2b5ba814-4dbc-499c-944a-a7f52e81ef8e",
              "name": "image",
              "value": "### Image (Widget)\n\nUsed for standalone images.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"image\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `image`: An **Image Object** as defined in the Core Rules.\n      * `image_size`: `\"full\"`.\n\n**Example (Image):**\n\n```json\n{\n  \"id\": \"2b037a79\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"image\",\n  \"settings\": {\n    \"image\": {\n      \"url\": \"https://picsum.photos/800/600\",\n      \"id\": \"\",\n      \"size\": \"\",\n      \"source\": \"url\"\n    },\n    \"image_size\": \"full\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "87980d24-0fb6-4558-ba2f-38d2e693ecc1",
              "name": "video",
              "value": "### Video (Widget)\n\nUsed to embed a video.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"video\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `youtube_url`: A **relevant sample YouTube URL**.\n      * Other URL fields (`vimeo_url`, `dailymotion_url`) should be `\"\"`.\n\n**Example (Video):**\n\n```json\n{\n  \"id\": \"3b43f5a4\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"video\",\n  \"settings\": {\n    \"youtube_url\": \"https://www.youtube.com/watch?v=dQw4w9WgXcQ\",\n    \"vimeo_url\": \"\",\n    \"dailymotion_url\": \"\",\n    \"videopress_url\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "f714ce03-64dc-43c1-a08c-0c0d31cba540",
              "name": "icon",
              "value": "### Icon (Widget)\n\nUsed for a standalone icon.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"icon\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `selected_icon`: An object with `value` (e.g., \"fas fa-star\") and `library` (e.g., \"fa-solid\"). The icon choice must be **relevant**.\n\n**Example (Icon):**\n\n```json\n{\n  \"id\": \"2259c1b\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"icon\",\n  \"settings\": {\n    \"selected_icon\": {\n      \"value\": \"fas fa-check-circle\",\n      \"library\": \"fa-solid\"\n    }\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "01abbcb3-4a5b-4c55-b689-7034ed1e9a1c",
              "name": "google_maps",
              "value": "### Google Maps (Widget)\n\nUsed to embed a map.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"google_maps\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `address`: A **relevant location string** (e.g., \"Eiffel Tower, Paris\" or \"Times Square, New York\").\n      * `zoom`: Object with `size` (e.g., 12).\n      * `height`: Object with `size` (e.g., 400).\n\n**Example (Google Maps):**\n\n```json\n{\n  \"id\": \"650511a3\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"google_maps\",\n  \"settings\": {\n    \"address\": \"Statue of Liberty, New York, NY\",\n    \"zoom\": { \"unit\": \"px\", \"size\": 13, \"sizes\": [] },\n    \"height\": { \"unit\": \"px\", \"size\": 450, \"sizes\": [] }\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "1144bb5a-9f45-48b6-8b0a-b2900c3b9b81",
              "name": "nested-tabs",
              "value": "### Nested Tabs (Widget)\n\nUsed for organizing content into clickable tabs.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"nested-tabs\"`\n  * **Dual Structure:**\n    1.  `settings.tabs`: An array of objects, one for each tab title (e.g., `{ \"tab_title\": \"Title 1\", \"_id\": \"abc123\" }`). Can also include `tab_icon`.\n    2.  `elements`: An array of **Containers** (`elType: \"container\"`, `isInner\": true`).\n  * **Mapping:** The first object in `settings.tabs` maps to the first container in `elements`, and so on. The content (text, images, etc.) goes *inside* these containers.\n\n**Example (2 Tabs):**\n\n```json\n{\n  \"id\": \"65c6b2b5\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"nested-tabs\",\n  \"settings\": {\n    \"tabs\": [\n      { \"tab_title\": \"Tab title 1\", \"_id\": \"65507bc\", \"tab_icon\": { \"value\": \"fas fa-info-circle\", \"library\": \"fa-solid\" } },\n      { \"tab_title\": \"Tab title 2\", \"_id\": \"7e56ddb\", \"tab_icon\": { \"value\": \"fas fa-cogs\", \"library\": \"fa-solid\" } }\n    ]\n  },\n  \"elements\": [\n    {\n      \"id\": \"4407049b\",\n      \"elType\": \"container\",\n      \"isInner\": true,\n      \"settings\": {},\n      \"elements\": [\n        \n      ]\n    },\n    {\n      \"id\": \"65fb6c17\",\n      \"elType\": \"container\",\n      \"isInner\": true,\n      \"settings\": {},\n      \"elements\": [\n        \n      ]\n    }\n  ]\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "d441b5b8-2352-4fec-833c-571e21d90e0e",
              "name": "nested-accordion",
              "value": "### Nested Accordion (Widget)\n\nUsed for collapsible content, perfect for FAQs.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"nested-accordion\"`\n  * **Dual Structure:**\n    1.  `settings.items`: An array of objects, one for each accordion title (e.g., `{ \"item_title\": \"Question 1?\", \"_id\": \"def456\" }`).\n    2.  `elements`: An array of **Containers** (`elType: \"container\"`, `isInner\": true`).\n  * **Mapping:** The first object in `settings.items` maps to the first container in `elements`. The answer (text, images, etc.) goes *inside* these containers.\n\n**Example (2-Item Accordion):**\n\n```json\n{\n  \"id\": \"170357c6\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"nested-accordion\",\n  \"settings\": {\n    \"items\": [\n      { \"item_title\": \"First Question?\", \"_id\": \"0a1ad02\" },\n      { \"item_title\": \"Second Question?\", \"_id\": \"893fd19\" }\n    ]\n  },\n  \"elements\": [\n    {\n      \"id\": \"af9788a\",\n      \"elType\": \"container\",\n      \"isInner\": true,\n      \"settings\": {},\n      \"elements\": [\n        \n      ]\n    },\n    {\n      \"id\": \"2e58c2e7\",\n      \"elType\": \"container\",\n      \"isInner\": true,\n      \"settings\": {},\n      \"elements\": [\n        \n      ]\n    }\n  ]\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "70aa9b4f-1e3c-4d3e-9791-604aa54cc92f",
              "name": "image-carousel",
              "value": "### Image Carousel (Widget)\n\nUsed for a slideshow of images.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"image-carousel\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `carousel`: An array of simplified image objects: `{ \"id\": \"\", \"url\": \"https://picsum.photos/...\" }`. Use multiple Picsum images.\n      * `slides_to_show`: (e.g., \"3\").\n\n**Example (Image Carousel):**\n\n```json\n{\n  \"id\": \"2ffc6951\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"image-carousel\",\n  \"settings\": {\n    \"carousel\": [\n      { \"id\": \"\", \"url\": \"https://picsum.photos/800/600?random=1\" },\n      { \"id\": \"\", \"url\": \"https://picsum.photos/800/600?random=2\" },\n      { \"id\": \"\", \"url\": \"https://picsum.photos/800/600?random=3\" }\n    ],\n    \"slides_to_show\": \"1\",\n    \"slides_to_scroll\": \"1\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "4edf743a-02e8-4a84-9d4b-841090fdaf6b",
              "name": "counter",
              "value": "### Counter (Widget)\n\nUsed for an animated number.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"counter\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `starting_number`: (e.g., 0).\n      * `ending_number`: The target number (e.g., 1000). **Must be relevant**.\n      * `prefix`: (e.g., \"+\").\n      * `suffix`: (e.g., \"K\").\n      * `title`: The text label. **Must be relevant**.\n\n**Example (Counter):**\n\n```json\n{\n  \"id\": \"47c92b3b\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"counter\",\n  \"settings\": {\n    \"starting_number\": 0,\n    \"ending_number\": 2500,\n    \"prefix\": \"\",\n    \"suffix\": \"+\",\n    \"title\": \"Happy Clients\",\n    \"number_color\": \"#111111\",\n    \"typography_number_font_size\": { \"unit\": \"px\", \"size\": 60, \"sizes\": [] },\n    \"title_color\": \"#555555\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "48430d59-9ba4-45f5-bb5e-a930b7c0ce28",
              "name": "progress",
              "value": "### Progress (Widget)\n\nUsed for an animated progress bar.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"progress\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `title`: The label for the bar. **Must be relevant**.\n      * `percent`: Object with `size` (the value, e.g., 90).\n      * `inner_text`: Text inside the bar.\n\n**Example (Progress):**\n\n```json\n{\n  \"id\": \"52e816ff\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"progress\",\n  \"settings\": {\n    \"title\": \"Customer Satisfaction\",\n    \"percent\": {\n      \"unit\": \"%\",\n      \"size\": 95,\n      \"sizes\": []\n    },\n    \"inner_text\": \"95%\",\n    \"bar_color\": \"#5CB85C\",\n    \"bar_height\": { \"unit\": \"px\", \"size\": 25, \"sizes\": [] }\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "7125078f-ccda-49ce-9be6-c1d77b0fcac1",
              "name": "testimonial",
              "value": "###  Testimonial (Widget)\n\nUsed for a single user review.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"testimonial\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `testimonial_content`: The review text. **Must be relevant**.\n      * `testimonial_image`: An **Image Object** (see Core Rules).\n      * `testimonial_name`: User's name. **Must be relevant**.\n      * `testimonial_job`: User's title. **Must be relevant**.\n\n**Example (Testimonial):**\n\n```json\n{\n  \"id\": \"572c9749\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"testimonial\",\n  \"settings\": {\n    \"testimonial_content\": \"This product completely changed my workflow. Highly recommended!\",\n    \"testimonial_image\": {\n      \"url\": \"https://picsum.photos/150/150\",\n      \"id\": \"\",\n      \"size\": \"\",\n      \"source\": \"url\"\n    },\n    \"testimonial_name\": \"Jane Doe\",\n    \"testimonial_job\": \"Project Manager\",\n    \"image_size\": { \"unit\": \"px\", \"size\": 80, \"sizes\": [] },\n    \"image_border_radius\": { \"unit\": \"%\", \"top\": \"50\", \"right\": \"50\", \"bottom\": \"50\", \"left\": \"50\", \"isLinked\": true }\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "c36c810e-eb10-4d4f-9fb0-3f56e07a452c",
              "name": "social-icons",
              "value": "### Social Icons (Widget)\n\nUsed for a list of social media links.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"social-icons\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `social_icon_list`: An array of objects. Each object needs:\n          * `social_icon`: An icon object (e.g., `{ \"value\": \"fab fa-facebook\", \"library\": \"fa-brands\" }`).\n          * `link`: A link object (e.g., `{ \"url\": \"https://facebook.com\", ... }`).\n\n**Example (Social Icons):**\n\n```json\n{\n  \"id\": \"3b2e6cb3\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"social-icons\",\n  \"settings\": {\n    \"social_icon_list\": [\n      {\n        \"social_icon\": { \"value\": \"fab fa-facebook\", \"library\": \"fa-brands\" },\n        \"_id\": \"a22a15d\",\n        \"link\": { \"url\": \"https://facebook.com\", \"is_external\": \"true\", \"nofollow\": \"\" }\n      },\n      {\n        \"social_icon\": { \"value\": \"fab fa-twitter\", \"library\": \"fa-brands\" },\n        \"_id\": \"fcead12\",\n        \"link\": { \"url\": \"https://twitter.com\", \"is_external\": \"true\", \"nofollow\": \"\" }\n      }\n    ],\n    \"shape\": \"circle\",\n    \"icon_size\": { \"unit\": \"px\", \"size\": 18, \"sizes\": [] }\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "051382c3-41cb-492a-9a17-27883aa641fd",
              "name": "rating",
              "value": "### Rating (Widget)\n\nUsed for displaying a star rating.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"rating\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `rating_scale`: Object with `size` (e.g., 5).\n      * `rating_value`: The score (e.g., 4.5). **Must be relevant**.\n      * `rating_icon`: Icon object, usually `\"fas fa-star\"`.\n      * `icon_color`: Color for filled stars.\n      * `icon_unmarked_color`: Color for empty stars.\n\n**Example (Rating):**\n\n```json\n{\n  \"id\": \"53bea524\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"rating\",\n  \"settings\": {\n    \"rating_scale\": { \"unit\": \"px\", \"size\": 5, \"sizes\": [] },\n    \"rating_value\": 4.5,\n    \"rating_icon\": { \"value\": \"fas fa-star\", \"library\": \"fa-solid\" },\n    \"icon_size\": { \"unit\": \"px\", \"size\": 20, \"sizes\": [] },\n    \"icon_color\": \"#FFD700\",\n    \"icon_unmarked_color\": \"#CCCCCC\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "6aadff39-1702-4e03-b661-ebd9858d60d9",
              "name": "form",
              "value": "### Form (Widget)\n\nUsed for creating contact or lead-gen forms.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"form\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `form_fields`: An array of objects, one for each field. Each object defines `field_type` (`text`, `email`, `textarea`, `select`, etc.), `field_label`, `placeholder`, and `width`.\n      * `button_text`: The text for the submit button.\n      * Styling for labels, fields, and the button is included.\n\n**Example (Form):**\n\n```json\n{\n  \"id\": \"41ab6718\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"form\",\n  \"settings\": {\n    \"form_name\": \"New Form\",\n    \"form_fields\": [\n      {\n        \"custom_id\": \"name\",\n        \"field_label\": \"Name\",\n        \"placeholder\": \"Your Name\",\n        \"width\": \"100\",\n        \"_id\": \"3726c54\",\n        \"required\": \"true\"\n      },\n      {\n        \"custom_id\": \"email\",\n        \"field_type\": \"email\",\n        \"required\": \"true\",\n        \"field_label\": \"Email\",\n        \"placeholder\": \"Your Email\",\n        \"width\": \"100\",\n        \"_id\": \"7a07d35\"\n      },\n      {\n        \"custom_id\": \"message\",\n        \"field_type\": \"textarea\",\n        \"field_label\": \"Message\",\n        \"placeholder\": \"Your Message\",\n        \"width\": \"100\",\n        \"_id\": \"317daef\"\n      }\n    ],\n    \"button_text\": \"Send\",\n    \"success_message\": \"Your submission was successful.\",\n    \"button_background_color\": \"#027BD6\",\n    \"button_text_color\": \"#FFFFFF\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "5f901fd0-4504-47df-a8ff-4f97667456b9",
              "name": "slides",
              "value": "### Slides (Widget)\n\nA self-contained slideshow where each slide has a background, title, text, and button.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"slides\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `slides`: An array of objects. Each object is a slide with properties for `heading`, `description`, `button_text`, and `background_image` or `background_color`.\n      * `background_image` must be an **Image Object**.\n      * Global settings control `slides_height`, navigation (arrows/dots), and default typography/button styles.\n\n**Example (Slides):**\n\n```json\n{\n  \"id\": \"6df91871\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"slides\",\n  \"settings\": {\n    \"slides\": [\n      {\n        \"heading\": \"Slide Title 1\",\n        \"description\": \"This is a description for the first slide.\",\n        \"button_text\": \"Learn More\",\n        \"background_image\": {\n          \"url\": \"https://picsum.photos/1200/500?random=1\",\n          \"id\": \"\",\n          \"size\": \"\",\n          \"source\": \"url\"\n        },\n        \"_id\": \"fd17634\",\n        \"background_overlay\": \"yes\"\n      },\n      {\n        \"heading\": \"Slide Title 2\",\n        \"description\": \"This is a description for the second slide.\",\n        \"button_text\": \"Get Started\",\n        \"background_color\": \"#D3277E\",\n        \"_id\": \"d7c7abd\"\n      }\n    ],\n    \"slides_height\": { \"unit\": \"px\", \"size\": 500, \"sizes\": [] },\n    \"heading_color\": \"#FFFFFF\",\n    \"description_color\": \"#FFFFFF\",\n    \"button_text_color\": \"#FFFFFF\",\n    \"button_background_color\": \"#003BFF\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "89503afa-f598-4693-b336-30c9ed687ac9",
              "name": "price-list",
              "value": "### Price List (Widget)\n\nUsed for creating a list of items with prices, perfect for menus.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"price-list\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `price_list`: An array of objects. Each object is a list item with `title`, `item_description`, `price`, and an optional `image`.\n      * `image` must be an **Image Object**.\n      * Global settings control typography and colors for title, price, description, and the separator style.\n\n**Example (Price List):**\n\n```json\n{\n  \"id\": \"ac9a988\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"price-list\",\n  \"settings\": {\n    \"price_list\": [\n      {\n        \"title\": \"Item One\",\n        \"item_description\": \"Description for the first item on the list.\",\n        \"price\": \"$12.50\",\n        \"_id\": \"d1a0d09\",\n        \"image\": {\n          \"url\": \"https://picsum.photos/150/150?random=1\",\n          \"id\": \"\",\n          \"size\": \"\",\n          \"source\": \"url\"\n        }\n      },\n      {\n        \"title\": \"Item Two\",\n        \"item_description\": \"Description for the second item on the list.\",\n        \"price\": \"$9.00\",\n        \"_id\": \"ea12373\"\n      }\n    ],\n    \"heading_color\": \"#000000\",\n    \"price_color\": \"#EE0000\",\n    \"description_color\": \"#2E0A0A\",\n    \"separator_style\": \"dashed\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "a7da8c45-b1e8-42b1-a7d7-531042094842",
              "name": "price-table",
              "value": "### Price Table (Widget)\n\nA single, comprehensive pricing column or tier. (Use 2-3 in a Grid for a full pricing section).\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"price-table\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * **Header:** `heading` (e.g., \"Pro Plan\"), `sub_heading`.\n      * **Pricing:** `price`, `currency_symbol`, `period`.\n      * **Sale:** `sale: \"yes\"` and `original_price` (to show a discount).\n      * **Features:** `features_list` (an array of items, same as `icon-list`).\n      * **Footer:** `button_text` and `footer_additional_info`.\n      * **Ribbon:** `ribbon_title` (e.g., \"Most Popular\").\n\n**Example (Price Table):**\n\n```json\n{\n  \"id\": \"76a922b2\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"price-table\",\n  \"settings\": {\n    \"heading\": \"Pro Plan\",\n    \"sub_heading\": \"Best for growing teams\",\n    \"price\": \"49.99\",\n    \"period\": \"Monthly\",\n    \"features_list\": [\n      {\n        \"item_text\": \"All Core Features\",\n        \"selected_item_icon\": { \"value\": \"fas fa-check\", \"library\": \"fa-solid\" },\n        \"_id\": \"01d7b02\"\n      },\n      {\n        \"item_text\": \"100GB Storage\",\n        \"selected_item_icon\": { \"value\": \"fas fa-check\", \"library\": \"fa-solid\" },\n        \"_id\": \"41306a6\"\n      },\n      {\n        \"item_text\": \"Priority Support\",\n        \"selected_item_icon\": { \"value\": \"fas fa-check\", \"library\": \"fa-solid\" },\n        \"_id\": \"faaa957\"\n      }\n    ],\n    \"button_text\": \"Choose Plan\",\n    \"header_bg_color\": \"#000000\",\n    \"heading_color\": \"#FFFFFF\",\n    \"price_color\": \"#000000\",\n    \"features_list_bg_color\": \"#FFFFFF\",\n    \"button_background_color\": \"#027BD6\",\n    \"button_text_color\": \"#FFFFFF\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "f371311b-37eb-456c-84c4-c483f22bd15d",
              "name": "testimonial-carousel",
              "value": "### Testimonial Carousel (Widget)\n\nA slideshow of testimonials.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"testimonial-carousel\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `slides`: An array of objects. Each object is a testimonial with `content`, `name`, `title` (job), and `image`.\n      * `image` must be an **Image Object**.\n      * Global settings control carousel behavior (`slides_per_view`) and styling for text and images.\n\n**Example (Testimonial Carousel):**\n\n```json\n{\n          \"id\": \"47612fb1\",\n          \"settings\": {\n            \"slides_name\": \"Testimonial\",\n            \"slides\": [\n              {\n                \"content\": \"Content for testimonial 1\",\n                \"name\": \"Sergio\",\n                \"title\": \"COO\",\n                 \"image\": {\n                        \"url\": \"https://picsum.photos/150/150?random=1\",\n                        \"id\": \"\",\n                        \"size\": \"\",\n                        \"source\": \"url\"\n                      },\n                \"_id\": \"b48f234\"\n              },\n              {\n                \"content\": \"Content for testimonial 2\",\n                \"name\": \"Raoul\",\n                \"title\": \"CEO\",\n                 \"image\": {\n                        \"url\": \"https://picsum.photos/150/150?random=1\",\n                        \"id\": \"\",\n                        \"size\": \"\",\n                        \"source\": \"url\"\n                      },\n                \"_id\": \"8421754\"\n              }\n            ],\n            \"skin\": \"bubble\",\n            \"alignment\": \"left\",\n            \"slides_per_view\": \"1\",\n            \"slides_to_scroll\": \"1\",\n            \"width\": {\n              \"unit\": \"%\",\n              \"size\": 50,\n              \"sizes\": []\n            },\n            \"space_between\": {\n              \"unit\": \"px\",\n              \"size\": 5,\n              \"sizes\": []\n            },\n            \"slide_background_color\": \"#FFE5E5\",\n            \"slide_border_size\": {\n              \"unit\": \"px\",\n              \"top\": \"2\",\n              \"right\": \"2\",\n              \"bottom\": \"2\",\n              \"left\": \"2\",\n              \"isLinked\": true\n            },\n            \"slide_border_radius\": {\n              \"unit\": \"px\",\n              \"size\": 10,\n              \"sizes\": []\n            },\n            \"slide_border_color\": \"#FF7979\",\n            \"slide_padding\": {\n              \"unit\": \"px\",\n              \"top\": \"30\",\n              \"right\": \"30\",\n              \"bottom\": \"30\",\n              \"left\": \"30\",\n              \"isLinked\": true\n            },\n            \"content_gap\": {\n              \"unit\": \"px\",\n              \"size\": 30,\n              \"sizes\": []\n            },\n            \"content_color\": \"#000000\",\n            \"content_typography_typography\": \"custom\",\n            \"content_typography_font_family\": \"Open Sans\",\n            \"content_typography_font_size\": {\n              \"unit\": \"px\",\n              \"size\": 16,\n              \"sizes\": []\n            },\n            \"content_typography_font_weight\": \"400\",\n            \"content_typography_font_style\": \"italic\",\n            \"name_color\": \"#FF0000\",\n            \"name_typography_typography\": \"custom\",\n            \"name_typography_font_family\": \"Roboto\",\n            \"name_typography_font_size\": {\n              \"unit\": \"px\",\n              \"size\": 16,\n              \"sizes\": []\n            },\n            \"name_typography_font_weight\": \"600\",\n            \"title_color\": \"#0E00FF\",\n            \"title_typography_typography\": \"custom\",\n            \"title_typography_font_family\": \"Open Sans\",\n            \"title_typography_font_size\": {\n              \"unit\": \"px\",\n              \"size\": 14,\n              \"sizes\": []\n            },\n            \"image_size\": {\n              \"unit\": \"px\",\n              \"size\": 60,\n              \"sizes\": []\n            },\n            \"image_gap\": {\n              \"unit\": \"px\",\n              \"size\": 20,\n              \"sizes\": []\n            },\n            \"image_border\": \"yes\",\n            \"image_border_color\": \"#FFFFFF\",\n            \"image_border_width\": {\n              \"unit\": \"px\",\n              \"size\": 1,\n              \"sizes\": []\n            },\n            \"image_border_radius\": {\n              \"unit\": \"px\",\n              \"size\": 50,\n              \"sizes\": []\n            },\n            \"arrows_size\": {\n              \"unit\": \"px\",\n              \"size\": 30,\n              \"sizes\": []\n            },\n            \"arrows_color\": \"#0A0000\",\n            \"pagination_gap\": {\n              \"unit\": \"px\",\n              \"size\": 5,\n              \"sizes\": []\n            },\n            \"pagination_size\": {\n              \"unit\": \"px\",\n              \"size\": 10,\n              \"sizes\": []\n            },\n            \"pagination_color_inactive\": \"#EC6262\",\n            \"pagination_color\": \"#FC0000\",\n            \"background_color\": \"#D1D1D1\",\n            \"text_padding\": {\n              \"unit\": \"px\",\n              \"top\": \"30\",\n              \"right\": \"30\",\n              \"bottom\": \"30\",\n              \"left\": \"30\",\n              \"isLinked\": true\n            },\n            \"border_radius\": {\n              \"unit\": \"px\",\n              \"top\": \"10\",\n              \"right\": \"10\",\n              \"bottom\": \"10\",\n              \"left\": \"10\",\n              \"isLinked\": true\n            }\n          },\n          \"elements\": [],\n          \"isInner\": false,\n          \"widgetType\": \"testimonial-carousel\",\n          \"elType\": \"widget\"\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "d45cc9ac-e2fa-4182-8586-73b5c70583e2",
              "name": "image-box",
              "value": "### Image Box (Widget)\n\nA self-contained block combining an image, title, and description.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"image-box\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `image`: An **Image Object**.\n      * `title_text`: The string for the title.\n      * `description_text`: The string for the body text.\n      * Global settings for alignment, image size, and typography/colors.\n\n**Example (Image Box):**\n\n```json\n{\n  \"id\": \"2b41b844\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"image-box\",\n  \"settings\": {\n    \"image\": {\n      \"url\": \"https://picsum.photos/600/400\",\n      \"id\": \"\",\n      \"size\": \"\",\n      \"source\": \"url\"\n    },\n    \"title_text\": \"This is an Image Box\",\n    \"description_text\": \"A short description of the content goes here.\",\n    \"text_align\": \"center\",\n    \"title_color\": \"#111111\",\n    \"description_color\": \"#555555\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "d237aceb-014d-4392-9a61-99454f6be86e",
              "name": "icon-box",
              "value": "### Icon Box (Widget)\n\nA self-contained block combining an icon, title, and description.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"icon-box\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `selected_icon`: An **Icon Object** (e.g., `{ \"value\": \"fas fa-shield-alt\", ... }`).\n      * `title_text`: The string for the title.\n      * `description_text`: The string for the body text.\n      * Global settings for alignment, icon size, and typography/colors.\n\n**Example (Icon Box):**\n\n```json\n{\n  \"id\": \"146272e6\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"icon-box\",\n  \"settings\": {\n    \"selected_icon\": {\n      \"value\": \"fas fa-shield-alt\",\n      \"library\": \"fa-solid\"\n    },\n    \"title_text\": \"Secure & Reliable\",\n    \"description_text\": \"A short description of the feature goes here.\",\n    \"text_align\": \"center\",\n    \"primary_color\": \"#027BD6\",\n    \"title_color\": \"#111111\",\n    \"description_color\": \"#555555\"\n  },\n  \"elements\": []\n}\n```",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        128
      ],
      "id": "9de07d37-27d7-4916-9b1f-5e99a33905ff",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "let elem = '';\nfor (const item of $input.first().json.schema) {\n  elem = elem + $input.first().json[item] + '\\n\\r';\n}\n\nreturn {elem:elem}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        128
      ],
      "id": "a7e27540-3b55-4dd5-b0cd-4a31fffbd8fb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8623dcd5-1007-4582-953d-235b71ddeefe",
              "name": "widget",
              "value": "={{ $json.elem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        128
      ],
      "id": "2b1de4a9-f538-4050-83d1-9a3cff223bcb",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63b601de-010a-42d7-b0a7-8bd41c4abc55",
              "name": "schema",
              "value": "={{ $json.schema }}",
              "type": "array"
            },
            {
              "id": "a922d1af-0cb0-41e7-bae5-65c1f92949c8",
              "name": "container",
              "value": "#### Container\n\nThis is the main layout element for sections and wrappers.\n\n* `elType`: `\"container\"`\n* `isInner`: `false` for top-level sections. `true` for nested containers (e.g., grid cells).\n* `elements`: An array that holds child element objects (widgets or other containers).\n* `settings`: An object containing styling like `padding`, `margin`, `flex_gap`, `background_background` (\"classic\" or \"gradient\"), `background_color`, `background_image` (must be an Image Object), and `background_overlay_background`.\n\n**Example (Container):**\n\n```json\n{\n  \"id\": \"a1b2c3d4\",\n  \"elType\": \"container\",\n  \"isInner\": false,\n  \"settings\": {\n    \"content_width\": \"full\",\n    \"width\": {\n      \"unit\": \"%\",\n      \"size\": 100\n    },\n    \"min_height\": {\n      \"unit\": \"px\",\n      \"size\": 400\n    },\n    \"flex_direction\": \"column\",\n    \"flex_wrap\": \"nowrap\",\n    \"justify_content\": \"center\",\n    \"align_items\": \"center\",\n    \"align_content\": \"center\",\n    \"gap\": {\n      \"unit\": \"px\",\n      \"size\": 20\n    },\n\n    \"padding\": {\n      \"unit\": \"px\",\n      \"top\": 20,\n      \"right\": 20,\n      \"bottom\": 20,\n      \"left\": 20,\n      \"isLinked\": true\n    },\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 0,\n      \"left\": 0,\n      \"isLinked\": true\n    },\n\n    \"background_background\": \"classic\",\n    \"background_color\": \"#ffffff\",\n\n    \"background_image\": {\n      \"url\": \"https://picsum.photos/1200/800\",\n      \"id\": \"\"\n    },\n    \"background_position\": \"center center\",\n    \"background_repeat\": \"no-repeat\",\n    \"background_size\": \"cover\",\n\n    \"border_border\": \"solid\",\n    \"border_width\": {\n      \"top\": 1,\n      \"right\": 1,\n      \"bottom\": 1,\n      \"left\": 1,\n      \"isLinked\": true\n    },\n    \"border_color\": \"#dddddd\",\n    \"border_radius\": {\n      \"unit\": \"px\",\n      \"top\": 10,\n      \"right\": 10,\n      \"bottom\": 10,\n      \"left\": 10,\n      \"isLinked\": true\n    },\n\n    \"box_shadow_box_shadow_type\": \"yes\",\n    \"box_shadow_box_shadow\": {\n      \"horizontal\": 0,\n      \"vertical\": 5,\n      \"blur\": 15,\n      \"spread\": 0,\n      \"color\": \"rgba(0,0,0,0.1)\"\n    },\n\n    \"overflow\": \"hidden\",\n\n    \"html_tag\": \"div\",\n\n    \"animation\": \"fadeIn\",\n    \"animation_duration\": \"normal\",\n    \"animation_delay\": 0,\n\n    \"css_classes\": \"custom-container\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**\n    * Unique identifier for the element\n    * Must be unique across the entire page JSON\n    * Usually a random hash string\n* **`elType`**\n    * Defines the type of element\n    * For flexbox layout always: `\"container\"`\n* **`isInner`**\n    * Boolean flag\n    * `false` = root container\n    * `true` = nested container inside another container\n* **`elements`**\n    * Array of child elements\n    * Can contain: other containers, widgets\n    * Must always exist (can be empty array)\n\n##### SETTINGS\n\n**Layout (Flexbox)**\n* **`content_width`**\n    * Defines layout width behavior\n    * Values: `\"full\"` (full width), `\"boxed\"` (constrained width)\n* **`width`**\n    * Controls container width\n    * Structure: `unit` (%, px, vw), `size` (numeric value)\n* **`min_height`**\n    * Minimum height of container\n    * Prevents collapsing when empty\n* **`flex_direction`**\n    * Main axis direction\n    * Values: `\"row\"` (horizontal layout), `\"column\"` (vertical layout)\n* **`flex_wrap`**\n    * Controls wrapping behavior of children\n    * Values: `\"nowrap\"` (single line), `\"wrap\"` (multiple lines)\n* **`justify_content`**\n    * Aligns children along main axis\n    * Values: `start`, `center`, `end`, `space-between`, `space-around`, `space-evenly`\n* **`align_items`**\n    * Aligns children along cross axis\n    * Values: `start`, `center`, `end`, `stretch`\n* **`align_content`**\n    * Controls spacing between rows (only when wrap is active)\n* **`gap`**\n    * Space between child elements\n    * Preferred over margin spacing\n    * Structure: `unit` (px, %, em), `size` (numeric)\n\n**Spacing**\n* **`padding`**\n    * Inner spacing (inside container)\n    * Structure includes: `top`, `right`, `bottom`, `left`\n    * `isLinked`: `true` (all sides equal), `false` (individual control)\n* **`margin`**\n    * Outer spacing (outside container)\n    * Same structure as padding\n\n**Background**\n* **`background_background`**\n    * Background type\n    * Values: `\"classic\"` (color or image), `\"gradient\"`\n* **`background_color`**\n    * Hex color value\n* **`background_image`**\n    * Image object\n    * `url` (image URL), `id` (media ID - optional)\n* **`background_position`**\n    * Image position\n    * Example: `\"center center\"`, `\"top left\"`\n* **`background_repeat`**\n    * Repeat behavior\n    * Values: `no-repeat`, `repeat`, `repeat-x`, `repeat-y`\n* **`background_size`**\n    * Image scaling\n    * Values: `cover`, `contain`, `auto`\n\n**Border**\n* **`border_border`**\n    * Border type\n    * Values: `none`, `solid`, `dashed`, `dotted`, `double`\n* **`border_width`**\n    * Border thickness per side\n* **`border_color`**\n    * Border color\n* **`border_radius`**\n    * Corner rounding\n    * Same structure as padding\n\n**Shadow**\n* **`box_shadow_box_shadow_type`**\n    * Enables shadow\n    * `\"yes\"` = active\n* **`box_shadow_box_shadow`**\n    * Shadow configuration\n    * `horizontal` (X offset), `vertical` (Y offset), `blur` (blur radius), `spread` (spread radius), `color` (rgba color)\n\n**Overflow**\n* **`overflow`**\n    * Controls content overflow\n    * Values: `hidden` (clip content), `visible` (default)\n\n**HTML Tag**\n* **`html_tag`**\n    * HTML wrapper tag\n    * Default: `\"div\"`\n    * Can be: `section`, `header`, `footer`, `main`, etc.\n\n**Motion Effects**\n* **`animation`**\n    * Entrance animation\n    * Example: `fadeIn`, `slideInUp`, `zoomIn`\n* **`animation_duration`**\n    * Speed of animation\n    * Values: `fast`, `normal`, `slow`\n* **`animation_delay`**\n    * Delay before animation starts (ms)\n\n**Advanced**\n* **`css_classes`**\n    * Custom CSS classes\n    * Space-separated string\n* **`custom_css`**\n    * Custom CSS code\n\n---",
              "type": "string"
            },
            {
              "id": "31ce11dc-0c39-4524-953f-85ff432d547d",
              "name": "heading",
              "value": "#### Heading (Widget)\n\nUsed for titles.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"heading\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `title`: The text content (can include simple HTML like `<span>`).\n    * `header_size`: HTML tag (\"h1\", \"h2\", \"h3\", etc.).\n    * `typography_...` properties and `title_color`.\n\n**Example (Heading):**\n\n```json\n{\n  \"id\": \"heading123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"heading\",\n  \"settings\": {\n    \"title\": \"This is a Heading\",\n    \"link\": {\n      \"url\": \"\",\n      \"is_external\": \"\",\n      \"nofollow\": \"\"\n    },\n    \"size\": \"default\",\n    \"header_size\": \"h2\",\n\n    \"align\": \"center\",\n\n    \"title_color\": \"#000000\",\n\n    \"typography_typography\": \"custom\",\n    \"typography_font_family\": \"Poppins\",\n    \"typography_font_size\": {\n      \"unit\": \"px\",\n      \"size\": 32\n    },\n    \"typography_font_weight\": \"600\",\n    \"typography_text_transform\": \"none\",\n    \"typography_font_style\": \"normal\",\n    \"typography_text_decoration\": \"none\",\n    \"typography_line_height\": {\n      \"unit\": \"em\",\n      \"size\": 1.4\n    },\n    \"typography_letter_spacing\": {\n      \"unit\": \"px\",\n      \"size\": 0\n    },\n\n    \"text_shadow_text_shadow_type\": \"yes\",\n    \"text_shadow_text_shadow\": {\n      \"horizontal\": 0,\n      \"vertical\": 2,\n      \"blur\": 5,\n      \"color\": \"rgba(0,0,0,0.3)\"\n    },\n\n    \"blend_mode\": \"\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"padding\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 0,\n      \"left\": 0,\n      \"isLinked\": true\n    },\n\n    \"_animation\": \"fadeIn\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**\n    * Unique identifier for this widget\n    * Must be unique across the page\n* **`elType`**\n    * Must always be `\"widget\"` for widgets\n* **`widgetType`**\n    * Defines widget type\n    * For heading: `\"heading\"`\n* **`elements`**\n    * Always an empty array for widgets\n    * Widgets cannot have children\n\n##### CONTENT\n\n* **`title`**\n    * Main text content of the heading\n    * Supports HTML (e.g. `<br>`, `<span>`)\n* **`link`**\n    * Makes the heading clickable\n    * Structure: `url` (destination link), `is_external` (`\"on\"` opens in new tab), `nofollow` (`\"on\"` adds rel=\"nofollow\")\n* **`size`**\n    * Preset size (theme-based)\n    * Values: `small`, `medium`, `large`, `xl`, `xxl`, `default`\n* **`header_size`**\n    * HTML tag used\n    * Values: `h1`, `h2`, `h3`, `h4`, `h5`, `h6`, `div`, `span`, `p`\n\n##### ALIGNMENT\n\n* **`align`**\n    * Text alignment\n    * Values: `left`, `center`, `right`, `justify`\n\n##### COLOR\n\n* **`title_color`**\n    * Text color in hex or rgba\n\n##### TYPOGRAPHY\n\n* **`typography_typography`**\n    * Enables custom typography\n    * Value: `\"custom\"` (activates all typography fields)\n* **`typography_font_family`**\n    * Font name (must be available in Elementor)\n* **`typography_font_size`**\n    * Structure: `unit` (px, em, rem), `size` (numeric)\n* **`typography_font_weight`**\n    * Values: 100–900 or normal/bold\n* **`typography_text_transform`**\n    * Text casing\n    * Values: `none`, `uppercase`, `lowercase`, `capitalize`\n* **`typography_font_style`**\n    * Values: `normal`, `italic`\n* **`typography_text_decoration`**\n    * Values: `none`, `underline`, `line-through`\n* **`typography_line_height`**\n    * Controls spacing between lines\n* **`typography_letter_spacing`**\n    * Space between characters\n\n##### TEXT SHADOW\n\n* **`text_shadow_text_shadow_type`**\n    * `\"yes\"` enables text shadow\n* **`text_shadow_text_shadow`**\n    * Shadow properties: `horizontal` (X offset), `vertical` (Y offset), `blur` (blur radius), `color` (rgba color)\n\n##### BLEND MODE\n\n* **`blend_mode`**\n    * CSS mix-blend-mode\n    * Usually empty unless advanced design used\n\n##### SPACING\n\n* **`margin`**\n    * Outer spacing\n    * Structure: `top`, `right`, `bottom`, `left`, `isLinked` (same values or not)\n* **`padding`**\n    * Inner spacing\n\n##### MOTION EFFECTS\n\n* **`_animation`**\n    * Entrance animation\n    * Example: `fadeIn`, `slideInUp`, `zoomIn`\n* **`_animation_delay`**\n    * Delay before animation starts (ms)\n\n##### ADVANCED\n\n* **`css_classes`**\n    * Custom CSS classes\n* **`custom_css`**\n    * Custom CSS (Elementor Pro only)\n\n---",
              "type": "string"
            },
            {
              "id": "f90bef15-6eb4-4699-9db8-5ffb86642f9e",
              "name": "icon-list",
              "value": "#### Icon List (Widget)\n\nUsed for a bulleted list with custom icons.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"icon-list\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `icon_list`: An array of objects. Each object has `text` (the list item) and optionally `selected_icon` (an icon object with `value` and `library`).\n\n**Example (Icon List):**\n\n```json\n{\n  \"id\": \"iconlist123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"icon-list\",\n  \"settings\": {\n    \"icon_list\": [\n      {\n        \"_id\": \"item1\",\n        \"text\": \"First item\",\n        \"selected_icon\": {\n          \"value\": \"fas fa-check\",\n          \"library\": \"fa-solid\"\n        },\n        \"link\": {\n          \"url\": \"\",\n          \"is_external\": \"\",\n          \"nofollow\": \"\"\n        }\n      },\n      {\n        \"_id\": \"item2\",\n        \"text\": \"Second item\",\n        \"selected_icon\": {\n          \"value\": \"fas fa-star\",\n          \"library\": \"fa-solid\"\n        },\n        \"link\": {\n          \"url\": \"\",\n          \"is_external\": \"\",\n          \"nofollow\": \"\"\n        }\n      }\n    ],\n\n    \"view\": \"default\",\n    \"layout\": \"vertical\",\n\n    \"align\": \"left\",\n\n    \"space_between\": {\n      \"unit\": \"px\",\n      \"size\": 10\n    },\n\n    \"icon_align\": \"left\",\n\n    \"icon_color\": \"#0073e6\",\n    \"text_color\": \"#333333\",\n\n    \"icon_size\": {\n      \"unit\": \"px\",\n      \"size\": 20\n    },\n\n    \"text_indent\": {\n      \"unit\": \"px\",\n      \"size\": 10\n    },\n\n    \"divider\": \"\",\n    \"divider_style\": \"solid\",\n    \"divider_weight\": {\n      \"unit\": \"px\",\n      \"size\": 1\n    },\n    \"divider_color\": \"#dddddd\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique widget identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"icon-list\"`\n* **`elements`**: Always empty array\n\n##### ICON LIST (CRITICAL - REPEATER)\n\n* **`icon_list`**\n    * Array of list items.\n    * `_id`: Unique identifier\n    * `text`: Text content of the list item\n    * `selected_icon`: Icon object (`value` → icon class, `library` → icon library)\n    * `link`: Optional link for the item\n    * *IMPORTANT: `icon_list` is REQUIRED. At least one item must exist.*\n\n##### LAYOUT & ALIGNMENT\n\n* **`layout`**: Orientation of list (`vertical`, `horizontal`)\n* **`view`**: Visual style (`default`, `stacked`, `framed`)\n* **`align`**: Alignment of list block (`left`, `center`, `right`, `justify`)\n* **`icon_align`**: Alignment of icon relative to text (`left`, `right`)\n\n##### SPACING, COLORS & DIVIDER\n\n* **`space_between`**: Space between list items\n* **`text_indent`**: Space between icon and text\n* **`icon_color`** / **`text_color`**: Color of icons / text\n* **`icon_size`**: Size of icons\n* **`divider`**: Enables divider between items (`\"\"` = disabled, `\"yes\"` = enabled)\n* **`divider_style`**: Border style (`solid`, `dashed`, `dotted`)\n* **`divider_weight`** / **`divider_color`**: Thickness and color of divider\n\n**IMPORTANT NOTES:**\n1. `icon_list` is REQUIRED. Each item MUST include `text` and `selected_icon`.\n2. `layout` = `\"horizontal\"` turns list into inline row.\n3. Each item is independent (can have different icon + link).\n\n---",
              "type": "string"
            },
            {
              "id": "573f0497-dd60-44fb-936b-da2171102619",
              "name": "button",
              "value": "#### Button (Widget)\n\nUsed for links and calls to action.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"button\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `text`: The button label (e.g., \"Learn More\").\n    * `link`: Object with `url` and empty `is_external`, `nofollow`.\n    * Colors: `button_text_color`, `background_color`, `hover_color`, `button_background_hover_color`.\n    * `border_radius` (be creative) and `text_padding`.\n\n**Example (Button):**\n\n```json\n{\n  \"id\": \"button123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"button\",\n  \"settings\": {\n    \"text\": \"Click Here\",\n\n    \"link\": {\n      \"url\": \"https://example.com\",\n      \"is_external\": \"on\",\n      \"nofollow\": \"\"\n    },\n\n    \"align\": \"center\",\n    \"size\": \"md\",\n\n    \"selected_icon\": {\n      \"value\": \"fas fa-arrow-right\",\n      \"library\": \"fa-solid\"\n    },\n    \"icon_align\": \"right\",\n    \"icon_indent\": {\n      \"unit\": \"px\",\n      \"size\": 10\n    },\n\n    \"view\": \"traditional\",\n    \"button_type\": \"default\",\n\n    \"text_color\": \"#ffffff\",\n    \"background_color\": \"#0073e6\",\n\n    \"hover_color\": \"#ffffff\",\n    \"background_hover_color\": \"#005bb5\",\n\n    \"border_border\": \"none\",\n    \"border_radius\": {\n      \"unit\": \"px\",\n      \"top\": 5,\n      \"right\": 5,\n      \"bottom\": 5,\n      \"left\": 5,\n      \"isLinked\": true\n    },\n\n    \"padding\": {\n      \"unit\": \"px\",\n      \"top\": 12,\n      \"right\": 24,\n      \"bottom\": 12,\n      \"left\": 24,\n      \"isLinked\": false\n    },\n\n    \"box_shadow_box_shadow_type\": \"no\",\n\n    \"hover_animation\": \"grow\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"button\"`\n* **`elements`**: Always empty array\n\n##### CONTENT & LINK (CRITICAL)\n\n* **`text`**: Button label text. Can include basic HTML (rarely used).\n* **`link`**\n    * Object defining button destination.\n    * `url`: Target URL\n    * `is_external`: `\"on\"` opens in new tab, `\"\"` same tab\n    * `nofollow`: `\"on\"` adds rel=\"nofollow\"\n    * *IMPORTANT: If link is empty → button is not clickable.*\n\n##### ALIGNMENT & SIZE\n\n* **`align`**: Button alignment inside container (`left`, `center`, `right`, `justify`)\n* **`size`**: Predefined button size (`xs`, `sm`, `md`, `lg`, `xl`)\n\n##### ICON\n\n* **`selected_icon`**\n    * Icon object: `value` (icon class), `library` (icon set)\n* **`icon_align`**: Position of icon (`left`, `right`)\n* **`icon_indent`**: Space between icon and text\n\n##### STYLE & COLORS\n\n* **`view`**: Button style type (`traditional`, `outline`, `text`)\n* **`button_type`**: Semantic HTML type (`default`, `info`, `success`, `warning`, `danger`)\n* **`text_color`**: Text color\n* **`background_color`**: Button background color\n* **`hover_color`**: Text color on hover\n* **`background_hover_color`**: Background color on hover\n\n##### BORDER, SPACING, SHADOW, HOVER\n\n* **`border_border`**: Border type (`none`, `solid`, `dashed`)\n* **`border_radius`**: Corner rounding\n* **`padding`**: Inner spacing (button size feel)\n* **`margin`**: Outer spacing\n* **`box_shadow_box_shadow_type`**: Enables shadow (`yes` or `no`)\n* **`hover_animation`**: Animation on hover (e.g., `grow`, `shrink`, `pulse`, `float`)\n\n**IMPORTANT NOTES:**\n1. `\"text\"` is REQUIRED.\n2. `\"link.url\"` determines if button is clickable.\n3. Icon is optional. Omitted = no icon rendered.\n4. Padding heavily affects button size.\n5. `view` affects styling (`traditional` = filled, `outline` = border only, `text` = minimal).\n\n---",
              "type": "string"
            },
            {
              "id": "a107c83d-ff98-4365-b0e3-dec53522bb22",
              "name": "grid",
              "value": "#### Grid (Special Container)\n\nThis is a **Container** used for multi-column layouts.\n\n* `elType`: `\"container\"`\n* `isInner`: `true` (as it's usually inside a main section container).\n* `settings`:\n    * `container_type`: **MUST** be `\"grid\"`.\n    * `grid_columns_grid`: Object with `unit: \"fr\"`, `size` (the number of columns, e.g., 2, 3), and `sizes: []`.\n    * `grid_rows_grid`: Object with `unit: \"fr\"`, `size` (the number of rows, e.g., 1, 2 depend on the rows), and `sizes: []`.\n* `elements`: Its `elements` array **MUST** contain other **Containers** (with `isInner: true`) which act as the grid \"cells.\"\n\n**Example (3-Column Grid):**\n\n```json\n{\n  \"id\": \"grid123\",\n  \"elType\": \"container\",\n  \"isInner\": true,\n  \"settings\": {\n    \"layout\": \"grid\",\n\n    \"grid_template_columns\": \"repeat(3, 1fr)\",\n    \"grid_template_rows\": \"1\",\n    \"grid_column_gap\": {\n      \"unit\": \"px\",\n      \"size\": 20\n    },\n    \"grid_row_gap\": {\n      \"unit\": \"px\",\n      \"size\": 20\n    },\n\n    \"justify_content\": \"center\",\n    \"align_items\": \"center\",\n\n    \"padding\": {\n      \"unit\": \"px\",\n      \"top\": 20,\n      \"right\": 20,\n      \"bottom\": 20,\n      \"left\": 20,\n      \"isLinked\": true\n    }\n  },\n    \"elements\": [\n    { \"id\": \"396af374\", \"elType\": \"container\", \"isInner\": true, \"settings\": {}, \"elements\": [] },\n    { \"id\": \"5d484588\", \"elType\": \"container\", \"isInner\": true, \"settings\": {}, \"elements\": [] },\n    { \"id\": \"9a8b7c6d\", \"elType\": \"container\", \"isInner\": true, \"settings\": {}, \"elements\": [] }\n  ]\n}\n```\n\n**Explanation:**\n\n##### GRID MODE (CONTAINER)\n\n*IMPORTANT: \"Grid\" is NOT a widget. It is a layout mode inside container.*\n\n* **`layout`**\n    * Defines layout system\n    * Values: `\"flex\"` (default), `\"grid\"` (enables CSS Grid)\n* **`grid_template_columns`**\n    * Defines number and size of columns (Uses CSS syntax)\n    * Examples: `\"repeat(3, 1fr)\"` (3 equal columns), `\"1fr 2fr\"` (2 columns with ratio)\n* **`grid_template_rows`**\n    * Defines row structure\n    * Usually: `\"auto\"` (height based on content)\n* **`grid_column_gap`**\n    * Horizontal spacing between columns\n    * Structure: `unit` (px, %, em), `size` (numeric)\n* **`grid_row_gap`**\n    * Vertical spacing between rows\n* **`justify_content`**\n    * Aligns grid inside container (horizontal)\n    * Values: `start`, `center`, `end`, `stretch`\n* **`align_items`**\n    * Aligns items inside each grid cell\n    * Values: `start`, `center`, `end`, `stretch`\n* **`padding`**\n    * Same as flex container (Inner spacing)\n* **`elements`**\n    * Grid children (widgets or containers)\n    * Each child becomes a grid item\n\n##### CHILD ITEM POSITIONING (IMPORTANT)\n\nEach child container/widget can have:\n* **`grid_column`**\n    * Defines column span or position\n    * Example: `\"span 2\"`\n* **`grid_row`**\n    * Defines row span\n\n---",
              "type": "string"
            },
            {
              "id": "4689e6ba-dfe0-463b-a55c-5e7c4d54e3ba",
              "name": "text-editor",
              "value": "#### Text Editor (Widget)\n\nUsed for paragraphs and body text.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"text-editor\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `editor`: An **HTML string** for the content (e.g., `<p>Hello world.</p>`).\n    * `typography_...` properties and `text_color`.\n\n**Example (Text Editor):**\n\n```json\n{\n  \"id\": \"texteditor123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"text-editor\",\n  \"settings\": {\n    \"editor\": \"<p>This is a <strong>text editor</strong> content.</p>\",\n\n    \"align\": \"left\",\n\n    \"text_color\": \"#333333\",\n\n    \"typography_typography\": \"custom\",\n    \"typography_font_family\": \"Poppins\",\n    \"typography_font_size\": {\n      \"unit\": \"px\",\n      \"size\": 16\n    },\n    \"typography_font_weight\": \"400\",\n    \"typography_line_height\": {\n      \"unit\": \"em\",\n      \"size\": 1.6\n    },\n    \"typography_letter_spacing\": {\n      \"unit\": \"px\",\n      \"size\": 0\n    },\n\n    \"drop_cap\": \"no\",\n\n    \"text_shadow_text_shadow_type\": \"yes\",\n    \"text_shadow_text_shadow\": {\n      \"horizontal\": 0,\n      \"vertical\": 2,\n      \"blur\": 5,\n      \"color\": \"rgba(0,0,0,0.2)\"\n    },\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"padding\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 0,\n      \"left\": 0,\n      \"isLinked\": true\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**\n    * Unique identifier for widget\n    * Must be unique across page\n* **`elType`**\n    * Always `\"widget\"`\n* **`widgetType`**\n    * Must be `\"text-editor\"`\n* **`elements`**\n    * Always empty array\n    * Widgets cannot contain children\n\n##### CONTENT\n\n* **`editor`**\n    * Main content field\n    * Accepts HTML (**VERY IMPORTANT**)\n    * Examples: `\"<p>Hello world</p>\"`, `\"<p><strong>Bold</strong> text</p>\"`, `\"<ul><li>Item</li></ul>\"`\n    * This is NOT plain text → must be valid HTML string\n\n##### ALIGNMENT\n\n* **`align`**\n    * Text alignment\n    * Values: `left`, `center`, `right`, `justify`\n\n##### COLOR\n\n* **`text_color`**\n    * Text color (hex or rgba)\n\n##### TYPOGRAPHY\n\n* **`typography_typography`**\n    * Enables custom typography\n    * Value: `\"custom\"`\n* **`typography_font_family`**\n    * Font family name\n* **`typography_font_size`**\n    * Structure: `unit` (px, em, rem), `size` (numeric)\n* **`typography_font_weight`**\n    * Values: 100–900\n* **`typography_line_height`**\n    * Space between lines\n* **`typography_letter_spacing`**\n    * Space between characters\n\n##### DROP CAP\n\n* **`drop_cap`**\n    * Adds large first letter styling\n    * Values: `\"yes\"` or `\"no\"`\n\n##### TEXT SHADOW\n\n* **`text_shadow_text_shadow_type`**\n    * `\"yes\"` enables text shadow\n* **`text_shadow_text_shadow`**\n    * Shadow configuration: `horizontal` (X offset), `vertical` (Y offset), `blur` (blur radius), `color` (rgba)\n\n##### SPACING\n\n* **`margin`**: Outer spacing\n* **`padding`**: Inner spacing\n\n##### MOTION EFFECTS\n\n* **`_animation`**: Entrance animation (Empty = no animation)\n* **`_animation_delay`**: Delay before animation\n\n##### ADVANCED\n\n* **`css_classes`**: Custom CSS classes\n* **`custom_css`**: Custom CSS (Elementor Pro only)\n\n**IMPORTANT NOTES:**\n1. `\"editor\"` MUST contain HTML. Plain text is still wrapped in `<p>`.\n2. Elementor auto-generates: `\"<p>Your text</p>\"`\n3. Lists example: `\"<ul><li>Item 1</li><li>Item 2</li></ul>\"`\n4. Line breaks: `\"<p>Line 1<br>Line 2</p>\"`\n\n---",
              "type": "string"
            },
            {
              "id": "2b5ba814-4dbc-499c-944a-a7f52e81ef8e",
              "name": "image",
              "value": "#### Image (Widget)\n\nUsed for standalone images.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"image\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `image`: An **Image Object** as defined in the Core Rules.\n    * `image_size`: `\"full\"`.\n\n**Example (Image):**\n\n```json\n{\n  \"id\": \"image123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"image\",\n  \"settings\": {\n    \"image\": {\n      \"url\": \"https://picsum.photos/800/600\",\n      \"id\": \"\",\n      \"size\": \"\",\n      \"alt\": \"\"\n    },\n\n    \"image_size\": \"large\",\n\n    \"align\": \"center\",\n\n    \"caption_source\": \"none\",\n    \"caption\": \"\",\n\n    \"link_to\": \"none\",\n    \"link\": {\n      \"url\": \"\",\n      \"is_external\": \"\",\n      \"nofollow\": \"\"\n    },\n\n    \"open_lightbox\": \"default\",\n\n    \"width\": {\n      \"unit\": \"%\",\n      \"size\": 100\n    },\n    \"max_width\": {\n      \"unit\": \"%\",\n      \"size\": 100\n    },\n\n    \"opacity\": {\n      \"unit\": \"%\",\n      \"size\": 100\n    },\n\n    \"css_filters_css_filter_type\": \"none\",\n\n    \"border_border\": \"none\",\n    \"border_radius\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 0,\n      \"left\": 0,\n      \"isLinked\": true\n    },\n\n    \"box_shadow_box_shadow_type\": \"no\",\n\n    \"hover_animation\": \"\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"padding\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 0,\n      \"left\": 0,\n      \"isLinked\": true\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique identifier for the widget\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"image\"`\n* **`elements`**: Always empty array\n\n##### IMAGE SOURCE (CRITICAL)\n\n* **`image`**\n    * Object containing image data\n    * `url` (image URL - required), `id` (WordPress media ID - optional), `size` (rarely used in exports), `alt` (alt text)\n    * *IMPORTANT: `url` is the most important field. Elementor works without `id`.*\n* **`image_size`**\n    * Controls WordPress image size\n    * Values: `thumbnail`, `medium`, `large`, `full`, `custom`\n\n##### ALIGNMENT\n\n* **`align`**\n    * Image alignment\n    * Values: `left`, `center`, `right`\n\n##### CAPTION\n\n* **`caption_source`**\n    * Defines where caption comes from\n    * Values: `none`, `attachment` (from media library), `custom`\n* **`caption`**\n    * Custom caption text (used if `caption_source` = `custom`)\n\n##### LINK\n\n* **`link_to`**\n    * Defines link behavior\n    * Values: `none`, `media` (link to image file), `custom`\n* **`link`**\n    * Link object\n    * `url` (destination), `is_external` (`\"on\"` opens new tab), `nofollow` (`\"on\"` adds rel=\"nofollow\")\n\n##### LIGHTBOX\n\n* **`open_lightbox`**\n    * Controls lightbox behavior\n    * Values: `default`, `yes`, `no`\n\n##### SIZE & DISPLAY\n\n* **`width`**: Controls image width. Structure: `unit` (%, px, vw), `size` (numeric)\n* **`max_width`**: Maximum width constraint\n* **`opacity`**: Transparency level. 100 = fully visible\n\n##### CSS FILTERS\n\n* **`css_filters_css_filter_type`**\n    * Enables filters\n    * Values: `none`, `custom` (when custom, fields like blur, brightness appear)\n\n##### BORDER\n\n* **`border_border`**: Border type (none, solid, dashed, etc.)\n* **`border_radius`**: Corner rounding\n\n##### SHADOW & HOVER\n\n* **`box_shadow_box_shadow_type`**: Enables shadow (`yes` or `no`)\n* **`hover_animation`**: Animation on hover (e.g., `grow`, `shrink`, `pulse`)\n\n##### SPACING, MOTION & ADVANCED\n\n* **`margin`**: Outer spacing\n* **`padding`**: Inner spacing\n* **`_animation`**: Entrance animation\n* **`_animation_delay`**: Delay in ms\n* **`css_classes`**: Custom CSS classes\n* **`custom_css`**: Custom CSS (Pro only)\n\n**IMPORTANT NOTES:**\n1. Minimum requirement: `image.url` MUST exist.\n2. Without image: widget will not render properly.\n3. Common structure: `\"image\": { \"url\": \"...\", \"id\": \"\" }`\n4. `image_size` affects performance.\n5. `link_to` must match link usage (`\"custom\"` -> use `link.url`, `\"media\"` -> auto uses image URL).\n\n---",
              "type": "string"
            },
            {
              "id": "87980d24-0fb6-4558-ba2f-38d2e693ecc1",
              "name": "video",
              "value": "#### Video (Widget)\n\nUsed to embed a video.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"video\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `youtube_url`: A **relevant sample YouTube URL**.\n    * Other URL fields (`vimeo_url`, `dailymotion_url`) should be `\"\"`.\n\n**Example (Video):**\n\n```json\n{\n  \"id\": \"video123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"video\",\n  \"settings\": {\n    \"source\": \"youtube\",\n\n    \"youtube_url\": \"https://www.youtube.com/watch?v=xxxx\",\n    \"vimeo_url\": \"\",\n    \"hosted_url\": {\n      \"url\": \"\"\n    },\n\n    \"start\": 0,\n    \"end\": 0,\n\n    \"autoplay\": \"\",\n    \"mute\": \"\",\n    \"loop\": \"\",\n    \"controls\": \"yes\",\n\n    \"showinfo\": \"yes\",\n    \"modestbranding\": \"\",\n\n    \"aspect_ratio\": \"169\",\n\n    \"lightbox\": \"\",\n\n    \"lazy_load\": \"yes\",\n\n    \"image_overlay\": \"\",\n    \"image_overlay_url\": {\n      \"url\": \"\"\n    },\n\n    \"play_icon\": \"yes\",\n\n    \"align\": \"center\",\n\n    \"width\": {\n      \"unit\": \"%\",\n      \"size\": 100\n    },\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique identifier for widget\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"video\"`\n* **`elements`**: Always empty array\n\n##### SOURCE (CRITICAL)\n\n* **`source`**\n    * Defines video provider (`youtube`, `vimeo`, `hosted`). Determines which URL field is used.\n* **`youtube_url`**: Used when source = youtube\n* **`vimeo_url`**: Used when source = vimeo\n* **`hosted_url`**: Used when source = hosted. Structure requires `url` object mapping to direct video file (mp4, etc.).\n\n##### PLAYBACK & YOUTUBE SETTINGS\n\n* **`start`**: Start time in seconds\n* **`end`**: End time in seconds (0 = play full video)\n* **`autoplay`**: `\"yes\"` enables autoplay\n* **`mute`**: `\"yes\"` mutes audio (Required for autoplay in browsers)\n* **`loop`**: `\"yes\"` loops video\n* **`controls`**: `\"yes\"` shows player controls\n* **`showinfo`**: `\"yes\"` shows video info (YouTube specific)\n* **`modestbranding`**: Reduces YouTube branding (`\"\"` or `\"yes\"`)\n\n##### DISPLAY, LIGHTBOX & PERFORMANCE\n\n* **`aspect_ratio`**: Video ratio (`169` → 16:9, `43` → 4:3, `11` → square)\n* **`align`**: Alignment of video (`left`, `center`, `right`)\n* **`width`**: Controls video width\n* **`lightbox`**: Opens video in popup (`yes` or `\"\"`)\n* **`lazy_load`**: `\"yes\"` defers loading until visible (Improves performance)\n\n##### IMAGE OVERLAY\n\n* **`image_overlay`**: `\"yes\"` enables custom thumbnail\n* **`image_overlay_url`**: Thumbnail image object (`url` → image URL)\n* **`play_icon`**: Shows play button over overlay (`yes` or `\"\"`)\n\n**IMPORTANT NOTES:**\n1. `source` MUST match URL field.\n2. `autoplay` usually requires `mute` = `\"yes\"`.\n3. `aspect_ratio` = `\"169\"` is safest default.\n4. `lazy_load` improves performance significantly.\n\n---",
              "type": "string"
            },
            {
              "id": "f714ce03-64dc-43c1-a08c-0c0d31cba540",
              "name": "icon",
              "value": "#### Icon (Widget)\n\nUsed for a standalone icon.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"icon\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `selected_icon`: An object with `value` (e.g., \"fas fa-star\") and `library` (e.g., \"fa-solid\"). The icon choice must be **relevant**.\n\n**Example (Icon):**\n\n```json\n{\n  \"id\": \"icon123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"icon\",\n  \"settings\": {\n    \"selected_icon\": {\n      \"value\": \"fas fa-star\",\n      \"library\": \"fa-solid\"\n    },\n\n    \"view\": \"default\",\n    \"shape\": \"circle\",\n\n    \"align\": \"center\",\n\n    \"link\": {\n      \"url\": \"\",\n      \"is_external\": \"\",\n      \"nofollow\": \"\"\n    },\n\n    \"primary_color\": \"#0073e6\",\n    \"secondary_color\": \"#ffffff\",\n\n    \"size\": {\n      \"unit\": \"px\",\n      \"size\": 40\n    },\n\n    \"padding\": {\n      \"unit\": \"px\",\n      \"top\": 10,\n      \"right\": 10,\n      \"bottom\": 10,\n      \"left\": 10,\n      \"isLinked\": true\n    },\n\n    \"rotate\": {\n      \"unit\": \"deg\",\n      \"size\": 0\n    },\n\n    \"border_border\": \"none\",\n    \"border_radius\": {\n      \"unit\": \"px\",\n      \"top\": 50,\n      \"right\": 50,\n      \"bottom\": 50,\n      \"left\": 50,\n      \"isLinked\": true\n    },\n\n    \"box_shadow_box_shadow_type\": \"no\",\n\n    \"hover_primary_color\": \"#005bb5\",\n    \"hover_secondary_color\": \"#ffffff\",\n    \"hover_animation\": \"grow\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique identifier for widget\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"icon\"`\n* **`elements`**: Always empty array\n\n##### ICON (CRITICAL)\n\n* **`selected_icon`**\n    * Object defining the icon\n    * `value`: Icon class name (e.g., `\"fas fa-star\"`)\n    * `library`: Icon library source (`fa-solid`, `fa-regular`, `fa-brands`)\n    * *IMPORTANT: Both value + library must match. Uses Font Awesome internally.*\n\n##### VIEW & SHAPE\n\n* **`view`**: Icon style (`default` = plain, `stacked` = background + icon, `framed` = border around icon)\n* **`shape`**: Shape of background, only applies if view ≠ default (`circle`, `square`)\n\n##### LINK, COLORS & ALIGNMENT\n\n* **`align`**: Position inside container (`left`, `center`, `right`)\n* **`link`**: Makes icon clickable (`url`, `is_external`, `nofollow`)\n* **`primary_color`**: Main icon color\n* **`secondary_color`**: Background color (used in stacked/framed)\n\n##### SIZE, SPACING & TRANSFORM\n\n* **`size`**: Icon size (`unit`, `size`)\n* **`padding`**: Space around icon (inside background)\n* **`margin`**: Outer spacing\n* **`rotate`**: Rotates icon (`unit`: `deg`)\n\n##### BORDER, SHADOW & HOVER\n\n* **`border_border`**: Border type\n* **`border_radius`**: Rounding of shape (50% → perfect circle)\n* **`hover_primary_color`**: Icon color on hover\n* **`hover_secondary_color`**: Background color on hover\n* **`hover_animation`**: Animation on hover (e.g., `grow`, `shrink`, `pulse`)\n\n**IMPORTANT NOTES:**\n1. `selected_icon` is REQUIRED.\n2. If `view` = `\"default\"`, `secondary_color` is ignored.\n3. If `view` = `\"stacked\"` or `\"framed\"`, `secondary_color` becomes visible.\n\n---",
              "type": "string"
            },
            {
              "id": "01abbcb3-4a5b-4c55-b689-7034ed1e9a1c",
              "name": "google_maps",
              "value": "#### Google Maps (Widget)\n\nUsed to embed a map.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"google_maps\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `address`: A **relevant location string** (e.g., \"Eiffel Tower, Paris\" or \"Times Square, New York\").\n    * `zoom`: Object with `size` (e.g., 12).\n    * `height`: Object with `size` (e.g., 400).\n\n**Example (Google Maps):**\n\n```json\n{\n  \"id\": \"map123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"google_maps\",\n  \"settings\": {\n    \"address\": \"Jakarta, Indonesia\",\n\n    \"zoom\": {\n      \"unit\": \"px\",\n      \"size\": 12\n    },\n\n    \"height\": {\n      \"unit\": \"px\",\n      \"size\": 400\n    },\n\n    \"map_type\": \"roadmap\",\n\n    \"prevent_scroll\": \"yes\",\n\n    \"draggable\": \"yes\",\n\n    \"show_zoom\": \"yes\",\n\n    \"show_controls\": \"yes\",\n\n    \"align\": \"center\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique identifier for widget\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"google_maps\"`\n* **`elements`**: Always empty array\n\n##### LOCATION (CRITICAL)\n\n* **`address`**\n    * Main map location\n    * Accepts: City name (`\"Jakarta\"`), Full address (`\"Jl. Sudirman No.1, Jakarta\"`), Coordinates (`\"-6.200000,106.816666\"`)\n    * *IMPORTANT: This field is REQUIRED. Elementor converts it into map coordinates internally.*\n\n##### ZOOM, SIZE & MAP TYPE\n\n* **`zoom`**: Map zoom level (Numeric value). 5 = country, 10 = city, 15 = street.\n* **`height`**: Height of map container\n* **`map_type`**: Visual style of map (`roadmap`, `satellite`, `hybrid`, `terrain`)\n\n##### INTERACTION & CONTROLS\n\n* **`prevent_scroll`**: Prevents zooming with mouse scroll (`\"yes\"` or `\"\"`)\n* **`draggable`**: Allows dragging map (`\"yes\"` or `\"\"`)\n* **`show_zoom`**: Shows zoom buttons (+ / -)\n* **`show_controls`**: Shows map UI controls (fullscreen, etc.)\n\n**IMPORTANT NOTES:**\n1. `address` is REQUIRED.\n2. `zoom` is numeric: Smaller = zoomed out, Bigger = zoomed in.\n3. `height` is critical: Without height → map may collapse.\n4. `prevent_scroll` is recommended: Avoids annoying page scroll issues.\n5. No API key required for basic embed.\n\n---",
              "type": "string"
            },
            {
              "id": "1144bb5a-9f45-48b6-8b0a-b2900c3b9b81",
              "name": "nested-tabs",
              "value": "#### Nested Tabs (Widget)\n\nUsed for organizing content into clickable tabs.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"nested-tabs\"`\n* **Dual Structure:**\n    1.  `settings.tabs`: An array of objects, one for each tab title (e.g., `{ \"tab_title\": \"Title 1\", \"_id\": \"abc123\" }`). Can also include `tab_icon`.\n    2.  `elements`: An array of **Containers** (`elType: \"container\"`, `isInner\": true`).\n* **Mapping:** The first object in `settings.tabs` maps to the first container in `elements`, and so on. The content (text, images, etc.) goes *inside* these containers.\n\n**Example (2 Tabs):**\n\n```json\n{\n  \"id\": \"nestedtabs123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"nested-tabs\",\n  \"settings\": {\n    \"tabs\": [\n      {\n        \"_id\": \"tab1\",\n        \"tab_title\": \"Tab 1\"\n      },\n      {\n        \"_id\": \"tab2\",\n        \"tab_title\": \"Tab 2\"\n      }\n    ],\n\n    \"active_item_index\": 0,\n\n    \"tabs_layout\": \"horizontal\",\n\n    \"tabs_position\": \"top\",\n\n    \"align\": \"start\",\n\n    \"title_html_tag\": \"div\",\n\n    \"border_width\": {\n      \"unit\": \"px\",\n      \"top\": 1,\n      \"right\": 1,\n      \"bottom\": 1,\n      \"left\": 1,\n      \"isLinked\": true\n    },\n\n    \"border_color\": \"#dddddd\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"padding\": {\n      \"unit\": \"px\",\n      \"top\": 10,\n      \"right\": 10,\n      \"bottom\": 10,\n      \"left\": 10,\n      \"isLinked\": true\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n\n  \"elements\": [\n    {\n      \"id\": \"container-tab1\",\n      \"elType\": \"container\",\n      \"isInner\": true,\n      \"settings\": {},\n      \"elements\": [],\n      \"tab_id\": \"tab1\"\n    },\n    {\n      \"id\": \"container-tab2\",\n      \"elType\": \"container\",\n      \"isInner\": true,\n      \"settings\": {},\n      \"elements\": [],\n      \"tab_id\": \"tab2\"\n    }\n  ]\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique widget identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"nested-tabs\"`\n* **`elements`**: CRITICAL: contains containers for each tab. Each container represents tab content.\n\n##### TABS STRUCTURE (CRITICAL)\n\n* **`tabs`**\n    * Array of tab definitions\n    * `_id`: Unique identifier for tab. MUST match `container.tab_id`\n    * `tab_title`: Label shown in tab navigation\n    * *IMPORTANT: `tabs[]` defines navigation, `elements[]` defines content. Linked via ID.*\n* **`active_item_index`**: Default active tab (0-based index)\n\n##### LAYOUT & BORDER\n\n* **`tabs_layout`**: Layout style (`horizontal`, `vertical`)\n* **`tabs_position`**: Position of tab navigation (`top`, `bottom`, `left`, `right`)\n* **`align`**: Alignment of tab titles\n* **`title_html_tag`**: HTML tag for tab titles\n* **`border_width`**: Border thickness around tabs\n* **`border_color`**: Border color\n\n##### CHILD CONTAINERS (VERY IMPORTANT)\n\nEach tab content is defined as a container:\n```json\n{\n  \"id\": \"container-tab1\",\n  \"elType\": \"container\",\n  \"isInner\": true,\n  \"settings\": {},\n  \"elements\": [],\n  \"tab_id\": \"tab1\"\n}\n```\n* **`tab_id`**: MUST match `tabs._id`. Links container to tab.\n* **`elements`** (inside container): Actual content (widgets like heading, text-editor, image, etc.).\n\n**CONTENT FLOW MAPPING:**\n`tabs[0]._id = \"tab1\"` → `container.tab_id = \"tab1\"`\n\n**IMPORTANT NOTES:**\n1. `tabs[]` and `elements[]` MUST match.\n2. Content goes INSIDE `container.elements`.\n3. Containers are REQUIRED (cannot put widgets directly in the widget's elements array).\n\n---",
              "type": "string"
            },
            {
              "id": "d441b5b8-2352-4fec-833c-571e21d90e0e",
              "name": "nested-accordion",
              "value": "#### Nested Accordion (Widget)\n\nUsed for collapsible content, perfect for FAQs.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"nested-accordion\"`\n* **Dual Structure:**\n    1.  `settings.items`: An array of objects, one for each accordion title (e.g., `{ \"item_title\": \"Question 1?\", \"_id\": \"def456\" }`).\n    2.  `elements`: An array of **Containers** (`elType: \"container\"`, `isInner\": true`).\n* **Mapping:** The first object in `settings.items` maps to the first container in `elements`. The answer (text, images, etc.) goes *inside* these containers.\n\n**Example (2-Item Accordion):**\n\n```json\n{\n  \"id\": \"nestedaccordion123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"nested-accordion\",\n  \"settings\": {\n    \"items\": [\n      {\n        \"_id\": \"item1\",\n        \"item_title\": \"Accordion Item 1\"\n      },\n      {\n        \"_id\": \"item2\",\n        \"item_title\": \"Accordion Item 2\"\n      }\n    ],\n\n    \"active_item_index\": 0,\n\n    \"accordion_layout\": \"default\",\n\n    \"title_html_tag\": \"div\",\n\n    \"border_width\": {\n      \"unit\": \"px\",\n      \"top\": 1,\n      \"right\": 1,\n      \"bottom\": 1,\n      \"left\": 1,\n      \"isLinked\": true\n    },\n\n    \"border_color\": \"#dddddd\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"padding\": {\n      \"unit\": \"px\",\n      \"top\": 10,\n      \"right\": 10,\n      \"bottom\": 10,\n      \"left\": 10,\n      \"isLinked\": true\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n\n  \"elements\": [\n    {\n      \"id\": \"container-item1\",\n      \"elType\": \"container\",\n      \"isInner\": true,\n      \"settings\": {},\n      \"elements\": [],\n      \"item_id\": \"item1\"\n    },\n    {\n      \"id\": \"container-item2\",\n      \"elType\": \"container\",\n      \"isInner\": true,\n      \"settings\": {},\n      \"elements\": [],\n      \"item_id\": \"item2\"\n    }\n  ]\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique widget identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"nested-accordion\"`\n* **`elements`**: Contains containers for each accordion item. Each container holds the content.\n\n##### ITEMS STRUCTURE (CRITICAL)\n\n* **`items`**\n    * Array of accordion items\n    * `_id`: Unique identifier for the item. MUST match `container.item_id`\n    * `item_title`: Title shown in accordion header\n    * *IMPORTANT: `items[]` defines headers, `elements[]` defines content. Linked via ID.*\n* **`active_item_index`**: Default opened item (0-based index)\n\n##### LAYOUT & BORDER\n\n* **`accordion_layout`**: Style of accordion (`default`, `boxed`, `framed`)\n* **`title_html_tag`**: HTML tag used for item titles\n* **`border_width`**: Border thickness around accordion\n* **`border_color`**: Border color\n\n##### CHILD CONTAINERS (VERY IMPORTANT)\n\nEach accordion item content is a container:\n```json\n{\n  \"id\": \"container-item1\",\n  \"elType\": \"container\",\n  \"isInner\": true,\n  \"settings\": {},\n  \"elements\": [],\n  \"item_id\": \"item1\"\n}\n```\n* **`item_id`**: MUST match `items._id`. Links container to accordion item.\n* **`elements`** (inside container): Actual content.\n\n**CONTENT FLOW MAPPING:**\n`items[0]._id = \"item1\"` → `container.item_id = \"item1\"`\n\n**IMPORTANT NOTES:**\n1. `items[]` and `elements[]` MUST match.\n2. Content goes INSIDE `container.elements`.\n3. Containers are REQUIRED.\n4. `active_item_index` starts from 0.\n\n---",
              "type": "string"
            },
            {
              "id": "70aa9b4f-1e3c-4d3e-9791-604aa54cc92f",
              "name": "image-carousel",
              "value": "#### Image Carousel (Widget)\n\nUsed for a slideshow of images.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"image-carousel\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `carousel`: An array of simplified image objects: `{ \"id\": \"\", \"url\": \"https://picsum.photos/...\" }`. Use multiple Picsum images.\n    * `slides_to_show`: (e.g., \"3\").\n\n**Example (Image Carousel):**\n\n```json\n{\n  \"id\": \"carousel123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"image-carousel\",\n  \"settings\": {\n    \"carousel\": [\n      {\n        \"_id\": \"item1\",\n        \"image\": {\n          \"url\": \"https://picsum.photos/800/600?1\",\n          \"id\": \"\",\n          \"alt\": \"\"\n        }\n      },\n      {\n        \"_id\": \"item2\",\n        \"image\": {\n          \"url\": \"https://picsum.photos/800/600?2\",\n          \"id\": \"\",\n          \"alt\": \"\"\n        }\n      }\n    ],\n\n    \"slides_to_show\": \"3\",\n    \"slides_to_scroll\": \"1\",\n\n    \"image_stretch\": \"\",\n\n    \"navigation\": \"both\",\n\n    \"pause_on_hover\": \"yes\",\n    \"autoplay\": \"yes\",\n    \"autoplay_speed\": 5000,\n\n    \"infinite\": \"yes\",\n\n    \"speed\": 500,\n\n    \"direction\": \"ltr\",\n\n    \"space_between\": {\n      \"unit\": \"px\",\n      \"size\": 20\n    },\n\n    \"image_size\": \"large\",\n\n    \"align\": \"center\",\n\n    \"border_radius\": {\n      \"unit\": \"px\",\n      \"top\": 10,\n      \"right\": 10,\n      \"bottom\": 10,\n      \"left\": 10,\n      \"isLinked\": true\n    },\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique widget identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"image-carousel\"`\n* **`elements`**: Always empty array\n\n##### CAROUSEL (CRITICAL - REPEATER)\n\n* **`carousel`**\n    * Array of images. Each item: `_id` (Unique identifier), `image` (Image object: `url` → REQUIRED).\n    * *IMPORTANT: At least one image is required. Multiple images create slider.*\n\n##### SLIDES CONFIGURATION\n\n* **`slides_to_show`**: Number of images visible at once. String value (Elementor uses string).\n* **`slides_to_scroll`**: Number of images moved per slide.\n\n##### IMAGE DISPLAY\n\n* **`image_stretch`**: Makes images fill container height (`\"yes\"` or `\"\"`)\n* **`image_size`**: WordPress image size (`thumbnail`, `medium`, `large`, `full`)\n\n##### NAVIGATION & AUTOPLAY\n\n* **`navigation`**: Controls navigation UI (`none`, `arrows`, `dots`, `both`)\n* **`autoplay`**: `\"yes\"` enables auto sliding\n* **`autoplay_speed`**: Time between slides (ms)\n* **`pause_on_hover`**: `\"yes\"` pauses autoplay on hover\n\n##### LOOP, SPEED & DIRECTION\n\n* **`infinite`**: `\"yes\"` loops carousel\n* **`speed`**: Transition speed (ms)\n* **`direction`**: Slide direction (`ltr` or `rtl`)\n\n**IMPORTANT NOTES:**\n1. `carousel[]` is REQUIRED. Each item MUST contain `image.url`.\n2. `slides_to_show` is STRING (not number).\n3. Elementor uses Swiper.js internally.\n\n---",
              "type": "string"
            },
            {
              "id": "4edf743a-02e8-4a84-9d4b-841090fdaf6b",
              "name": "counter",
              "value": "#### Counter (Widget)\n\nUsed for an animated number.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"counter\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `starting_number`: (e.g., 0).\n    * `ending_number`: The target number (e.g., 1000). **Must be relevant**.\n    * `prefix`: (e.g., \"+\").\n    * `suffix`: (e.g., \"K\").\n    * `title`: The text label. **Must be relevant**.\n\n**Example (Counter):**\n\n```json\n{\n  \"id\": \"counter123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"counter\",\n  \"settings\": {\n    \"starting_number\": 0,\n    \"ending_number\": 1000,\n\n    \"prefix\": \"$\",\n    \"suffix\": \"+\",\n\n    \"duration\": 2000,\n\n    \"thousand_separator\": \",\",\n\n    \"title\": \"Projects Completed\",\n\n    \"title_color\": \"#333333\",\n\n    \"number_color\": \"#0073e6\",\n\n    \"number_typography_typography\": \"custom\",\n    \"number_typography_font_size\": {\n      \"unit\": \"px\",\n      \"size\": 40\n    },\n    \"number_typography_font_weight\": \"700\",\n\n    \"title_typography_typography\": \"custom\",\n    \"title_typography_font_size\": {\n      \"unit\": \"px\",\n      \"size\": 16\n    },\n\n    \"align\": \"center\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique widget identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"counter\"`\n* **`elements`**: Always empty array\n\n##### NUMBER (CRITICAL)\n\n* **`starting_number`**: Number where animation starts (Usually 0)\n* **`ending_number`**: Final number displayed (REQUIRED)\n    * *IMPORTANT: Animation goes from starting_number → ending_number*\n\n##### PREFIX & SUFFIX\n\n* **`prefix`**: Text before number (e.g., `$`, `IDR`)\n* **`suffix`**: Text after number (e.g., `+`, `%`, `k`)\n    * *Example result: prefix + number + suffix → \"$1000+\"*\n\n##### ANIMATION & FORMATTING\n\n* **`duration`**: Animation duration in milliseconds (e.g., 2000 = 2 seconds)\n* **`thousand_separator`**: Separator for large numbers (`\",\"` → 1,000, `\".\"` → 1.000, `\" \"` → 1 000, `\"\"` → no separator)\n\n##### TITLE, COLORS & TYPOGRAPHY\n\n* **`title`**: Label below or above number (e.g., \"Projects Completed\")\n* **`number_color`** / **`title_color`**: Color of animated number / title text\n* **`number_typography...`** / **`title_typography...`**: Custom typography settings for both elements\n\n**IMPORTANT NOTES:**\n1. `ending_number` is REQUIRED. `starting_number` defaults to 0.\n2. Number is always numeric (not string).\n\n---",
              "type": "string"
            },
            {
              "id": "48430d59-9ba4-45f5-bb5e-a930b7c0ce28",
              "name": "progress",
              "value": "#### Progress (Widget)\n\nUsed for an animated progress bar.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"progress\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `title`: The label for the bar. **Must be relevant**.\n    * `percent`: Object with `size` (the value, e.g., 90).\n    * `inner_text`: Text inside the bar.\n\n**Example (Progress):**\n\n```json\n{\n  \"id\": \"progress123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"progress\",\n  \"settings\": {\n    \"title\": \"Web Design\",\n\n    \"percent\": 75,\n\n    \"display_percentage\": \"show\",\n\n    \"inner_text\": \"\",\n\n    \"view\": \"default\",\n\n    \"height\": {\n      \"unit\": \"px\",\n      \"size\": 20\n    },\n\n    \"align\": \"left\",\n\n    \"bar_color\": \"#0073e6\",\n    \"background_color\": \"#eeeeee\",\n\n    \"text_color\": \"#ffffff\",\n\n    \"title_color\": \"#333333\",\n\n    \"stripe\": \"\",\n    \"animated_stripe\": \"\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique widget identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"progress\"`\n* **`elements`**: Always empty array\n\n##### CONTENT & VALUE (CRITICAL)\n\n* **`title`**: Label for the progress bar (e.g., \"Web Design\")\n* **`percent`**: Progress value (0–100). MUST be a number.\n    * *IMPORTANT: Controls how full the bar is. 100 = fully filled.*\n\n##### DISPLAY\n\n* **`display_percentage`**: Controls visibility of percentage text (`\"show\"`, `\"hide\"`)\n* **`inner_text`**: Custom text inside the bar. Overrides percentage display if used.\n\n##### STYLE, SIZE & ALIGNMENT\n\n* **`view`**: Visual style (`default`, `stacked`, `framed`)\n* **`height`**: Height of progress bar\n* **`align`**: Alignment of widget (`left`, `center`, `right`)\n\n##### COLORS & STRIPES\n\n* **`bar_color`**: Color of filled portion\n* **`background_color`**: Color of empty portion\n* **`text_color`**: Color of percentage or inner text\n* **`title_color`**: Color of title label\n* **`stripe`**: Enables striped pattern (`\"yes\"` or `\"\"`)\n* **`animated_stripe`**: Animates stripes (Requires `stripe` = `\"yes\"`)\n\n**IMPORTANT NOTES:**\n1. `percent` is REQUIRED. Must be a number between 0 and 100.\n2. `inner_text` overrides percentage display.\n3. `stripe` + `animated_stripe`: both must be enabled for animation.\n\n---",
              "type": "string"
            },
            {
              "id": "7125078f-ccda-49ce-9be6-c1d77b0fcac1",
              "name": "testimonial",
              "value": "#### Testimonial (Widget)\n\nUsed for a single user review.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"testimonial\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `testimonial_content`: The review text. **Must be relevant**.\n    * `testimonial_image`: An **Image Object** (see Core Rules).\n    * `testimonial_name`: User's name. **Must be relevant**.\n    * `testimonial_job`: User's title. **Must be relevant**.\n\n**Example (Testimonial):**\n\n```json\n{\n  \"id\": \"testimonial123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"testimonial\",\n  \"settings\": {\n    \"testimonial_content\": \"This service is amazing! Highly recommended.\",\n\n    \"name\": \"John Doe\",\n\n    \"job\": \"CEO, Company\",\n\n    \"image\": {\n      \"url\": \"https://picsum.photos/100/100\",\n      \"id\": \"\",\n      \"alt\": \"John Doe\"\n    },\n\n    \"image_position\": \"aside\",\n\n    \"alignment\": \"center\",\n\n    \"text_align\": \"center\",\n\n    \"link\": {\n      \"url\": \"\",\n      \"is_external\": \"\",\n      \"nofollow\": \"\"\n    },\n\n    \"content_color\": \"#333333\",\n    \"name_color\": \"#000000\",\n    \"job_color\": \"#777777\",\n\n    \"content_typography_typography\": \"custom\",\n    \"content_typography_font_size\": {\n      \"unit\": \"px\",\n      \"size\": 16\n    },\n\n    \"name_typography_typography\": \"custom\",\n    \"name_typography_font_size\": {\n      \"unit\": \"px\",\n      \"size\": 18\n    },\n    \"name_typography_font_weight\": \"600\",\n\n    \"job_typography_typography\": \"custom\",\n    \"job_typography_font_size\": {\n      \"unit\": \"px\",\n      \"size\": 14\n    },\n\n    \"image_size\": \"thumbnail\",\n\n    \"border_radius\": {\n      \"unit\": \"px\",\n      \"top\": 50,\n      \"right\": 50,\n      \"bottom\": 50,\n      \"left\": 50,\n      \"isLinked\": true\n    },\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique widget identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"testimonial\"`\n* **`elements`**: Always empty array\n\n##### CONTENT (CRITICAL)\n\n* **`testimonial_content`**: Main testimonial text. Can include basic HTML.\n* **`name`**: Name of the person\n* **`job`**: Job title or company\n\n##### IMAGE\n\n* **`image`**: Profile picture object (`url` → REQUIRED for image display, `id`, `alt`)\n* **`image_size`**: WordPress image size (`thumbnail`, `medium`, `large`)\n* **`image_position`**: Layout of image (`aside` → beside text, `above` → above text)\n\n##### ALIGNMENT & LINK\n\n* **`alignment`**: Overall widget alignment (`left`, `center`, `right`)\n* **`text_align`**: Alignment of text content (`left`, `center`, `right`)\n* **`link`**: Optional link (wraps entire testimonial block)\n\n##### COLORS, TYPOGRAPHY & STYLE\n\n* **`content_color`** / **`name_color`** / **`job_color`**: Text colors\n* **`..._typography_typography`**: Enables typography for respective fields\n* **`border_radius`**: Rounds image corners. 50% → circle avatar.\n\n**IMPORTANT NOTES:**\n1. `testimonial_content` is REQUIRED. `name` is strongly recommended.\n2. `image_position` controls layout style.\n\n---",
              "type": "string"
            },
            {
              "id": "c36c810e-eb10-4d4f-9fb0-3f56e07a452c",
              "name": "social-icons",
              "value": "#### Social Icons (Widget)\n\nUsed for a list of social media links.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"social-icons\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `social_icon_list`: An array of objects. Each object needs:\n        * `social_icon`: An icon object (e.g., `{ \"value\": \"fab fa-facebook\", \"library\": \"fa-brands\" }`).\n        * `link`: A link object (e.g., `{ \"url\": \"https://facebook.com\", ... }`).\n\n**Example (Social Icons):**\n\n```json\n{\n  \"id\": \"socialicons123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"social-icons\",\n  \"settings\": {\n    \"social_icon_list\": [\n      {\n        \"_id\": \"item1\",\n        \"social\": \"facebook\",\n        \"link\": {\n          \"url\": \"https://facebook.com\",\n          \"is_external\": \"on\",\n          \"nofollow\": \"\"\n        }\n      },\n      {\n        \"_id\": \"item2\",\n        \"social\": \"twitter\",\n        \"link\": {\n          \"url\": \"https://twitter.com\",\n          \"is_external\": \"on\",\n          \"nofollow\": \"\"\n        }\n      }\n    ],\n\n    \"shape\": \"circle\",\n    \"view\": \"official\",\n\n    \"align\": \"center\",\n\n    \"columns\": 0,\n\n    \"icon_size\": {\n      \"unit\": \"px\",\n      \"size\": 24\n    },\n\n    \"icon_padding\": {\n      \"unit\": \"px\",\n      \"size\": 12\n    },\n\n    \"primary_color\": \"#ffffff\",\n    \"secondary_color\": \"#0073e6\",\n\n    \"hover_primary_color\": \"#ffffff\",\n    \"hover_secondary_color\": \"#005bb5\",\n\n    \"hover_animation\": \"grow\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique widget identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"social-icons\"`\n* **`elements`**: Always empty array\n\n##### SOCIAL ICON LIST (CRITICAL - REPEATER)\n\n* **`social_icon_list`**\n    * Array of social items. Each item contains `_id`, `social` (Platform name: `facebook`, `twitter`, `instagram`, etc.), and `link` (Object: `url`, `is_external`, `nofollow`).\n    * *IMPORTANT: `social_icon_list` is REQUIRED. At least one item must exist.*\n\n##### STYLE & ALIGNMENT\n\n* **`view`**: Icon style (`default`, `stacked`, `framed`, `official` -> uses brand colors)\n* **`shape`**: Shape of icon background (`circle`, `square`, `rounded`)\n* **`align`**: Alignment of icons container (`left`, `center`, `right`, `justify`)\n\n##### LAYOUT & SIZE\n\n* **`columns`**: Number of columns (grid layout). 0 = auto layout.\n* **`icon_size`**: Size of icons\n* **`icon_padding`**: Space around icon (affects clickable area)\n\n##### COLORS & HOVER\n\n* **`primary_color`**: Icon color\n* **`secondary_color`**: Background color\n    * *NOTE: In \"official\" view → platform colors override these.*\n* **`hover_primary_color`** / **`hover_secondary_color`**: Hover colors\n* **`hover_animation`**: Animation on hover\n\n**IMPORTANT NOTES:**\n1. `social_icon_list` is REQUIRED. Each item MUST include `social` and `link.url`.\n2. `\"social\"` must be a valid platform name.\n\n---",
              "type": "string"
            },
            {
              "id": "051382c3-41cb-492a-9a17-27883aa641fd",
              "name": "rating",
              "value": "#### Rating (Widget)\n\nUsed for displaying a star rating.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"rating\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `rating_scale`: Object with `size` (e.g., 5).\n    * `rating_value`: The score (e.g., 4.5). **Must be relevant**.\n    * `rating_icon`: Icon object, usually `\"fas fa-star\"`.\n    * `icon_color`: Color for filled stars.\n    * `icon_unmarked_color`: Color for empty stars.\n\n**Example (Rating):**\n\n```json\n{\n  \"id\": \"rating123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"star-rating\",\n  \"settings\": {\n    \"rating\": 4.5,\n\n    \"star_style\": \"star\",\n\n    \"star_size\": {\n      \"unit\": \"px\",\n      \"size\": 24\n    },\n\n    \"align\": \"center\",\n\n    \"title\": \"Customer Rating\",\n\n    \"title_position\": \"above\",\n\n    \"unmarked_style\": \"solid\",\n\n    \"color\": \"#f7b500\",\n    \"unmarked_color\": \"#cccccc\",\n\n    \"display_type\": \"stars\",\n\n    \"rating_scale\": \"5\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique widget identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"star-rating\"`\n* **`elements`**: Always empty array\n\n##### RATING (CRITICAL)\n\n* **`rating`**: Numeric value of rating. Can be decimal (e.g. 4.5). Must be within `rating_scale` range.\n* **`rating_scale`**: Maximum rating value (`\"5\"`, `\"10\"`).\n\n##### DISPLAY TYPE & STAR STYLE\n\n* **`display_type`**: How rating is shown (`stars` → visual only, `number` → numeric only, `both`)\n* **`star_style`**: Shape of icons (`star` - default)\n* **`unmarked_style`**: Style of empty stars (`solid`, `outline`)\n\n##### SIZE & ALIGNMENT\n\n* **`star_size`**: Size of star icons\n* **`align`**: Alignment of widget (`left`, `center`, `right`)\n\n##### TITLE & COLORS\n\n* **`title`**: Optional label (e.g., \"Customer Rating\")\n* **`title_position`**: Position of title (`above`, `below`)\n* **`color`**: Color of filled stars\n* **`unmarked_color`**: Color of empty stars\n\n**IMPORTANT NOTES:**\n1. `rating` is REQUIRED. Must be a number within `rating_scale`.\n2. `rating_scale` is STRING (not number). Decimal values are allowed.\n\n---",
              "type": "string"
            },
            {
              "id": "6aadff39-1702-4e03-b661-ebd9858d60d9",
              "name": "form",
              "value": "#### Form (Widget)\n\nUsed for creating contact or lead-gen forms.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"form\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `form_fields`: An array of objects, one for each field. Each object defines `field_type` (`text`, `email`, `textarea`, `select`, etc.), `field_label`, `placeholder`, and `width`.\n    * `button_text`: The text for the submit button.\n    * Styling for labels, fields, and the button is included.\n\n**Example (Form):**\n\n```json\n{\n  \"id\": \"form123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"form\",\n  \"settings\": {\n    \"form_name\": \"Contact Form\",\n\n    \"form_fields\": [\n      {\n        \"_id\": \"field1\",\n        \"field_type\": \"text\",\n        \"field_label\": \"Name\",\n        \"placeholder\": \"Enter your name\",\n        \"required\": \"yes\"\n      },\n      {\n        \"_id\": \"field2\",\n        \"field_type\": \"email\",\n        \"field_label\": \"Email\",\n        \"placeholder\": \"Enter your email\",\n        \"required\": \"yes\"\n      },\n      {\n        \"_id\": \"field3\",\n        \"field_type\": \"textarea\",\n        \"field_label\": \"Message\",\n        \"placeholder\": \"Your message\",\n        \"required\": \"\"\n      }\n    ],\n\n    \"button_text\": \"Submit\",\n\n    \"button_size\": \"md\",\n    \"button_width\": \"100\",\n\n    \"submit_actions\": [\n      \"email\"\n    ],\n\n    \"email_to\": \"admin@example.com\",\n    \"email_subject\": \"New Form Submission\",\n    \"email_from_name\": \"Website\",\n    \"email_from_email\": \"noreply@example.com\",\n    \"email_reply_to\": \"{{field2}}\",\n\n    \"success_message\": \"Your message has been sent successfully.\",\n    \"error_message\": \"Something went wrong.\",\n\n    \"label_position\": \"top\",\n\n    \"input_size\": \"md\",\n\n    \"row_gap\": {\n      \"unit\": \"px\",\n      \"size\": 10\n    },\n    \"column_gap\": {\n      \"unit\": \"px\",\n      \"size\": 10\n    },\n\n    \"align\": \"left\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique widget identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"form\"`\n* **`elements`**: Always empty array\n\n##### FORM META\n\n* **`form_name`**: Internal name for the form. Used in email subject/logs.\n\n##### FORM FIELDS (CRITICAL - REPEATER)\n\n* **`form_fields`**\n    * Array of field objects. Each includes: `_id`, `field_type` (`text`, `email`, `textarea`, `tel`, `number`, `select`, `checkbox`, `radio`, `date`, `hidden`), `field_label` (shown to user), `placeholder`, `required` (`\"yes\"` or `\"\"`).\n    * *IMPORTANT: At least one field is required.*\n\n##### BUTTON & ACTIONS (VERY IMPORTANT)\n\n* **`button_text`**: Text on submit button\n* **`button_size`**: `xs`, `sm`, `md`, `lg`, `xl`\n* **`button_width`**: Width percentage (string). Example: `\"100\"` → full width.\n* **`submit_actions`**: Array of actions after submit (e.g., `email`, `webhook`, `redirect`, `mailchimp`). Form won't work without actions.\n\n##### EMAIL SETTINGS (if action = email)\n\n* **`email_to`** / **`email_subject`** / **`email_from_name`** / **`email_from_email`**\n* **`email_reply_to`**: Reply-to email. Can use dynamic tag: `{{field_id}}` (e.g., `{{field2}}`)\n\n##### MESSAGES, LAYOUT & SPACING\n\n* **`success_message`** / **`error_message`**\n* **`label_position`**: `top`, `left`, `above`\n* **`input_size`**: Size of input fields\n* **`row_gap`** / **`column_gap`**: Vertical and horizontal spacing\n\n**IMPORTANT NOTES:**\n1. `form_fields` is REQUIRED. Each MUST include `field_type` and `field_label`.\n2. `email` settings only work if `submit_actions` includes `\"email\"`.\n3. Email fields auto-validate. `required` = `\"yes\"` enforces validation.\n\n---",
              "type": "string"
            },
            {
              "id": "5f901fd0-4504-47df-a8ff-4f97667456b9",
              "name": "slides",
              "value": "#### Slides (Widget)\n\nA self-contained slideshow where each slide has a background, title, text, and button.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"slides\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `slides`: An array of objects. Each object is a slide with properties for `heading`, `description`, `button_text`, and `background_image` or `background_color`.\n    * `background_image` must be an **Image Object**.\n    * Global settings control `slides_height`, navigation (arrows/dots), and default typography/button styles.\n\n**Example (Slides):**\n\n```json\n{\n  \"id\": \"slides123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"slides\",\n  \"settings\": {\n    \"slides\": [\n      {\n        \"_id\": \"slide1\",\n        \"heading\": \"Slide Title\",\n        \"description\": \"This is the slide description.\",\n        \"button_text\": \"Learn More\",\n        \"link\": {\n          \"url\": \"#\",\n          \"is_external\": \"\",\n          \"nofollow\": \"\"\n        },\n\n        \"background_background\": \"classic\",\n        \"background_color\": \"#000000\",\n        \"background_image\": {\n          \"url\": \"https://picsum.photos/1200/800?1\",\n          \"id\": \"\"\n        },\n        \"background_overlay\": \"yes\",\n        \"background_overlay_color\": \"rgba(0,0,0,0.5)\"\n      },\n      {\n        \"_id\": \"slide2\",\n        \"heading\": \"Another Slide\",\n        \"description\": \"More content here.\",\n        \"button_text\": \"Get Started\",\n        \"link\": {\n          \"url\": \"#\",\n          \"is_external\": \"\",\n          \"nofollow\": \"\"\n        },\n\n        \"background_background\": \"classic\",\n        \"background_image\": {\n          \"url\": \"https://picsum.photos/1200/800?2\",\n          \"id\": \"\"\n        }\n      }\n    ],\n\n    \"slides_per_view\": \"1\",\n\n    \"height\": {\n      \"unit\": \"px\",\n      \"size\": 500\n    },\n\n    \"content_width\": \"full\",\n\n    \"content_position\": \"center\",\n\n    \"text_align\": \"center\",\n\n    \"navigation\": \"both\",\n\n    \"autoplay\": \"yes\",\n    \"autoplay_speed\": 5000,\n    \"pause_on_hover\": \"yes\",\n\n    \"infinite\": \"yes\",\n\n    \"transition\": \"slide\",\n    \"transition_speed\": 500,\n\n    \"overlay\": \"yes\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique widget identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"slides\"`\n* **`elements`**: Always empty array\n\n##### SLIDES (CRITICAL - REPEATER)\n\n* **`slides`**\n    * Array of slide objects. Each contains: `_id`, `heading`, `description`, `button_text`, `link` (Object: `url`, `is_external`, `nofollow`).\n\n##### BACKGROUND\n\n* **`background_background`**: Type of background (Usually: `\"classic\"`)\n* **`background_color`**: Background color (fallback)\n* **`background_image`**: Image object (`url` → REQUIRED for visual slides)\n* **`background_overlay`**: Enables overlay layer (`\"yes\"` or `\"\"`)\n* **`background_overlay_color`**: Overlay color (rgba recommended)\n\n##### LAYOUT & NAVIGATION\n\n* **`slides_per_view`**: Number of visible slides (Usually: `\"1\"` - STRING)\n* **`height`**: Height of slider\n* **`content_width`**: Width of content area (`full`, `boxed`)\n* **`content_position`**: Vertical alignment (`top`, `center`, `bottom`)\n* **`text_align`**: Text alignment inside slide (`left`, `center`, `right`)\n* **`navigation`**: Controls UI navigation (`none`, `arrows`, `dots`, `both`)\n\n##### AUTOPLAY, LOOP & TRANSITION\n\n* **`autoplay`**: `\"yes\"` enables auto sliding\n* **`autoplay_speed`**: Delay between slides (ms)\n* **`pause_on_hover`**: `\"yes\"` pauses autoplay\n* **`infinite`**: `\"yes\"` enables looping\n* **`transition`**: Slide animation (`slide`, `fade`)\n* **`transition_speed`**: Animation speed (ms)\n* **`overlay`**: Enables overlay globally\n\n**IMPORTANT NOTES:**\n1. `slides[]` is REQUIRED.\n2. Each slide should include `heading` (recommended) and `background_image` (strongly recommended).\n3. `button` is optional (requires `button_text` + `link`).\n\n---",
              "type": "string"
            },
            {
              "id": "89503afa-f598-4693-b336-30c9ed687ac9",
              "name": "price-list",
              "value": "#### Price List (Widget)\n\nUsed for creating a list of items with prices, perfect for menus.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"price-list\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `price_list`: An array of objects. Each object is a list item with `title`, `item_description`, `price`, and an optional `image`.\n    * `image` must be an **Image Object**.\n    * Global settings control typography and colors for title, price, description, and the separator style.\n\n**Example (Price List):**\n\n```json\n{\n  \"id\": \"pricelist123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"price-list\",\n  \"settings\": {\n    \"price_list\": [\n      {\n        \"_id\": \"item1\",\n        \"title\": \"Basic Plan\",\n        \"description\": \"Simple package for starters\",\n        \"price\": \"$10\",\n        \"link\": {\n          \"url\": \"#\",\n          \"is_external\": \"\",\n          \"nofollow\": \"\"\n        },\n        \"image\": {\n          \"url\": \"https://picsum.photos/100/100?1\",\n          \"id\": \"\",\n          \"alt\": \"\"\n        }\n      },\n      {\n        \"_id\": \"item2\",\n        \"title\": \"Pro Plan\",\n        \"description\": \"Advanced features included\",\n        \"price\": \"$25\",\n        \"link\": {\n          \"url\": \"#\",\n          \"is_external\": \"\",\n          \"nofollow\": \"\"\n        },\n        \"image\": {\n          \"url\": \"https://picsum.photos/100/100?2\",\n          \"id\": \"\",\n          \"alt\": \"\"\n        }\n      }\n    ],\n\n    \"columns\": 1,\n\n    \"align\": \"left\",\n\n    \"title_color\": \"#000000\",\n    \"description_color\": \"#777777\",\n    \"price_color\": \"#0073e6\",\n\n    \"title_typography_typography\": \"custom\",\n    \"title_typography_font_size\": {\n      \"unit\": \"px\",\n      \"size\": 18\n    },\n\n    \"description_typography_typography\": \"custom\",\n    \"description_typography_font_size\": {\n      \"unit\": \"px\",\n      \"size\": 14\n    },\n\n    \"price_typography_typography\": \"custom\",\n    \"price_typography_font_size\": {\n      \"unit\": \"px\",\n      \"size\": 16\n    },\n    \"price_typography_font_weight\": \"600\",\n\n    \"space_between\": {\n      \"unit\": \"px\",\n      \"size\": 20\n    },\n\n    \"image_size\": \"thumbnail\",\n\n    \"divider\": \"yes\",\n    \"divider_style\": \"solid\",\n    \"divider_color\": \"#dddddd\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique widget identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"price-list\"`\n* **`elements`**: Always empty array\n\n##### PRICE LIST (CRITICAL - REPEATER)\n\n* **`price_list`**\n    * Array of items. Each item includes: `_id`, `title` (Item name), `description`, `price` (Price text - STRING, e.g., \"$10\"), `link` (Optional object), `image` (Optional image object).\n    * *IMPORTANT: `price_list` is REQUIRED. At least one item must exist.*\n\n##### LAYOUT, ALIGNMENT & COLORS\n\n* **`columns`**: Number of columns. Usually 1 (vertical list).\n* **`align`**: Alignment of list (`left`, `center`, `right`)\n* **`title_color`** / **`description_color`** / **`price_color`**: Text colors\n\n##### TYPOGRAPHY, SPACING, IMAGE & DIVIDER\n\n* **`..._typography_typography`**: Enables typography for title, description, and price.\n* **`space_between`**: Space between items\n* **`image_size`**: WordPress image size\n* **`divider`**: Enables divider between items (`\"yes\"` or `\"\"`)\n* **`divider_style`**: Border style (`solid`, `dashed`, `dotted`)\n* **`divider_color`**: Divider color\n\n**IMPORTANT NOTES:**\n1. `price_list` is REQUIRED. Each item MUST include `title` and `price`.\n2. `price` is STRING (not number).\n3. `description` and `image` are optional. `link` wraps item (optional).\n\n---",
              "type": "string"
            },
            {
              "id": "a7da8c45-b1e8-42b1-a7d7-531042094842",
              "name": "price-table",
              "value": "#### Price Table (Widget)\n\nA single, comprehensive pricing column or tier. (Use 2-3 in a Grid for a full pricing section).\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"price-table\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * **Header:** `heading` (e.g., \"Pro Plan\"), `sub_heading`.\n    * **Pricing:** `price`, `currency_symbol`, `period`.\n    * **Sale:** `sale: \"yes\"` and `original_price` (to show a discount).\n    * **Features:** `features_list` (an array of items, same as `icon-list`).\n    * **Footer:** `button_text` and `footer_additional_info`.\n    * **Ribbon:** `ribbon_title` (e.g., \"Most Popular\").\n\n**Example (Price Table):**\n\n```json\n{\n  \"id\": \"pricetable123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"price-table\",\n  \"settings\": {\n    \"title\": \"Basic Plan\",\n    \"subtitle\": \"For beginners\",\n\n    \"currency\": \"$\",\n    \"price\": \"19\",\n    \"period\": \"/month\",\n\n    \"features_list\": [\n      {\n        \"_id\": \"feature1\",\n        \"text\": \"1 Website\",\n        \"icon\": \"fas fa-check\"\n      },\n      {\n        \"_id\": \"feature2\",\n        \"text\": \"Basic Support\",\n        \"icon\": \"fas fa-check\"\n      }\n    ],\n\n    \"button_text\": \"Get Started\",\n    \"link\": {\n      \"url\": \"#\",\n      \"is_external\": \"\",\n      \"nofollow\": \"\"\n    },\n\n    \"featured\": \"yes\",\n    \"featured_text\": \"Popular\",\n\n    \"alignment\": \"center\",\n\n    \"title_color\": \"#000000\",\n    \"price_color\": \"#0073e6\",\n    \"features_color\": \"#333333\",\n\n    \"button_text_color\": \"#ffffff\",\n    \"button_background_color\": \"#0073e6\",\n\n    \"button_hover_text_color\": \"#ffffff\",\n    \"button_hover_background_color\": \"#005bb5\",\n\n    \"divider\": \"yes\",\n    \"divider_color\": \"#dddddd\",\n\n    \"padding\": {\n      \"unit\": \"px\",\n      \"top\": 30,\n      \"right\": 20,\n      \"bottom\": 30,\n      \"left\": 20,\n      \"isLinked\": false\n    },\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique widget identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"price-table\"`\n* **`elements`**: Always empty array\n\n##### HEADER & PRICE (CRITICAL)\n\n* **`title`**: Plan name (e.g., \"Basic Plan\")\n* **`subtitle`**: Short description (e.g., \"For beginners\")\n* **`currency`**: Currency symbol (`$`, `Rp`)\n* **`price`**: Price value (STRING - e.g., `\"19\"`)\n* **`period`**: Billing period (`/month`, `/year`)\n    * *IMPORTANT: `price` is STRING (not number). `currency` + `price` + `period` = final display.*\n\n##### FEATURES (CRITICAL - REPEATER)\n\n* **`features_list`**\n    * Array of feature items. Each item: `_id`, `text` (Feature description), `icon` (Icon class: `\"fas fa-check\"`, `\"fas fa-times\"`).\n    * *IMPORTANT: REQUIRED for full table. Can simulate check/disable using icons.*\n\n##### BUTTON (CTA) & FEATURED\n\n* **`button_text`**: CTA button label\n* **`link`**: Button link (`url`, `is_external`, `nofollow`)\n* **`featured`**: Highlights this plan (`\"yes\"` or `\"\"`)\n* **`featured_text`**: Badge text (e.g., \"Popular\", \"Best Value\")\n\n##### ALIGNMENT, COLORS, BUTTON COLORS & DIVIDER\n\n* **`alignment`**: Alignment of content (`left`, `center`, `right`)\n* **`title_color`** / **`price_color`** / **`features_color`**: Text colors\n* **`button_text_color`** / **`button_background_color`**: Base CTA colors\n* **`button_hover_text_color`** / **`button_hover_background_color`**: Hover CTA colors\n* **`divider`**: Enables divider between sections (`\"yes\"` or `\"\"`)\n\n**IMPORTANT NOTES:**\n1. `price` is REQUIRED. `features_list` is strongly recommended.\n2. `button_text` + `link` = CTA.\n3. Used for pricing comparison layouts.\n\n---",
              "type": "string"
            },
            {
              "id": "f371311b-37eb-456c-84c4-c483f22bd15d",
              "name": "testimonial-carousel",
              "value": "#### Testimonial Carousel (Widget)\n\nA slideshow of testimonials.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"testimonial-carousel\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `slides`: An array of objects. Each object is a testimonial with `content`, `name`, `title` (job), and `image`.\n    * `image` must be an **Image Object**.\n    * Global settings control carousel behavior (`slides_per_view`) and styling for text and images.\n\n**Example (Testimonial Carousel):**\n\n```json\n{\n  \"id\": \"testimonialcarousel123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"testimonial-carousel\",\n  \"settings\": {\n    \"slides\": [\n      {\n        \"_id\": \"item1\",\n        \"testimonial_content\": \"This service is amazing!\",\n        \"name\": \"John Doe\",\n        \"job\": \"CEO, Company\",\n        \"image\": {\n          \"url\": \"https://picsum.photos/100/100?1\",\n          \"id\": \"\",\n          \"alt\": \"John Doe\"\n        }\n      },\n      {\n        \"_id\": \"item2\",\n        \"testimonial_content\": \"Highly recommended!\",\n        \"name\": \"Jane Smith\",\n        \"job\": \"Marketing Manager\",\n        \"image\": {\n          \"url\": \"https://picsum.photos/100/100?2\",\n          \"id\": \"\",\n          \"alt\": \"Jane Smith\"\n        }\n      }\n    ],\n\n    \"slides_to_show\": \"2\",\n    \"slides_to_scroll\": \"1\",\n\n    \"navigation\": \"both\",\n\n    \"autoplay\": \"yes\",\n    \"autoplay_speed\": 5000,\n    \"pause_on_hover\": \"yes\",\n\n    \"infinite\": \"yes\",\n\n    \"speed\": 500,\n\n    \"space_between\": {\n      \"unit\": \"px\",\n      \"size\": 20\n    },\n\n    \"align\": \"center\",\n\n    \"content_color\": \"#333333\",\n    \"name_color\": \"#000000\",\n    \"job_color\": \"#777777\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique widget identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"testimonial-carousel\"`\n* **`elements`**: Always empty array\n\n##### SLIDES (CRITICAL - REPEATER)\n\n* **`slides`**\n    * Array of testimonial items. Each includes: `_id`, `testimonial_content` (Main text), `name` (Person name), `job` (Job title/company), `image` (Profile image object: `url`, `id`, `alt`).\n    * *IMPORTANT: `slides` is REQUIRED. At least one item must exist.*\n\n##### SLIDER SETTINGS & NAVIGATION\n\n* **`slides_to_show`**: Number of visible testimonials (STRING value)\n* **`slides_to_scroll`**: Number of items per slide\n* **`navigation`**: UI controls (`none`, `arrows`, `dots`, `both`)\n\n##### AUTOPLAY, LOOP, SPEED & SPACING\n\n* **`autoplay`**: `\"yes\"` enables auto sliding\n* **`autoplay_speed`**: Delay between slides (ms)\n* **`pause_on_hover`**: `\"yes\"` pauses autoplay\n* **`infinite`**: `\"yes\"` enables infinite loop\n* **`speed`**: Transition speed (ms)\n* **`space_between`**: Space between slides\n\n##### ALIGNMENT & COLORS\n\n* **`align`**: Alignment of carousel container\n* **`content_color`** / **`name_color`** / **`job_color`**: Text colors\n\n**IMPORTANT NOTES:**\n1. `slides[]` is REQUIRED. Each item MUST include `testimonial_content` and `name`.\n2. `slides_to_show` is STRING (not number).\n3. Works like testimonial + image carousel combined. Elementor uses Swiper.js internally.\n\n---",
              "type": "string"
            },
            {
              "id": "d45cc9ac-e2fa-4182-8586-73b5c70583e2",
              "name": "image-box",
              "value": "#### Image Box (Widget)\n\nA self-contained block combining an image, title, and description.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"image-box\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `image`: An **Image Object**.\n    * `title_text`: The string for the title.\n    * `description_text`: The string for the body text.\n    * Global settings for alignment, image size, and typography/colors.\n\n**Example (Image Box):**\n\n```json\n{\n  \"id\": \"imagebox123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"image-box\",\n  \"settings\": {\n    \"image\": {\n      \"url\": \"https://picsum.photos/400/300\",\n      \"id\": \"\",\n      \"alt\": \"Sample Image\"\n    },\n\n    \"image_size\": \"large\",\n\n    \"title_text\": \"Image Box Title\",\n\n    \"description_text\": \"This is the description for the image box.\",\n\n    \"link\": {\n      \"url\": \"#\",\n      \"is_external\": \"\",\n      \"nofollow\": \"\"\n    },\n\n    \"link_to\": \"custom\",\n\n    \"image_position\": \"top\",\n\n    \"align\": \"center\",\n\n    \"title_color\": \"#000000\",\n    \"description_color\": \"#777777\",\n\n    \"title_typography_typography\": \"custom\",\n    \"title_typography_font_size\": {\n      \"unit\": \"px\",\n      \"size\": 20\n    },\n    \"title_typography_font_weight\": \"600\",\n\n    \"description_typography_typography\": \"custom\",\n    \"description_typography_font_size\": {\n      \"unit\": \"px\",\n      \"size\": 14\n    },\n\n    \"space_between\": {\n      \"unit\": \"px\",\n      \"size\": 10\n    },\n\n    \"image_border_radius\": {\n      \"unit\": \"px\",\n      \"top\": 10,\n      \"right\": 10,\n      \"bottom\": 10,\n      \"left\": 10,\n      \"isLinked\": true\n    },\n\n    \"hover_animation\": \"grow\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique widget identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"image-box\"`\n* **`elements`**: Always empty array\n\n##### IMAGE (CRITICAL)\n\n* **`image`**: Image object (`url` → REQUIRED for display, `id`, `alt`)\n* **`image_size`**: WordPress image size (`thumbnail`, `medium`, `large`, `full`)\n\n##### CONTENT, LINK & LAYOUT\n\n* **`title_text`**: Title of the box\n* **`description_text`**: Description text below title\n* **`link`**: Makes entire box clickable (`url`, `is_external`, `nofollow`)\n* **`link_to`**: Link type (`none`, `custom`)\n* **`image_position`**: Position of image (`top` → above text, `left` / `right` → beside text)\n* **`align`**: Alignment of content (`left`, `center`, `right`)\n\n##### COLORS, TYPOGRAPHY, SPACING & STYLE\n\n* **`title_color`** / **`description_color`**: Text colors\n* **`..._typography_typography`**: Enables typography for title and description\n* **`space_between`**: Space between image, title, description\n* **`image_border_radius`**: Rounds image corners\n* **`hover_animation`**: Animation on hover (e.g., `grow`, `shrink`, `pulse`)\n\n**IMPORTANT NOTES:**\n1. `image.url` is REQUIRED for visual output.\n2. `title_text` is strongly recommended. `description_text` is optional.\n3. `link` wraps entire box. Common use: services, features, cards.\n\n---",
              "type": "string"
            },
            {
              "id": "d237aceb-014d-4392-9a61-99454f6be86e",
              "name": "icon-box",
              "value": "#### Icon Box (Widget)\n\nA self-contained block combining an icon, title, and description.\n\n* `elType`: `\"widget\"`\n* `widgetType`: `\"icon-box\"`\n* `elements`: Must be `[]`.\n* `settings`:\n    * `selected_icon`: An **Icon Object** (e.g., `{ \"value\": \"fas fa-shield-alt\", ... }`).\n    * `title_text`: The string for the title.\n    * `description_text`: The string for the body text.\n    * Global settings for alignment, icon size, and typography/colors.\n\n**Example (Icon Box):**\n\n```json\n{\n  \"id\": \"iconbox123\",\n  \"elType\": \"widget\",\n  \"widgetType\": \"icon-box\",\n  \"settings\": {\n    \"selected_icon\": {\n      \"value\": \"fas fa-star\",\n      \"library\": \"fa-solid\"\n    },\n\n    \"title_text\": \"Icon Box Title\",\n\n    \"description_text\": \"This is the description for the icon box.\",\n\n    \"link\": {\n      \"url\": \"#\",\n      \"is_external\": \"\",\n      \"nofollow\": \"\"\n    },\n\n    \"link_to\": \"custom\",\n\n    \"position\": \"top\",\n\n    \"align\": \"center\",\n\n    \"primary_color\": \"#0073e6\",\n    \"secondary_color\": \"#ffffff\",\n\n    \"icon_size\": {\n      \"unit\": \"px\",\n      \"size\": 40\n    },\n\n    \"icon_padding\": {\n      \"unit\": \"px\",\n      \"size\": 15\n    },\n\n    \"title_color\": \"#000000\",\n    \"description_color\": \"#777777\",\n\n    \"title_typography_typography\": \"custom\",\n    \"title_typography_font_size\": {\n      \"unit\": \"px\",\n      \"size\": 20\n    },\n    \"title_typography_font_weight\": \"600\",\n\n    \"description_typography_typography\": \"custom\",\n    \"description_typography_font_size\": {\n      \"unit\": \"px\",\n      \"size\": 14\n    },\n\n    \"space_between\": {\n      \"unit\": \"px\",\n      \"size\": 10\n    },\n\n    \"hover_animation\": \"grow\",\n\n    \"margin\": {\n      \"unit\": \"px\",\n      \"top\": 0,\n      \"right\": 0,\n      \"bottom\": 20,\n      \"left\": 0,\n      \"isLinked\": false\n    },\n\n    \"_animation\": \"\",\n    \"_animation_delay\": 0,\n\n    \"css_classes\": \"\",\n    \"custom_css\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n**Explanation:**\n\n##### TOP LEVEL\n\n* **`id`**: Unique widget identifier\n* **`elType`**: Always `\"widget\"`\n* **`widgetType`**: Must be `\"icon-box\"`\n* **`elements`**: Always empty array\n\n##### ICON (CRITICAL)\n\n* **`selected_icon`**\n    * Icon object: `value` (Icon class: `\"fas fa-star\"`, `\"fas fa-check\"`), `library` (Icon library: `fa-solid`, `fa-regular`, `fa-brands`)\n    * *IMPORTANT: REQUIRED for visual output.*\n\n##### CONTENT, LINK & LAYOUT\n\n* **`title_text`**: Title of the box\n* **`description_text`**: Description text\n* **`link`**: Makes entire box clickable (`url`, `is_external`, `nofollow`)\n* **`link_to`**: Link type (`none`, `custom`)\n* **`position`**: Position of icon (`top` → above text, `left` / `right` → beside text)\n* **`align`**: Alignment of content (`left`, `center`, `right`)\n\n##### COLORS, SIZE, TYPOGRAPHY & SPACING\n\n* **`primary_color`**: Icon color\n* **`secondary_color`**: Background color (if styled)\n* **`icon_size`**: Size of icon\n* **`icon_padding`**: Space around icon\n* **`title_color`** / **`description_color`**: Text colors\n* **`..._typography_typography`**: Enables typography for title and description\n* **`space_between`**: Space between icon, title, description\n* **`hover_animation`**: Animation on hover\n\n**IMPORTANT NOTES:**\n1. `selected_icon` is REQUIRED.\n2. `title_text` is strongly recommended.\n3. Same structure as Image Box but with icon instead of image. Common use: feature blocks, service highlights, benefit lists.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -80
      ],
      "id": "17fc7fd3-31d8-4773-ba41-120882e6fb70",
      "name": "Widget With Description"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63b601de-010a-42d7-b0a7-8bd41c4abc55",
              "name": "schema",
              "value": "={{ $json.schema }}",
              "type": "array"
            },
            {
              "id": "a922d1af-0cb0-41e7-bae5-65c1f92949c8",
              "name": "container",
              "value": "### Container\n\nThis is the main layout element for sections and wrappers.\n\n  * `elType`: `\"container\"`\n  * `isInner`: `false` for top-level sections. `true` for nested containers (e.g., grid cells).\n  * `elements`: An array that holds child element objects (widgets or other containers).\n  * `settings`: An object containing styling like `padding`, `margin`, `flex_gap`, `background_background` (\"classic\" or \"gradient\"), `background_color`, `background_image` (must be an Image Object), and `background_overlay_background`.\n\n**Example (Container):**\n\n```json\n{\n  \"id\": \"1f182ab9\",\n  \"elType\": \"container\",\n  \"isInner\": false,\n  \"settings\": {\n    \"padding\": {\n      \"unit\": \"px\",\n      \"top\": \"80\",\n      \"right\": \"20\",\n      \"bottom\": \"80\",\n      \"left\": \"20\",\n      \"isLinked\": false\n    },\n    \"background_background\": \"classic\",\n    \"background_color\": \"#1A1A1A\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "a107c83d-ff98-4365-b0e3-dec53522bb22",
              "name": "grid",
              "value": "\n### Grid (Special Container)\n\nThis is a **Container** used for multi-column layouts.\n\n  * `elType`: `\"container\"`\n  * `isInner`: `true` (as it's usually inside a main section container).\n  * `settings`:\n      * `container_type`: **MUST** be `\"grid\"`.\n      * `grid_columns_grid`: Object with `unit: \"fr\"`, `size` (the number of columns, e.g., 2, 3), and `sizes: []`.\n      * `grid_rows_grid`: Object with `unit: \"fr\"`, `size` (the number of rows, e.g., 1 depend on the rows), and `sizes: []`.\n  * `elements`: Its `elements` array **MUST** contain other **Containers** (with `isInner: true`) which act as the grid \"cells.\"\n\n**Example (3-Column Grid):**\n\n```json\n{\n  \"id\": \"1eaf0c9b\",\n  \"elType\": \"container\",\n  \"isInner\": true,\n  \"settings\": {\n    \"content_width\": \"full\",\n    \"container_type\": \"grid\",\n    \"grid_columns_grid\": {\n      \"unit\": \"fr\",\n      \"size\": 3,\n      \"sizes\": []\n    },\n    \"grid_rows_grid\": {\n      \"unit\": \"fr\",\n      \"size\": 1,\n      \"sizes\": []\n    }\n  },\n  \"elements\": [\n    { \"id\": \"396af374\", \"elType\": \"container\", \"isInner\": true, \"settings\": {}, \"elements\": [] },\n    { \"id\": \"5d484588\", \"elType\": \"container\", \"isInner\": true, \"settings\": {}, \"elements\": [] },\n    { \"id\": \"9a8b7c6d\", \"elType\": \"container\", \"isInner\": true, \"settings\": {}, \"elements\": [] }\n  ]\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "31ce11dc-0c39-4524-953f-85ff432d547d",
              "name": "heading",
              "value": "### Heading (Widget)\n\nUsed for titles.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"heading\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `title`: The text content (can include simple HTML like `<span>`).\n      * `header_size`: HTML tag (\"h1\", \"h2\", \"h3\", etc.).\n      * `typography_...` properties and `title_color`.\n\n**Example (Heading):**\n\n```json\n{\n  \"id\": \"2dfb28d5\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"heading\",\n  \"settings\": {\n    \"title\": \"This is a Headline\",\n    \"header_size\": \"h2\",\n    \"typography_typography\": \"custom\",\n    \"typography_font_family\": \"Roboto\",\n    \"typography_font_size\": { \"unit\": \"px\", \"size\": 40, \"sizes\": [] },\n    \"typography_font_weight\": \"700\",\n    \"title_color\": \"#170BE2\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "f90bef15-6eb4-4699-9db8-5ffb86642f9e",
              "name": "icon-list",
              "value": "### Icon List (Widget)\n\nUsed for a bulleted list with custom icons.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"icon-list\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `icon_list`: An array of objects. Each object has `text` (the list item) and optionally `selected_icon` (an icon object with `value` and `library`).\n\n**Example (Icon List):**\n\n```json\n{\n  \"id\": \"2bee7be7\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"icon-list\",\n  \"settings\": {\n    \"icon_list\": [\n      {\n        \"text\": \"Feature One\",\n        \"_id\": \"b406229\",\n        \"selected_icon\": { \"value\": \"fas fa-check\", \"library\": \"fa-solid\" }\n      },\n      {\n        \"text\": \"Feature Two\",\n        \"_id\": \"2429975\",\n        \"selected_icon\": { \"value\": \"fas fa-check\", \"library\": \"fa-solid\" }\n      }\n    ],\n    \"icon_size\": { \"unit\": \"px\", \"size\": 20, \"sizes\": [] },\n    \"text_color\": \"#333333\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "573f0497-dd60-44fb-936b-da2171102619",
              "name": "button",
              "value": "### Button (Widget)\n\nUsed for links and calls to action.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"button\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `text`: The button label (e.g., \"Learn More\").\n      * `link`: Object with `url` and empty `is_external`, `nofollow`.\n      * Colors: `button_text_color`, `background_color`, `hover_color`, `button_background_hover_color`.\n      * `border_radius` (be creative) and `text_padding`.\n\n**Example (Button):**\n\n```json\n{\n  \"id\": \"79314c98\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"button\",\n  \"settings\": {\n    \"text\": \"Click Here\",\n    \"link\": {\n      \"url\": \"https://example.com\",\n      \"is_external\": \"\",\n      \"nofollow\": \"\",\n      \"custom_attributes\": \"\"\n    },\n    \"button_text_color\": \"#FFFFFF\",\n    \"background_color\": \"#027BD6\",\n    \"border_radius\": {\n      \"unit\": \"px\",\n      \"top\": \"30\",\n      \"right\": \"30\",\n      \"bottom\": \"30\",\n      \"left\": \"30\",\n      \"isLinked\": true\n    }\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "4689e6ba-dfe0-463b-a55c-5e7c4d54e3ba",
              "name": "text-editor",
              "value": "### Text Editor (Widget)\n\nUsed for paragraphs and body text.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"text-editor\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `editor`: An **HTML string** for the content (e.g., `<p>Hello world.</p>`).\n      * `typography_...` properties and `text_color`.\n\n**Example (Text Editor):**\n\n```json\n{\n  \"id\": \"b297f6\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"text-editor\",\n  \"settings\": {\n    \"editor\": \"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>\",\n    \"typography_typography\": \"custom\",\n    \"typography_font_family\": \"Roboto\",\n    \"typography_font_size\": { \"unit\": \"px\", \"size\": 18, \"sizes\": [] },\n    \"typography_font_weight\": \"400\",\n    \"text_color\": \"#333333\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "2b5ba814-4dbc-499c-944a-a7f52e81ef8e",
              "name": "image",
              "value": "### Image (Widget)\n\nUsed for standalone images.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"image\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `image`: An **Image Object** as defined in the Core Rules.\n      * `image_size`: `\"full\"`.\n\n**Example (Image):**\n\n```json\n{\n  \"id\": \"2b037a79\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"image\",\n  \"settings\": {\n    \"image\": {\n      \"url\": \"https://picsum.photos/800/600\",\n      \"id\": \"\",\n      \"size\": \"\",\n      \"source\": \"url\"\n    },\n    \"image_size\": \"full\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "87980d24-0fb6-4558-ba2f-38d2e693ecc1",
              "name": "video",
              "value": "### Video (Widget)\n\nUsed to embed a video.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"video\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `youtube_url`: A **relevant sample YouTube URL**.\n      * Other URL fields (`vimeo_url`, `dailymotion_url`) should be `\"\"`.\n\n**Example (Video):**\n\n```json\n{\n  \"id\": \"3b43f5a4\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"video\",\n  \"settings\": {\n    \"youtube_url\": \"https://www.youtube.com/watch?v=dQw4w9WgXcQ\",\n    \"vimeo_url\": \"\",\n    \"dailymotion_url\": \"\",\n    \"videopress_url\": \"\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "f714ce03-64dc-43c1-a08c-0c0d31cba540",
              "name": "icon",
              "value": "### Icon (Widget)\n\nUsed for a standalone icon.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"icon\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `selected_icon`: An object with `value` (e.g., \"fas fa-star\") and `library` (e.g., \"fa-solid\"). The icon choice must be **relevant**.\n\n**Example (Icon):**\n\n```json\n{\n  \"id\": \"2259c1b\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"icon\",\n  \"settings\": {\n    \"selected_icon\": {\n      \"value\": \"fas fa-check-circle\",\n      \"library\": \"fa-solid\"\n    }\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "01abbcb3-4a5b-4c55-b689-7034ed1e9a1c",
              "name": "google_maps",
              "value": "### Google Maps (Widget)\n\nUsed to embed a map.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"google_maps\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `address`: A **relevant location string** (e.g., \"Eiffel Tower, Paris\" or \"Times Square, New York\").\n      * `zoom`: Object with `size` (e.g., 12).\n      * `height`: Object with `size` (e.g., 400).\n\n**Example (Google Maps):**\n\n```json\n{\n  \"id\": \"650511a3\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"google_maps\",\n  \"settings\": {\n    \"address\": \"Statue of Liberty, New York, NY\",\n    \"zoom\": { \"unit\": \"px\", \"size\": 13, \"sizes\": [] },\n    \"height\": { \"unit\": \"px\", \"size\": 450, \"sizes\": [] }\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "1144bb5a-9f45-48b6-8b0a-b2900c3b9b81",
              "name": "nested-tabs",
              "value": "### Nested Tabs (Widget)\n\nUsed for organizing content into clickable tabs.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"nested-tabs\"`\n  * **Dual Structure:**\n    1.  `settings.tabs`: An array of objects, one for each tab title (e.g., `{ \"tab_title\": \"Title 1\", \"_id\": \"abc123\" }`). Can also include `tab_icon`.\n    2.  `elements`: An array of **Containers** (`elType: \"container\"`, `isInner\": true`).\n  * **Mapping:** The first object in `settings.tabs` maps to the first container in `elements`, and so on. The content (text, images, etc.) goes *inside* these containers.\n\n**Example (2 Tabs):**\n\n```json\n{\n  \"id\": \"65c6b2b5\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"nested-tabs\",\n  \"settings\": {\n    \"tabs\": [\n      { \"tab_title\": \"Tab title 1\", \"_id\": \"65507bc\", \"tab_icon\": { \"value\": \"fas fa-info-circle\", \"library\": \"fa-solid\" } },\n      { \"tab_title\": \"Tab title 2\", \"_id\": \"7e56ddb\", \"tab_icon\": { \"value\": \"fas fa-cogs\", \"library\": \"fa-solid\" } }\n    ]\n  },\n  \"elements\": [\n    {\n      \"id\": \"4407049b\",\n      \"elType\": \"container\",\n      \"isInner\": true,\n      \"settings\": {},\n      \"elements\": [\n        \n      ]\n    },\n    {\n      \"id\": \"65fb6c17\",\n      \"elType\": \"container\",\n      \"isInner\": true,\n      \"settings\": {},\n      \"elements\": [\n        \n      ]\n    }\n  ]\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "d441b5b8-2352-4fec-833c-571e21d90e0e",
              "name": "nested-accordion",
              "value": "### Nested Accordion (Widget)\n\nUsed for collapsible content, perfect for FAQs.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"nested-accordion\"`\n  * **Dual Structure:**\n    1.  `settings.items`: An array of objects, one for each accordion title (e.g., `{ \"item_title\": \"Question 1?\", \"_id\": \"def456\" }`).\n    2.  `elements`: An array of **Containers** (`elType: \"container\"`, `isInner\": true`).\n  * **Mapping:** The first object in `settings.items` maps to the first container in `elements`. The answer (text, images, etc.) goes *inside* these containers.\n\n**Example (2-Item Accordion):**\n\n```json\n{\n  \"id\": \"170357c6\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"nested-accordion\",\n  \"settings\": {\n    \"items\": [\n      { \"item_title\": \"First Question?\", \"_id\": \"0a1ad02\" },\n      { \"item_title\": \"Second Question?\", \"_id\": \"893fd19\" }\n    ]\n  },\n  \"elements\": [\n    {\n      \"id\": \"af9788a\",\n      \"elType\": \"container\",\n      \"isInner\": true,\n      \"settings\": {},\n      \"elements\": [\n        \n      ]\n    },\n    {\n      \"id\": \"2e58c2e7\",\n      \"elType\": \"container\",\n      \"isInner\": true,\n      \"settings\": {},\n      \"elements\": [\n        \n      ]\n    }\n  ]\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "70aa9b4f-1e3c-4d3e-9791-604aa54cc92f",
              "name": "image-carousel",
              "value": "### Image Carousel (Widget)\n\nUsed for a slideshow of images.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"image-carousel\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `carousel`: An array of simplified image objects: `{ \"id\": \"\", \"url\": \"https://picsum.photos/...\" }`. Use multiple Picsum images.\n      * `slides_to_show`: (e.g., \"3\").\n\n**Example (Image Carousel):**\n\n```json\n{\n  \"id\": \"2ffc6951\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"image-carousel\",\n  \"settings\": {\n    \"carousel\": [\n      { \"id\": \"\", \"url\": \"https://picsum.photos/800/600?random=1\" },\n      { \"id\": \"\", \"url\": \"https://picsum.photos/800/600?random=2\" },\n      { \"id\": \"\", \"url\": \"https://picsum.photos/800/600?random=3\" }\n    ],\n    \"slides_to_show\": \"1\",\n    \"slides_to_scroll\": \"1\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "4edf743a-02e8-4a84-9d4b-841090fdaf6b",
              "name": "counter",
              "value": "### Counter (Widget)\n\nUsed for an animated number.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"counter\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `starting_number`: (e.g., 0).\n      * `ending_number`: The target number (e.g., 1000). **Must be relevant**.\n      * `prefix`: (e.g., \"+\").\n      * `suffix`: (e.g., \"K\").\n      * `title`: The text label. **Must be relevant**.\n\n**Example (Counter):**\n\n```json\n{\n  \"id\": \"47c92b3b\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"counter\",\n  \"settings\": {\n    \"starting_number\": 0,\n    \"ending_number\": 2500,\n    \"prefix\": \"\",\n    \"suffix\": \"+\",\n    \"title\": \"Happy Clients\",\n    \"number_color\": \"#111111\",\n    \"typography_number_font_size\": { \"unit\": \"px\", \"size\": 60, \"sizes\": [] },\n    \"title_color\": \"#555555\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "48430d59-9ba4-45f5-bb5e-a930b7c0ce28",
              "name": "progress",
              "value": "### Progress (Widget)\n\nUsed for an animated progress bar.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"progress\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `title`: The label for the bar. **Must be relevant**.\n      * `percent`: Object with `size` (the value, e.g., 90).\n      * `inner_text`: Text inside the bar.\n\n**Example (Progress):**\n\n```json\n{\n  \"id\": \"52e816ff\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"progress\",\n  \"settings\": {\n    \"title\": \"Customer Satisfaction\",\n    \"percent\": {\n      \"unit\": \"%\",\n      \"size\": 95,\n      \"sizes\": []\n    },\n    \"inner_text\": \"95%\",\n    \"bar_color\": \"#5CB85C\",\n    \"bar_height\": { \"unit\": \"px\", \"size\": 25, \"sizes\": [] }\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "7125078f-ccda-49ce-9be6-c1d77b0fcac1",
              "name": "testimonial",
              "value": "###  Testimonial (Widget)\n\nUsed for a single user review.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"testimonial\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `testimonial_content`: The review text. **Must be relevant**.\n      * `testimonial_image`: An **Image Object** (see Core Rules).\n      * `testimonial_name`: User's name. **Must be relevant**.\n      * `testimonial_job`: User's title. **Must be relevant**.\n\n**Example (Testimonial):**\n\n```json\n{\n  \"id\": \"572c9749\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"testimonial\",\n  \"settings\": {\n    \"testimonial_content\": \"This product completely changed my workflow. Highly recommended!\",\n    \"testimonial_image\": {\n      \"url\": \"https://picsum.photos/150/150\",\n      \"id\": \"\",\n      \"size\": \"\",\n      \"source\": \"url\"\n    },\n    \"testimonial_name\": \"Jane Doe\",\n    \"testimonial_job\": \"Project Manager\",\n    \"image_size\": { \"unit\": \"px\", \"size\": 80, \"sizes\": [] },\n    \"image_border_radius\": { \"unit\": \"%\", \"top\": \"50\", \"right\": \"50\", \"bottom\": \"50\", \"left\": \"50\", \"isLinked\": true }\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "c36c810e-eb10-4d4f-9fb0-3f56e07a452c",
              "name": "social-icons",
              "value": "### Social Icons (Widget)\n\nUsed for a list of social media links.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"social-icons\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `social_icon_list`: An array of objects. Each object needs:\n          * `social_icon`: An icon object (e.g., `{ \"value\": \"fab fa-facebook\", \"library\": \"fa-brands\" }`).\n          * `link`: A link object (e.g., `{ \"url\": \"https://facebook.com\", ... }`).\n\n**Example (Social Icons):**\n\n```json\n{\n  \"id\": \"3b2e6cb3\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"social-icons\",\n  \"settings\": {\n    \"social_icon_list\": [\n      {\n        \"social_icon\": { \"value\": \"fab fa-facebook\", \"library\": \"fa-brands\" },\n        \"_id\": \"a22a15d\",\n        \"link\": { \"url\": \"https://facebook.com\", \"is_external\": \"true\", \"nofollow\": \"\" }\n      },\n      {\n        \"social_icon\": { \"value\": \"fab fa-twitter\", \"library\": \"fa-brands\" },\n        \"_id\": \"fcead12\",\n        \"link\": { \"url\": \"https://twitter.com\", \"is_external\": \"true\", \"nofollow\": \"\" }\n      }\n    ],\n    \"shape\": \"circle\",\n    \"icon_size\": { \"unit\": \"px\", \"size\": 18, \"sizes\": [] }\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "051382c3-41cb-492a-9a17-27883aa641fd",
              "name": "rating",
              "value": "### Rating (Widget)\n\nUsed for displaying a star rating.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"rating\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `rating_scale`: Object with `size` (e.g., 5).\n      * `rating_value`: The score (e.g., 4.5). **Must be relevant**.\n      * `rating_icon`: Icon object, usually `\"fas fa-star\"`.\n      * `icon_color`: Color for filled stars.\n      * `icon_unmarked_color`: Color for empty stars.\n\n**Example (Rating):**\n\n```json\n{\n  \"id\": \"53bea524\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"rating\",\n  \"settings\": {\n    \"rating_scale\": { \"unit\": \"px\", \"size\": 5, \"sizes\": [] },\n    \"rating_value\": 4.5,\n    \"rating_icon\": { \"value\": \"fas fa-star\", \"library\": \"fa-solid\" },\n    \"icon_size\": { \"unit\": \"px\", \"size\": 20, \"sizes\": [] },\n    \"icon_color\": \"#FFD700\",\n    \"icon_unmarked_color\": \"#CCCCCC\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "6aadff39-1702-4e03-b661-ebd9858d60d9",
              "name": "form",
              "value": "### Form (Widget)\n\nUsed for creating contact or lead-gen forms.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"form\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `form_fields`: An array of objects, one for each field. Each object defines `field_type` (`text`, `email`, `textarea`, `select`, etc.), `field_label`, `placeholder`, and `width`.\n      * `button_text`: The text for the submit button.\n      * Styling for labels, fields, and the button is included.\n\n**Example (Form):**\n\n```json\n{\n  \"id\": \"41ab6718\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"form\",\n  \"settings\": {\n    \"form_name\": \"New Form\",\n    \"form_fields\": [\n      {\n        \"custom_id\": \"name\",\n        \"field_label\": \"Name\",\n        \"placeholder\": \"Your Name\",\n        \"width\": \"100\",\n        \"_id\": \"3726c54\",\n        \"required\": \"true\"\n      },\n      {\n        \"custom_id\": \"email\",\n        \"field_type\": \"email\",\n        \"required\": \"true\",\n        \"field_label\": \"Email\",\n        \"placeholder\": \"Your Email\",\n        \"width\": \"100\",\n        \"_id\": \"7a07d35\"\n      },\n      {\n        \"custom_id\": \"message\",\n        \"field_type\": \"textarea\",\n        \"field_label\": \"Message\",\n        \"placeholder\": \"Your Message\",\n        \"width\": \"100\",\n        \"_id\": \"317daef\"\n      }\n    ],\n    \"button_text\": \"Send\",\n    \"success_message\": \"Your submission was successful.\",\n    \"button_background_color\": \"#027BD6\",\n    \"button_text_color\": \"#FFFFFF\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "5f901fd0-4504-47df-a8ff-4f97667456b9",
              "name": "slides",
              "value": "### Slides (Widget)\n\nA self-contained slideshow where each slide has a background, title, text, and button.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"slides\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `slides`: An array of objects. Each object is a slide with properties for `heading`, `description`, `button_text`, and `background_image` or `background_color`.\n      * `background_image` must be an **Image Object**.\n      * Global settings control `slides_height`, navigation (arrows/dots), and default typography/button styles.\n\n**Example (Slides):**\n\n```json\n{\n  \"id\": \"6df91871\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"slides\",\n  \"settings\": {\n    \"slides\": [\n      {\n        \"heading\": \"Slide Title 1\",\n        \"description\": \"This is a description for the first slide.\",\n        \"button_text\": \"Learn More\",\n        \"background_image\": {\n          \"url\": \"https://picsum.photos/1200/500?random=1\",\n          \"id\": \"\",\n          \"size\": \"\",\n          \"source\": \"url\"\n        },\n        \"_id\": \"fd17634\",\n        \"background_overlay\": \"yes\"\n      },\n      {\n        \"heading\": \"Slide Title 2\",\n        \"description\": \"This is a description for the second slide.\",\n        \"button_text\": \"Get Started\",\n        \"background_color\": \"#D3277E\",\n        \"_id\": \"d7c7abd\"\n      }\n    ],\n    \"slides_height\": { \"unit\": \"px\", \"size\": 500, \"sizes\": [] },\n    \"heading_color\": \"#FFFFFF\",\n    \"description_color\": \"#FFFFFF\",\n    \"button_text_color\": \"#FFFFFF\",\n    \"button_background_color\": \"#003BFF\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "89503afa-f598-4693-b336-30c9ed687ac9",
              "name": "price-list",
              "value": "### Price List (Widget)\n\nUsed for creating a list of items with prices, perfect for menus.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"price-list\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `price_list`: An array of objects. Each object is a list item with `title`, `item_description`, `price`, and an optional `image`.\n      * `image` must be an **Image Object**.\n      * Global settings control typography and colors for title, price, description, and the separator style.\n\n**Example (Price List):**\n\n```json\n{\n  \"id\": \"ac9a988\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"price-list\",\n  \"settings\": {\n    \"price_list\": [\n      {\n        \"title\": \"Item One\",\n        \"item_description\": \"Description for the first item on the list.\",\n        \"price\": \"$12.50\",\n        \"_id\": \"d1a0d09\",\n        \"image\": {\n          \"url\": \"https://picsum.photos/150/150?random=1\",\n          \"id\": \"\",\n          \"size\": \"\",\n          \"source\": \"url\"\n        }\n      },\n      {\n        \"title\": \"Item Two\",\n        \"item_description\": \"Description for the second item on the list.\",\n        \"price\": \"$9.00\",\n        \"_id\": \"ea12373\"\n      }\n    ],\n    \"heading_color\": \"#000000\",\n    \"price_color\": \"#EE0000\",\n    \"description_color\": \"#2E0A0A\",\n    \"separator_style\": \"dashed\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "a7da8c45-b1e8-42b1-a7d7-531042094842",
              "name": "price-table",
              "value": "### Price Table (Widget)\n\nA single, comprehensive pricing column or tier. (Use 2-3 in a Grid for a full pricing section).\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"price-table\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * **Header:** `heading` (e.g., \"Pro Plan\"), `sub_heading`.\n      * **Pricing:** `price`, `currency_symbol`, `period`.\n      * **Sale:** `sale: \"yes\"` and `original_price` (to show a discount).\n      * **Features:** `features_list` (an array of items, same as `icon-list`).\n      * **Footer:** `button_text` and `footer_additional_info`.\n      * **Ribbon:** `ribbon_title` (e.g., \"Most Popular\").\n\n**Example (Price Table):**\n\n```json\n{\n  \"id\": \"76a922b2\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"price-table\",\n  \"settings\": {\n    \"heading\": \"Pro Plan\",\n    \"sub_heading\": \"Best for growing teams\",\n    \"price\": \"49.99\",\n    \"period\": \"Monthly\",\n    \"features_list\": [\n      {\n        \"item_text\": \"All Core Features\",\n        \"selected_item_icon\": { \"value\": \"fas fa-check\", \"library\": \"fa-solid\" },\n        \"_id\": \"01d7b02\"\n      },\n      {\n        \"item_text\": \"100GB Storage\",\n        \"selected_item_icon\": { \"value\": \"fas fa-check\", \"library\": \"fa-solid\" },\n        \"_id\": \"41306a6\"\n      },\n      {\n        \"item_text\": \"Priority Support\",\n        \"selected_item_icon\": { \"value\": \"fas fa-check\", \"library\": \"fa-solid\" },\n        \"_id\": \"faaa957\"\n      }\n    ],\n    \"button_text\": \"Choose Plan\",\n    \"header_bg_color\": \"#000000\",\n    \"heading_color\": \"#FFFFFF\",\n    \"price_color\": \"#000000\",\n    \"features_list_bg_color\": \"#FFFFFF\",\n    \"button_background_color\": \"#027BD6\",\n    \"button_text_color\": \"#FFFFFF\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "f371311b-37eb-456c-84c4-c483f22bd15d",
              "name": "testimonial-carousel",
              "value": "### Testimonial Carousel (Widget)\n\nA slideshow of testimonials.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"testimonial-carousel\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `slides`: An array of objects. Each object is a testimonial with `content`, `name`, `title` (job), and `image`.\n      * `image` must be an **Image Object**.\n      * Global settings control carousel behavior (`slides_per_view`) and styling for text and images.\n\n**Example (Testimonial Carousel):**\n\n```json\n{\n          \"id\": \"47612fb1\",\n          \"settings\": {\n            \"slides_name\": \"Testimonial\",\n            \"slides\": [\n              {\n                \"content\": \"Content for testimonial 1\",\n                \"name\": \"Sergio\",\n                \"title\": \"COO\",\n                 \"image\": {\n                        \"url\": \"https://picsum.photos/150/150?random=1\",\n                        \"id\": \"\",\n                        \"size\": \"\",\n                        \"source\": \"url\"\n                      },\n                \"_id\": \"b48f234\"\n              },\n              {\n                \"content\": \"Content for testimonial 2\",\n                \"name\": \"Raoul\",\n                \"title\": \"CEO\",\n                 \"image\": {\n                        \"url\": \"https://picsum.photos/150/150?random=1\",\n                        \"id\": \"\",\n                        \"size\": \"\",\n                        \"source\": \"url\"\n                      },\n                \"_id\": \"8421754\"\n              }\n            ],\n            \"skin\": \"bubble\",\n            \"alignment\": \"left\",\n            \"slides_per_view\": \"1\",\n            \"slides_to_scroll\": \"1\",\n            \"width\": {\n              \"unit\": \"%\",\n              \"size\": 50,\n              \"sizes\": []\n            },\n            \"space_between\": {\n              \"unit\": \"px\",\n              \"size\": 5,\n              \"sizes\": []\n            },\n            \"slide_background_color\": \"#FFE5E5\",\n            \"slide_border_size\": {\n              \"unit\": \"px\",\n              \"top\": \"2\",\n              \"right\": \"2\",\n              \"bottom\": \"2\",\n              \"left\": \"2\",\n              \"isLinked\": true\n            },\n            \"slide_border_radius\": {\n              \"unit\": \"px\",\n              \"size\": 10,\n              \"sizes\": []\n            },\n            \"slide_border_color\": \"#FF7979\",\n            \"slide_padding\": {\n              \"unit\": \"px\",\n              \"top\": \"30\",\n              \"right\": \"30\",\n              \"bottom\": \"30\",\n              \"left\": \"30\",\n              \"isLinked\": true\n            },\n            \"content_gap\": {\n              \"unit\": \"px\",\n              \"size\": 30,\n              \"sizes\": []\n            },\n            \"content_color\": \"#000000\",\n            \"content_typography_typography\": \"custom\",\n            \"content_typography_font_family\": \"Open Sans\",\n            \"content_typography_font_size\": {\n              \"unit\": \"px\",\n              \"size\": 16,\n              \"sizes\": []\n            },\n            \"content_typography_font_weight\": \"400\",\n            \"content_typography_font_style\": \"italic\",\n            \"name_color\": \"#FF0000\",\n            \"name_typography_typography\": \"custom\",\n            \"name_typography_font_family\": \"Roboto\",\n            \"name_typography_font_size\": {\n              \"unit\": \"px\",\n              \"size\": 16,\n              \"sizes\": []\n            },\n            \"name_typography_font_weight\": \"600\",\n            \"title_color\": \"#0E00FF\",\n            \"title_typography_typography\": \"custom\",\n            \"title_typography_font_family\": \"Open Sans\",\n            \"title_typography_font_size\": {\n              \"unit\": \"px\",\n              \"size\": 14,\n              \"sizes\": []\n            },\n            \"image_size\": {\n              \"unit\": \"px\",\n              \"size\": 60,\n              \"sizes\": []\n            },\n            \"image_gap\": {\n              \"unit\": \"px\",\n              \"size\": 20,\n              \"sizes\": []\n            },\n            \"image_border\": \"yes\",\n            \"image_border_color\": \"#FFFFFF\",\n            \"image_border_width\": {\n              \"unit\": \"px\",\n              \"size\": 1,\n              \"sizes\": []\n            },\n            \"image_border_radius\": {\n              \"unit\": \"px\",\n              \"size\": 50,\n              \"sizes\": []\n            },\n            \"arrows_size\": {\n              \"unit\": \"px\",\n              \"size\": 30,\n              \"sizes\": []\n            },\n            \"arrows_color\": \"#0A0000\",\n            \"pagination_gap\": {\n              \"unit\": \"px\",\n              \"size\": 5,\n              \"sizes\": []\n            },\n            \"pagination_size\": {\n              \"unit\": \"px\",\n              \"size\": 10,\n              \"sizes\": []\n            },\n            \"pagination_color_inactive\": \"#EC6262\",\n            \"pagination_color\": \"#FC0000\",\n            \"background_color\": \"#D1D1D1\",\n            \"text_padding\": {\n              \"unit\": \"px\",\n              \"top\": \"30\",\n              \"right\": \"30\",\n              \"bottom\": \"30\",\n              \"left\": \"30\",\n              \"isLinked\": true\n            },\n            \"border_radius\": {\n              \"unit\": \"px\",\n              \"top\": \"10\",\n              \"right\": \"10\",\n              \"bottom\": \"10\",\n              \"left\": \"10\",\n              \"isLinked\": true\n            }\n          },\n          \"elements\": [],\n          \"isInner\": false,\n          \"widgetType\": \"testimonial-carousel\",\n          \"elType\": \"widget\"\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "d45cc9ac-e2fa-4182-8586-73b5c70583e2",
              "name": "image-box",
              "value": "### Image Box (Widget)\n\nA self-contained block combining an image, title, and description.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"image-box\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `image`: An **Image Object**.\n      * `title_text`: The string for the title.\n      * `description_text`: The string for the body text.\n      * Global settings for alignment, image size, and typography/colors.\n\n**Example (Image Box):**\n\n```json\n{\n  \"id\": \"2b41b844\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"image-box\",\n  \"settings\": {\n    \"image\": {\n      \"url\": \"https://picsum.photos/600/400\",\n      \"id\": \"\",\n      \"size\": \"\",\n      \"source\": \"url\"\n    },\n    \"title_text\": \"This is an Image Box\",\n    \"description_text\": \"A short description of the content goes here.\",\n    \"text_align\": \"center\",\n    \"title_color\": \"#111111\",\n    \"description_color\": \"#555555\"\n  },\n  \"elements\": []\n}\n```\n\n-----",
              "type": "string"
            },
            {
              "id": "d237aceb-014d-4392-9a61-99454f6be86e",
              "name": "icon-box",
              "value": "### Icon Box (Widget)\n\nA self-contained block combining an icon, title, and description.\n\n  * `elType`: `\"widget\"`\n  * `widgetType`: `\"icon-box\"`\n  * `elements`: Must be `[]`.\n  * `settings`:\n      * `selected_icon`: An **Icon Object** (e.g., `{ \"value\": \"fas fa-shield-alt\", ... }`).\n      * `title_text`: The string for the title.\n      * `description_text`: The string for the body text.\n      * Global settings for alignment, icon size, and typography/colors.\n\n**Example (Icon Box):**\n\n```json\n{\n  \"id\": \"146272e6\",\n  \"elType\": \"widget\",\n  \"isInner\": false,\n  \"widgetType\": \"icon-box\",\n  \"settings\": {\n    \"selected_icon\": {\n      \"value\": \"fas fa-shield-alt\",\n      \"library\": \"fa-solid\"\n    },\n    \"title_text\": \"Secure & Reliable\",\n    \"description_text\": \"A short description of the feature goes here.\",\n    \"text_align\": \"center\",\n    \"primary_color\": \"#027BD6\",\n    \"title_color\": \"#111111\",\n    \"description_color\": \"#555555\"\n  },\n  \"elements\": []\n}\n```",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        -80
      ],
      "id": "eaca8416-5dbe-4265-9e04-c11c8fb209d7",
      "name": "Widget Without Description"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "cc9e79d5-21eb-43a3-ab56-f3895a0bd586",
  "owner": {
    "type": "team",
    "teamId": "UNcEOCawQV9ZsxYR",
    "teamName": "SynergizeFlow"
  },
  "parentFolderId": "G6aKnDBpsyCVjLdc",
  "isArchived": true
}