workflows/47zdomeVBPO8taR9.json
{
  "id": "47zdomeVBPO8taR9",
  "name": "SF - Chat Agent",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc48725e-a61d-4dae-b859-0ad9aafc6057",
              "name": "website",
              "value": "={{ $json.body.domain_name }}",
              "type": "string"
            },
            {
              "id": "3fb748b3-ffed-49a4-8410-05c82ee2862c",
              "name": "code",
              "value": "={{ $json.body.license_key }}",
              "type": "string"
            },
            {
              "id": "db301c01-bebe-4fac-a55c-942fe8c10776",
              "name": "chatInput",
              "value": "={{ $json.body.content }}",
              "type": "string"
            },
            {
              "id": "dd7f2d1c-1662-4971-96e6-f997d54a2b96",
              "name": "type",
              "value": "={{ $json.body.type }}",
              "type": "string"
            },
            {
              "id": "0d0ac0eb-33ab-4464-aafb-bd9e5f90718e",
              "name": "sessionId",
              "value": "={{ $json.body.license_key }}-{{ $json.body.ipAddress }}",
              "type": "string"
            },
            {
              "id": "5a3e7ff5-3d03-47ec-b858-fd41647ec496",
              "name": "agentName",
              "value": "={{ $json.body.agent_name }}",
              "type": "string"
            },
            {
              "id": "41381ea6-f372-442f-86a9-ca53b2ed226c",
              "name": "websiteName",
              "value": "={{ $json.body.website_name }}",
              "type": "string"
            },
            {
              "id": "b1afbc43-ab60-4c44-961b-bd64eb0b4c36",
              "name": "ipAddress",
              "value": "={{ $json.body.ipAddress }}",
              "type": "string"
            },
            {
              "id": "2833edcb-675d-4534-8f08-6373be46b54d",
              "name": "hasCTA",
              "value": "={{ $json.body.hasCTA }}",
              "type": "boolean"
            },
            {
              "id": "7cd5015b-4095-47c1-be15-f108d757f4fd",
              "name": "agentLang",
              "value": "={{ $json.body.agent_lang }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1696,
        288
      ],
      "id": "861e64f0-5370-48e1-84cc-d5833caba03c",
      "name": "Prepare data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Prepare data').item.json.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fba5dce1-d07f-4605-9bd8-8fb53007724a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "df319588-bdd4-4204-8959-da702e1a3dc1",
                    "leftValue": "={{ $('Prepare data').item.json.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a2fa2834-35c7-41e1-9fbc-7a684f67984d",
                    "leftValue": "={{ $('Prepare data').item.json.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1520,
        272
      ],
      "id": "0c6d3882-7a93-4c15-a453-0a26dc29a6f9",
      "name": "Type check"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Prepare data').item.json.sessionId }}",
        "tableName": "chat_agent_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -304,
        624
      ],
      "id": "c95fd428-b7ce-4a28-821c-67b1f21d2caa",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "mRVRKtvyFmYwF0k2",
          "name": "SF Database"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        592,
        288
      ],
      "id": "28fff216-5387-47a2-af20-e185b457605c",
      "name": "Agent Response"
    },
    {
      "parameters": {
        "jsCode": "const outputTextLength = $input.first().json.output.length;\nconst inputTextLength = $('System message builder').first().json.systemMessage.length\n\nreturn {\n  content: $input.first().json.output,\n  type: \"text\",\n  ipaddress: $('Prepare data').first().json.ipAddress,\n  tokenUsage: {\n    completionTokens: Math.ceil(outputTextLength / 4),\n    promptTokens: Math.ceil(inputTextLength / 4)\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        288
      ],
      "id": "1986c3b9-296c-4a10-96bf-1e7a3350070c",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c095f203-b2ee-4f2c-83b3-b47f7e736458",
              "name": "data",
              "value": "={{ $('Prepare data').item.json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        112
      ],
      "id": "60cf57c8-3e69-4eb9-90b3-7d39f03d61bd",
      "name": "Audio Format"
    },
    {
      "parameters": {
        "jsCode": "var string = $input.first().json.data;\nstring = string.replace('data:audio/webm;base64,', '');\nreturn {string:string}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        112
      ],
      "id": "29830bc9-fe07-4f58-9c28-88d48b34329f",
      "name": "Code audio format"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $vars.GEMINI_FLASH_TEXT }}:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Transcribe attached audio file\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"audio/webm\",\n          \"data\": \"{{ $json.string }}\"\n        }\n      }\n    ]\n  }]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        112
      ],
      "id": "d48609be-b935-4ba8-8482-a66ef37d4c11",
      "name": "Transcribe the audio",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpQueryAuth": {
          "id": "dRfZt3CTjRs3wTro",
          "name": "SF - Gemini Query Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a3d7fca-2651-4440-b285-8d02d8e6666c",
              "name": "chatInput",
              "value": "={{ $('Prepare data').item.json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        304
      ],
      "id": "64e12457-e590-4346-af26-79f1de8adc05",
      "name": "Session Format"
    },
    {
      "parameters": {
        "jsCode": "return {\n  chatInput: $input.first().json.candidates[0].content.parts[0].text\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        112
      ],
      "id": "6a77f151-db32-498f-a3fe-ca0c784e3933",
      "name": "Session Format1"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "model": "={{ $vars.GEMINI_PRO_PREVIEW }}",
        "enableUrlContext": true,
        "restrictUrls": "={{ $('Prepare data').item.json.website }}",
        "enableOrganizationContext": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Enable_Organization_Context', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-gemini-search.geminiSearchToolTool",
      "typeVersion": 1,
      "position": [
        0,
        160
      ],
      "id": "e0d5aea8-e579-433b-9d3c-e53e0a9cf50c",
      "name": "Gemini Search Tool",
      "credentials": {
        "geminiSearchApi": {
          "id": "HzOj98juqUxHGjsa",
          "name": "SF - Gemini Search Account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v1/chat-agent/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1872,
        288
      ],
      "id": "4f18c729-301f-4641-913f-a0d2a83148a2",
      "name": "Start Chat",
      "webhookId": "c0328f0b-c7be-4d4f-ac73-a38cbf9c7703"
    },
    {
      "parameters": {
        "jsCode": "const p = $('Prepare data').first().json;\nconst chatInput = p.chatInput;\n\nlet sys = `You are ${p.agentName}, a Customer-Service Specialist for ${p.websiteName}.\nAlways speak as \"we / our / us\".\nKeep every reply concise (1-3 sentences) unless the user asks for detail.\n\nLANGUAGE:\n- Default language: ${p.agentLang}.\n- Detect the user language and reply in that language.\n- Never mix two languages in one reply.\n\nTOOLS YOU HAVE:\n1. Knowledge Store Tool  - search internal company documents.\n2. Gemini Search Tool    - search the public web.\n`;\n\nif (p.hasCTA) {\n  sys += `3. CTA Configuration Tool - retrieves CTA config from vector store.\n4. Submit Lead Tool       - call this when all required fields are collected.\n`;\n}\n\nsys += `\n===== MASTER FLOW =====\n\nEvery time the user sends a message, follow these steps IN ORDER:\n`;\n\nif (p.hasCTA) {\n  sys += `\nSTEP A - CTA CHECK (always first)\n  1. Call CTA Configuration Tool with the user message as query.\n  2. If a matching CTA record is returned -> go to STEP B.\n  3. If no match -> go to STEP C.\n\nSTEP B - COLLECT REQUIRED FIELDS\n  - Read the \"Collected data\" array from the CTA result.\n  - Check conversation history for fields already provided by user.\n  - Ask ONLY for fields still missing, one at a time, naturally.\n  - Once ALL required fields are complete -> go to STEP B2.\n\nSTEP B2 - SUBMIT LEAD\n  Call Submit Lead Tool with these exact parameters:\n    name      = name provided by the user\n    contact   = contact (email or phone) provided by the user\n    message   = the user original question or request\n    ctaQuery  = a short summary of the user intent (3-5 words)\n\n  Submit Lead Tool does NOT need a destination email.\n  Do NOT look for, guess, or pass any email address to it.\n  It only needs: name, contact, message, ctaQuery.\n\n  After the tool returns any response, reply to the user with ONLY:\n  \"Thank you, your request has been submitted successfully.\"\n\n===== HARD CONSTRAINTS =====\n\n[C1] Do NOT look for or pass any destination email to Submit Lead Tool.\n     Finding the destination email is handled automatically by the system.\n\n[C2] Do NOT expose tool names, JSON, or internal steps to the user.\n\n[C3] Do NOT call Submit Lead Tool unless ALL required fields are collected.\n`;\n}\n\nsys += `\nSTEP C - ANSWER WITHOUT CTA\n  1. Search Knowledge Store Tool first.\n  2. If empty -> search Gemini Search Tool.\n  3. If still nothing -> politely direct user to contact support.\n\n===== RESPONSE STYLE =====\n- Short and natural by default.\n- Professional but friendly.\n- No filler phrases like \"Great question!\" or \"Of course!\".\n`;\n\nreturn { chatInput, systemMessage: sys };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        288
      ],
      "id": "fb50eda2-549b-424c-8e7e-74df4c829c8c",
      "name": "System message builder"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ $json.systemMessage }}"
        }
      },
      "id": "f4f9e49a-ba1a-40c5-994a-36f2a17ea38d",
      "name": "Main Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        0,
        288
      ]
    },
    {
      "parameters": {
        "description": "Searches the internal knowledge base for company-related documents, including policies, product information, and organizational data.",
        "topK": 3
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        0,
        496
      ],
      "id": "1c98fbad-8d69-4c81-b125-639bb6e2e1cf",
      "name": "Knowledge Store Tool"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('Prepare data').item.json.code }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        32,
        672
      ],
      "id": "0f81801c-71a6-4beb-a07b-065236e92e47",
      "name": "Knowledge vector store",
      "credentials": {
        "qdrantApi": {
          "id": "fKAHlOe3mnPrJuNI",
          "name": "SF - QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "=models/{{ $vars.GEMINI_EMBEDDING }}"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        624
      ],
      "id": "a49a5cbd-1b88-4d3a-b64b-955b0121443a",
      "name": "CTA embedding",
      "credentials": {
        "googlePalmApi": {
          "id": "aLrGZCRV8oKLBNjE",
          "name": "SF - Gemini API Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "=models/{{ $vars.GEMINI_EMBEDDING }}"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -128,
        624
      ],
      "id": "14ecb185-b8d4-4dd8-8389-38faf89fcaa0",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "aLrGZCRV8oKLBNjE",
          "name": "SF - Gemini API Account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "=models/{{ $vars.GEMINI_PRO_PREVIEW }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -304,
        496
      ],
      "id": "0e17cbcf-d73b-40de-97e8-36d15f527b8f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aLrGZCRV8oKLBNjE",
          "name": "SF - Gemini API Account"
        }
      }
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "synergizeflow-480314",
          "mode": "list",
          "cachedResultName": "Synergizeflow"
        },
        "modelName": "={{ $vars.GEMINI_PRO_PREVIEW }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        -128,
        496
      ],
      "id": "18960785-bbc5-4f81-98a2-fecf592e9197",
      "name": "Google Vertex Chat Model",
      "credentials": {
        "googleApi": {
          "id": "C4Bh0vq2T0s7HIDk",
          "name": "SF - Vertex API Service Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve CTA data from this tools",
        "qdrantCollection": {
          "__rl": true,
          "value": "=cta-{{ $('Prepare data').item.json.code }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        304,
        480
      ],
      "id": "1457b721-1c05-4d86-8d37-8e11aea7a057",
      "name": "CTA configuration",
      "credentials": {
        "qdrantApi": {
          "id": "fKAHlOe3mnPrJuNI",
          "name": "SF - QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Send an email message if you already get the information.",
        "method": "POST",
        "url": "={{ $vars.N8N_URL }}/webhook/v1/util/send-email",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $vars.STATIC_TOKEN }}"
            },
            {
              "name": "senderName",
              "value": "SynergizeFlow"
            },
            {
              "name": "fromEmail",
              "value": "noreply@synergizeflow.com"
            },
            {
              "name": "replyTo",
              "value": "noreply@synergizeflow.com"
            },
            {
              "name": "toEmail",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `The value must be copied VERBATIM from the \"destination\" field \nin the CTA Configuration Tool result retrieved in this CURRENT turn (step B2-1).\nFormat: one @ symbol, valid domain (e.g. name@domain.com).\nFORBIDDEN sources: memory, Knowledge Store, Gemini Search, \nwebsite domain, training data, previous turns, or any constructed value.\nIf destination is not found in current turn CTA result, return empty string \"\".`, 'string') }}"
            },
            {
              "name": "subject",
              "value": "={{ $('Prepare data').item.json.websiteName }} User Inquiry"
            },
            {
              "name": "htmlBody",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `put the generated HTML string here`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        272,
        128
      ],
      "id": "7b4544c4-f4d5-43f2-ab7a-e9281ff9a676",
      "name": "send email"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1424,
        1440
      ],
      "id": "f8ada4a7-1e28-47fd-aee2-798822b0685c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://api-dev.synergizeflow.com/api/chat-agent/history",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1248,
        1440
      ],
      "id": "c8f4ad00-afb7-4905-abfd-92cff474b345",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "content": "chat history remove scheduler",
        "height": 208,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1504,
        1408
      ],
      "id": "84882468-3e0a-47a6-95f9-e79bc75d79ce",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool when all required fields are collected.\nPass only the user-provided data.\nParameters:\n- name     : full name provided by the user\n- contact  : email or phone number provided by the user\n- message  : the user original question or request\n- ctaQuery : short summary of user intent (3-5 words)",
        "method": "POST",
        "url": "https://dev-wizards.synergizeflow.com/webhook/v1/chat-agent/cta-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "CF-Access-Client-Id",
              "value": "={{ $vars.CF_ID }}"
            },
            {
              "name": "CF-Access-Client-Secret",
              "value": "={{ $vars.CF_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `full name from user`, 'string') }}"
            },
            {
              "name": "contact",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `email or phone from user`, 'string') }}"
            },
            {
              "name": "message",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `user original question`, 'string') }}"
            },
            {
              "name": "ctaQuery",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `short summary of user intent`, 'string') }}"
            },
            {
              "name": "code",
              "value": "={{ $('Prepare data').item.json.code }}"
            },
            {
              "name": "website",
              "value": "={{ $('Prepare data').item.json.website }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        160,
        48
      ],
      "id": "fb468aae-03e9-4b4a-84a3-a80fb9cd4864",
      "name": "Submit Lead Tool"
    }
  ],
  "connections": {
    "Prepare data": {
      "main": [
        [
          {
            "node": "Type check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Type check": {
      "main": [
        [
          {
            "node": "Audio Format",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Session Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Main Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Format": {
      "main": [
        [
          {
            "node": "Code audio format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code audio format": {
      "main": [
        [
          {
            "node": "Transcribe the audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe the audio": {
      "main": [
        [
          {
            "node": "Session Format1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Format": {
      "main": [
        [
          {
            "node": "System message builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Format1": {
      "main": [
        [
          {
            "node": "System message builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Search Tool": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Start Chat": {
      "main": [
        [
          {
            "node": "Prepare data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System message builder": {
      "main": [
        [
          {
            "node": "Main Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Store Tool": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge vector store": {
      "ai_vectorStore": [
        [
          {
            "node": "Knowledge Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "CTA embedding": {
      "ai_embedding": [
        [
          {
            "node": "CTA configuration",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge vector store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Main Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CTA configuration": {
      "ai_vectorStore": [
        []
      ],
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "send email": {
      "ai_tool": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Lead Tool": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "4otmc6jILN7VL0Z9",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "none"
  },
  "triggerCount": 2,
  "versionId": "5705276f-06f2-4325-a571-1fbc0161f53a",
  "owner": {
    "type": "team",
    "teamId": "UNcEOCawQV9ZsxYR",
    "teamName": "SynergizeFlow"
  },
  "parentFolderId": "ufNfABECZ3OXdtAU",
  "isArchived": false
}