workflows/4F54m4qCgFpglV9c.json
{
  "id": "4F54m4qCgFpglV9c",
  "name": "SF - Image Vaults Converter",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "df7b7cbd-d828-4465-83d3-c055e6541c74",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c071ae5-2152-4053-ade3-db6b1dcfdb35",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "3a555d18-588f-4277-a1f1-f93849d83da8",
              "name": "website_name",
              "value": "={{ $json.website_name }}",
              "type": "string"
            },
            {
              "id": "8b37b90e-7514-470d-880c-7bdfa88d49ec",
              "name": "parsed",
              "value": "={{ $json.parsed }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -80
      ],
      "id": "61db7429-5889-4b6b-8637-ab1bad072ac4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.parsed }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "2c7107eb-6906-496f-88bf-47951e106240"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "has_image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c66adcfe-dc1d-41d1-b95e-113e263b9882",
                    "leftValue": "={{ $json.parsed }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no_image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "9a6efe54-eb06-4886-ad87-f23e739fe4dc",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.parsed;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -80
      ],
      "id": "896656c3-5a2a-40b0-a2e2-d59cc22e554f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        -80
      ],
      "id": "37e3f6a9-c246-4436-8fa7-ab29d5644a19",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1072,
        16
      ],
      "id": "f41d326e-adfd-4500-8f52-85503f2e891f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1280,
        16
      ],
      "id": "f933623a-7c22-41d6-b8b3-98427bbccea9",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1858fdf6-052f-4e63-9a67-77208e312eec",
              "name": "title",
              "value": "={{ $('Loop Over Items').item.json.title }}",
              "type": "string"
            },
            {
              "id": "90f18b45-cfb3-4359-8c74-4731caf77971",
              "name": "description",
              "value": "={{ $('Loop Over Items').item.json.description }}",
              "type": "string"
            },
            {
              "id": "35349ae3-8a66-47fa-b8dc-181982fb55b1",
              "name": "mime",
              "value": "={{ $('Loop Over Items').item.json.mime }}",
              "type": "string"
            },
            {
              "id": "1050cd5d-9d24-4efb-831a-2956ef7f9c74",
              "name": "category",
              "value": "={{ $('Loop Over Items').item.json.category }}",
              "type": "string"
            },
            {
              "id": "6a4c1709-d380-4ca6-9971-52041e38d3da",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "e0be01b3-adcc-48f3-9364-23aa23a9ab4b",
              "name": "url",
              "value": "={{ $('Loop Over Items').item.json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        16
      ],
      "id": "1c78cb45-c0f6-42ef-bf37-558dabaa44b1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1072,
        -176
      ],
      "id": "9e79c5c0-b32c-4886-a048-ed499f0dd3ef",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55ea306b-90dc-409c-b2d3-d69e796834f5",
              "name": "status",
              "value": "={{ $('Edit Fields').item.json.status }}",
              "type": "string"
            },
            {
              "id": "ac7528cb-ff34-43cd-bafc-e48087b31492",
              "name": "website",
              "value": "={{ $('Edit Fields').item.json.website_name }}",
              "type": "string"
            },
            {
              "id": "8f1c974d-39a6-4a46-82fb-f388001e6705",
              "name": "parsed",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -176
      ],
      "id": "82e48acc-69af-48e5-9e87-a44b7bfdffab",
      "name": "Edit Fields2"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "bde55a89-d2d6-4c8d-98cc-5d2c8b4ce8d5",
  "owner": {
    "type": "team",
    "teamId": "UNcEOCawQV9ZsxYR",
    "teamName": "SynergizeFlow"
  },
  "parentFolderId": "DZr615Ms0rRYsoes",
  "isArchived": false
}