workflows/4otmc6jILN7VL0Z9.json
{
  "id": "4otmc6jILN7VL0Z9",
  "name": "SF - Error Monitoring",
  "nodes": [
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A81N03JKS",
          "mode": "list",
          "cachedResultName": "sf-error-monitoring"
        },
        "text": "=*Environtment:* n8n Development\n*Workflow:* {{ $json.workflow }}\n*Execution:* {{ $json.execution_url }}\n*Node:* {{ $json.node }}\n*Time:* {{ $json.timestamp }}\n*Message:* {{ $json.error_message }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        288,
        -96
      ],
      "id": "887ad239-eee0-4a65-8f03-e41914f83afc",
      "name": "Send a message",
      "webhookId": "88b03bcb-f4b4-40e2-86dc-382fbe8c85d3",
      "credentials": {
        "slackApi": {
          "id": "OLSn2aic7DIB7E1z",
          "name": "SF - Slack Bot"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -96
      ],
      "id": "553ef27f-13b0-485a-aec6-290fcd5271d1",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "616f4e60-54aa-4077-a339-8a776e6ba59c",
              "name": "workflow",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "07418314-6460-4bd2-af6a-4280e09b72b2",
              "name": "execution_url",
              "value": "={{ $json.execution.url }}",
              "type": "string"
            },
            {
              "id": "a7fcafa3-7537-49f2-9510-219f4bd01756",
              "name": "error_message",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            },
            {
              "id": "07f4efe3-56ff-4f64-a474-2060616f6733",
              "name": "node",
              "value": "={{ $json.execution.lastNodeExecuted }}",
              "type": "string"
            },
            {
              "id": "2122584f-c32e-4bef-aa0a-25c0b225171e",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -96
      ],
      "id": "0794e951-4d22-4027-8d53-f96c18d20c3f",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "dccd8e2e-edaa-43bb-90ca-1887f7ffd723",
  "owner": {
    "type": "team",
    "teamId": "UNcEOCawQV9ZsxYR",
    "teamName": "SynergizeFlow"
  },
  "parentFolderId": "DZr615Ms0rRYsoes",
  "isArchived": false
}