workflows/4otmc6jILN7VL0Z9.json
{
  "id": "4otmc6jILN7VL0Z9",
  "name": "SF - Error Monitoring",
  "nodes": [
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A81N03JKS",
          "mode": "list",
          "cachedResultName": "sf-error-monitoring"
        },
        "text": "=*Environtment:* n8n Development\n*Workflow:* {{ $json.workflow }}\n*Execution:* {{ $json.execution_url }}\n*Node:* {{ $json.node }}\n*Time:* {{ $json.timestamp }}\n*Message:* {{ $json.error_message }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        288,
        0
      ],
      "id": "887ad239-eee0-4a65-8f03-e41914f83afc",
      "name": "Send a message",
      "webhookId": "88b03bcb-f4b4-40e2-86dc-382fbe8c85d3",
      "credentials": {
        "slackApi": {
          "id": "OLSn2aic7DIB7E1z",
          "name": "SF - Slack Bot"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -96
      ],
      "id": "553ef27f-13b0-485a-aec6-290fcd5271d1",
      "name": "Error Trigger",
      "notesInFlow": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "616f4e60-54aa-4077-a339-8a776e6ba59c",
              "name": "workflow",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "07418314-6460-4bd2-af6a-4280e09b72b2",
              "name": "execution_url",
              "value": "={{ $json.execution.url }}",
              "type": "string"
            },
            {
              "id": "a7fcafa3-7537-49f2-9510-219f4bd01756",
              "name": "error_message",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            },
            {
              "id": "07f4efe3-56ff-4f64-a474-2060616f6733",
              "name": "node",
              "value": "={{ $json.execution.lastNodeExecuted }}",
              "type": "string"
            },
            {
              "id": "2122584f-c32e-4bef-aa0a-25c0b225171e",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "61e585c6-0ba4-4c03-b561-ed5f58e63e09",
              "name": "execution_id",
              "value": "={{ $json.execution.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -96
      ],
      "id": "0794e951-4d22-4027-8d53-f96c18d20c3f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SAAS_API }}/api/webhook/generic-error",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "service_id",
              "value": "={{ $json.data.resultData.runData.Webhook[0].data.main[0][0].json.body.service_id }}"
            },
            {
              "name": "error_message",
              "value": "={{ $json.data?.resultData?.error?.description || $json.data?.resultData?.error?.message }}"
            },
            {
              "name": "optimization_id",
              "value": "={{ $json?.data?.resultData?.runData?.Webhook?.[0]?.data?.main?.[0]?.[0]?.json?.body?.optimization_id || '' }}"
            },
            {
              "name": "old_id",
              "value": "={{ $json?.data?.resultData?.runData?.get_blog_content_detail?.[0]?.data?.main?.[0]?.[0]?.json?.blog?.id || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        -160
      ],
      "id": "0d7be5e5-be1d-4af3-8cbe-caa4fb47c44b",
      "name": "webhook"
    },
    {
      "parameters": {
        "url": "={{ $vars.N8N_URL }}/api/v1/executions/{{ $json.execution_id }}?includeData=true&redactExecutionData=false",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI3MzVhZWQyNS1hMjZmLTQwZjAtYTI5Ny0yNTYwMGM5N2RhNzciLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiYTg5OTliYWUtMTBkZS00OTI0LTkyNWYtNTZjYmVkODY2OTFkIiwiaWF0IjoxNzgwNjQ2ODk3fQ.QZ0PI_m-qcQUCP35i3Xcf_73N8W26jI9lfJ2zs10jZQ"
            },
            {
              "name": "CF-Access-Client-Id",
              "value": "df7b356ab8469e73180a34f316943468.access"
            },
            {
              "name": "CF-Access-Client-Secret",
              "value": "ce5fe761d797f0712211aee26d2ae52cc51d9d629bf8a3f13e9c7c47c166783c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        -144
      ],
      "id": "38b89b53-2601-4e62-925f-6a6f0d985412",
      "name": "get_execution_data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6f78a75f-f101-4d88-b66f-b1e2bf817383",
              "leftValue": "={{ $json.data.resultData.runData.Webhook[0].data.main[0][0].json.body.service_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        -144
      ],
      "id": "d51eb416-edfb-416b-8a1f-089a6a939d2a",
      "name": "If"
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "get_execution_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "get_execution_data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "triggerCount": 0,
  "versionId": "c01d8a6a-f5e8-43f3-8200-f86c88dda14d",
  "owner": {
    "type": "team",
    "teamId": "UNcEOCawQV9ZsxYR",
    "teamName": "SynergizeFlow"
  },
  "parentFolderId": "DZr615Ms0rRYsoes",
  "isArchived": false
}