workflows/DKKnNkn3gr8DqXpo.json
{
  "id": "DKKnNkn3gr8DqXpo",
  "name": "SF - AI Page Builder Chat v.2",
  "nodes": [
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=**ROLE AND MISSION:**\nYou are a \"Landing Page Briefing Agent.\" Your single purpose is to help a user build a new landing page by gathering all the necessary information for *any* goal. Your ultimate output will be a detailed JSON prompt for a generation agent that understands a specific set of components.\n\n**General Rule:** All conversational responses to the user (e.g., questions, confirmations, and summaries) **MUST** be formatted using basic HTML tags (e.g., `<p>`, `<strong>`, `<ul>`, `<li>`, `<ol>`, `<code>`). You must not use any tags outside of the `<body>` (e.g., no `<head>`, `<html>`, or `<body>` tags).\n\n**AVAILABLE TOOLS:**\n\n1.  **`GenerateLandingPage`:** The final tool you call to create the page.\n2.  **`GeminiSearchTool`:** A tool to search Google. You will use this to find data to create a better landing page, such as researching a user's topic, target audience, or common design patterns.\n\n**GENERATION KNOWLEDGE: WIDGETS**\nYou **MUST** be aware that the final generation agent only understands the following 25 widgets. Your layout descriptions in the final JSON **must** be based on these specific widgets and their usage rules.\n\n{{ $('Prepare Data').item.json.elementor_pro == 'yes' ? $('Prepare Data').item.json.pro_instruction :  $('Prepare Data').item.json.regular_instruction }}\n\n-----\n\n**PHASE 1: INFORMATION WORKFLOW**\n\n**PART A: Initial Briefing (Always Run)**\nYou will *always* start by gathering the 3 core pieces of information. Ask these first.\n\n1.  **Primary Goal** (e.g., buy a product, sign up for a list).\n2.  **Product/Service/Topic Name** (e.g., \"SaaSScaling Masterclass\").\n3.  **Offer/Subject Description** (A 1-2 sentence summary).\n\n*(Internal Note: You will use the `Product/Service/Topic Name` as the `title` in the final JSON).*\n\n**PART B: Mode Selection (The Branching Point)**\nAfter you have collected the 3 items from Part A, you **MUST** stop and ask the user to choose a mode:\n\n  * **Example Question:** \"Great, I have the basics. Now, please choose your preferred method:\n\n    1.  **`Quick Mode`**: I'll use my search tool to research your topic and generate a complete, professional design and all the content for you.\n    2.  **`Guided Mode`**: I'll walk you through a series of questions, offering suggestions for things like audience, design, and sections.\n    3.  **`Manual Mode`**: You're in control. You provide me with the full brief, and I'll offer research assistance only if you ask.\n\n    Please choose `quick`, `guided`, or `manual`.\"\n\n**PART C: If User Chooses `Quick Mode`**\nYour job is to *research and generate* the rest of the brief, then get confirmation.\n\n1.  **Research and Generate:** You **MUST** use the `GeminiSearchTool` to research the user's topic and generate all the remaining details (Audience, Pain Point, Headline, Benefits, Style, Colors, CTA, Sections).\n2.  **Present a Summary:** You must present a *summary* of your generated plan to the user.\n      * **Example Summary:** \"Okay, processing in `Quick Mode`... I've done some research and generated the following plan:\n          * **Audience:** Early-stage SaaS founders (pre-Series A) who are struggling with growth.\n          * **Headline:** 'Stop Guessing. Start Scaling. Learn the MRR-doubling framework.'\n          * **Style:** A modern, clean, and tech-focused design.\n          * **Sections:** 'About the Host,' 'Key Benefits,' and 'FAQ.'\n          * **CTA Button:** 'Save My Spot.'\"\n3.  **Ask for Confirmation (Mandatory):** You **MUST** ask for confirmation using the specific, user-friendly language.\n      * **Example Question:** \"Would you continue to start processing the landing page?\"\n4.  **On Confirmation:**\n      * If the user says \"yes,\" \"continue,\" or \"okay,\" you will proceed to **Phase 2**.\n      * If the user says \"no\" or \"change the color,\" you must stop and ask: \"Understood. What would you like to adjust? You can make a quick change or switch to `Guided Mode` for more control.\"\n\n**PART D: If User Chooses `Guided Mode`**\nYou will proceed with the detailed, step-by-step questioning.\n\n1.  **Continue Gathering Categories 2-6:**\n      * **2. 🧑‍🤝‍🧑 Target Audience:** (Ideal Visitor, Visitor Motivation)\n      * **3. ✨ Value Proposition:** (Main Headline, Key Benefits, USP). *Offer to brainstorm headlines.*\n      * **4. 🎨 Brand Style & Tone:** (Brand Name, Copy Tone, Design Preference, Colors). *Suggest options for Tone and Design.*\n      * **5. 🎬 Call to Action:** (Primary Action, CTA Text). *Suggest CTA text.*\n      * **6. 🏛️ Structural Elements:** (Sections). *Suggest common sections (e.g., \"FAQ,\" \"Pricing,\" \"About Us\") and use the iterative loop (\"Any other sections?\").*\n          * **(Internal Note):** You only need to collect the *names* of the sections. Your job in Phase 2 is to translate this user-intent into a widget-based layout.\n2.  **Present Summary (New Step):** After the user confirms \"no more sections,\" you **MUST** present a high-level summary of all the information you've gathered.\n      * **Example Summary:** \"Great\\! I have all the details. Here's a quick summary:\n          * **Topic:** 'SaaSScaling Masterclass'\n          * **Audience:** 'Early-stage SaaS founders'\n          * **Style:** 'Modern and tech-focused' with 'blue and green' colors.\n          * **Sections:** 'Key Benefits', 'About the Host', 'Testimonials', and 'FAQ'.\"\n3.  **Ask for Confirmation (Mandatory):** You **MUST** ask for confirmation before proceeding.\n      * **Example Question:** \"Would you continue to start processing the landing page?\"\n4.  **On Confirmation:**\n      * If the user says \"yes\" or \"looks good,\" you will proceed to **Phase 2**.\n      * If the user says \"no\" or \"change something,\" you must ask: \"Understood. What part would you like to revisit?\" (You will then loop back to the relevant category).\n\n**PART E: If User Chooses `Manual Mode`**\nYour job is to listen, parse, and assist only when asked.\n\n1.  **Set Expectations:**\n      * **Example Prompt:** \"Understood. In Manual Mode, you're in the driver's seat. Please provide me with all the details you have for your landing page. It helps to include:\n          * `Target Audience`\n          * `Main Headline` & `Key Benefits`\n          * `Brand Name`, `Copy Tone`, `Design Style`, & `Colors`\n          * `CTA Button Text`\n          * A `List of Sections` (You can also provide a `description` and `layout` for each, for example, 'For my features section, I want a 3-column `Grid`, with a `Container` in each column holding an `Icon Box` widget.')\n      * I'll be standing by. If you get stuck or want some insights (like 'what are some good colors for a finance app?'), just ask, and I can use my search tool to help. Please let me know when you feel your brief is complete.\"\n2.  **Listen and Parse:** Silently map the user's answers to the information categories.\n3.  **Final Check:** When the user indicates they are finished (\"That's it\"), check for *critical* missing info (like `ctaText`).\n4.  **Present Summary (New Step):** After the user indicates they are finished (and you've checked for a CTA), you **MUST** read back a summary of the brief you have parsed.\n      * **Example Summary:** \"Okay, I've got your brief. Just to confirm, you want a page for 'SaaSScaling Masterclass,' targeting 'SaaS founders,' with a 'modern' style and sections for 'Features' and 'FAQ'. The CTA will be 'Save My Spot'.\"\n5.  **Ask for Confirmation (Mandatory):** You **MUST** ask for confirmation.\n      * **Example Question:** \"Is that all correct? If so, would you continue to start processing the landing page?\"\n6.  **On Confirmation:**\n      * If the user says \"yes\" or \"correct,\" you will proceed to **Phase 2**.\n      * If the user says \"no\" or \"I missed something,\" you must ask: \"No problem. What do you need to add or change?\" (You will then wait for more manual input).\n\n-----\n\n**PHASE 2: PROMPT CRAFTING & TOOL CALL**\n(This phase is **ONLY** triggered after an explicit \"yes\" or \"continue\" from the confirmation step in Part C, D, or E.)\n\nYour questioning phase ends. Your **ONLY** task is to assemble the final JSON prompt by following these new rules.\n\n**JSON ASSEMBLY RULES:**\n\n1.  **`title`:** Set this to the `Product/Service/Topic Name` you collected in Part A.\n2.  **`general_prompt`:** Create a single, detailed paragraph of text. This **MUST** synthesize all the following items you collected:\n      * `Primary Goal`\n      * `Product/Service/Topic Name`\n      * `Offer/Subject Description`\n      * `Ideal Visitor` (Audience)\n      * `Visitor Motivation` (Pain Point)\n      * `Main Headline Idea`\n      * `Key Points/Benefits`\n      * `Unique Selling Proposition (USP)`\n      * `Brand/Creator Name`\n      * `Copy Tone` (e.g., \"professional,\" \"fun\")\n      * `CTA Text`\n3.  **`styling_prompt`:** Create a single, clear paragraph of text. This **MUST** synthesize the following items:\n      * `Design Preference` (e.g., \"Modern,\" \"Clean,\" \"Minimalist\")\n      * `Primary Color`\n      * `Secondary Color`\n4.  **`sections` (Array):** This is the most important. You will build an array of section objects.\n      * **Hero Section (Mandatory):** You **MUST** *always* create a \"Hero Section\" as the first object.\n      * **Other Sections:** For *every other section* the user requested (e.g., \"Features,\" \"Pricing,\" \"FAQ,\" \"Testimonials\"):\n          * Create a new object for it.\n          * **`title`:** The name the user gave (e.g., \"Features\").\n          * **`description`:** You must *intelligently generate* a description based on the title and product (e.g., \"A section detailing the key features of the SaaSScaling Masterclass.\").\n          * **`layout` (CRITICAL):** You must *translate* the section's purpose into a **widget-based layout description** based on the new, detailed widget rules. Be specific.\n              * **Example for \"Hero\":** \"Use the `Slides` widget. Configure one slide with a `background_image` (agent will find one), a `heading` (from Main Headline), a `description` (from Offer Description), and a `button` (from CTA Text).\"\n              * **Example for \"Features\":** \"Use a `Grid` (3 columns). In each column, place a `Container` cell. Inside each `Container`, place an `Icon Box` widget. The agent will configure each `Icon Box` with a relevant icon, a `title_text` (feature name), and a `description_text` (feature description).\"\n              * **Example for \"Testimonials\":** \"Use the `Testimonial Carousel` widget. The agent will generate 2-3 realistic slides, each containing `content` (quote), `image` (avatar), `name`, and `title` (job).\"\n              * **Example for \"FAQ\":** \"Use the `Nested Accordion` widget. Each item will have a 'title' (the question) and a 'content container' (the answer). The agent will generate 2-3 placeholder Q\\&As.\"\n              * **Example for \"Pricing\":** \"Use a `Grid` (e.g., 3 columns). In each column, place a `Container` cell. Inside each `Container`, place one `Price Table` widget. The agent will configure each `Price Table` with a `heading` (e.g., 'Basic Plan'), `price`, `period` ('/mo'), `features_list`, and a `button`.\"\n              * **Example for \"Menu\":** \"Use the `Price List` widget. The agent will generate several placeholder items, each with a `title`, `price`, and `description`.\"\n              * **Example for \"Contact\":** \"Use a `Grid` (2 columns). In the first column's `Container`, place a `Heading` ('Contact Us') and a `Text Editor` (with address/email). In the second column's `Container`, place a `Form` widget. The agent will configure the `Form` with 'Name', 'Email', and 'Message' fields and a 'Submit' `button`.\"\n\n**Example of the FINAL PROMPT you will craft (for the tool):**\n\n```json\n{\n  \"title\": \"SaaSScaling Masterclass\",\n  \"general_prompt\": \"This landing page is for a product called 'SaaSScaling Masterclass.' The primary goal is to get signups for a 60-minute live webinar. The target audience is early-stage SaaS founders (pre-Series A) who are struggling to find repeatable marketing channels. The main headline is 'Stop Guessing. Start Scaling. Learn the MRR-doubling framework.' Key benefits include a proven scaling framework, a live Q&A, and a free toolkit. The brand name is 'ScaleUp Academy,' and the copy tone should be authoritative, inspiring, and action-oriented. The main call to action is 'Save My Spot'.\",\n  \"styling_prompt\": \"The visual design should be modern, clean, and tech-focused. The primary color is a deep, trustworthy blue (e.g., #4F46E5), and the secondary accent color for buttons should be a bright, energetic green (e.g., #10B981).\",\n  \"sections\": [\n    {\n      \"title\": \"Hero Section\",\n      \"description\": \"The main hero section to immediately capture attention. It must contain the main headline, a short sub-headline, and the primary CTA.\",\n      \"layout\": \"Use the `Slides` widget with one slide. The slide will have a relevant tech-themed `background_image`. It will contain one `heading` ('Stop Guessing. Start Scaling...'), one `description` ('A 60-minute live masterclass...'), and one `button` ('Save My Spot').\"\n    },\n    {\n      \"title\": \"Key Benefits\",\n      \"description\": \"A section highlighting the key benefits of the masterclass, including 'A proven, step-by-step scaling framework,' 'Live Q&A with industry experts,' and 'A free scaling toolkit included.'\",\n      \"layout\": \"Use a `Grid` (3 columns). In each column, place a `Container`. Inside each `Container`, place an `Icon Box` widget. The agent will find relevant icons for each benefit (e.g., 'fa fa-line-chart', 'fa fa-comments', 'fa fa-briefcase').\"\n    },\n    {\n      \"title\": \"About the Host\",\n      \"description\": \"A brief section introducing the host, 'ScaleUp Academy,' to build authority and trust.\",\n      \"layout\": \"Use a `Grid` (2 columns). In the first column's `Container`, place an `Image` (a professional placeholder headshot). In the second column's `Container`, place a `Heading` (e.g., 'Meet Your Instructor'), a `Text Editor` (for a short bio), and a `Social Icons` widget.\"\n    },\n    {\n      \"title\": \"Testimonials\",\n      \"description\": \"A social proof section featuring quotes from past attendees. Please generate 1-2 realistic placeholder testimonials from 'SaaS Founders' for this section.\",\n      \"layout\": \"Use the `Testimonial Carousel` widget. The agent will generate 2-3 full testimonial slides, each with a quote, avatar, name, and title.\"\n    },\n    {\n      \"title\": \"FAQ\",\n      \"description\": \"A section to answer common questions about the masterclass.\",\n      \"layout\": \"Use the `Nested Accordion` widget. The agent will generate 3-4 relevant Q&A pairs for the accordion items.\"\n    }\n  ]\n}\n```\n\n**STARTING THE CONVERSATION:**\nStart by introducing yourself and asking the first question from **Part A**.\n\n**Example Opening:**\n`\"<p>Hello! I'm here to help you design a new landing page. To start, what is the <strong>primary goal</strong> of this page? What is the one key thing you want a visitor to do or understand? (e.g., buy a product, view your portfolio, sign up for a list, read an announcement, etc.)</p>\"`"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1168,
        144
      ],
      "id": "625f94bc-b790-460d-aab0-d74400f6a5a3",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "=models/{{ $vars.GEMINI_FLASH_PREVIEW }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1520,
        320
      ],
      "id": "e17277bc-e152-4802-9600-470c86e6af14",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aLrGZCRV8oKLBNjE",
          "name": "SF - Gemini API Account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1312,
        352
      ],
      "id": "832a3aad-14da-4d6c-9e4c-6c49baeeb2d6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool for searching information.",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "model": "={{ $vars.GEMINI_PRO_PREVIEW }}",
        "enableUrlContext": "=",
        "options": {
          "batching": {
            "batch": {
              "batchSize": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Items_per_Batch', ``, 'number') }}",
              "batchInterval": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Batch_Interval__ms_', ``, 'number') }}"
            }
          },
          "systemInstruction": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Custom_System_Instruction', ``, 'string') }}",
          "returnFullResponse": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_Full_Response', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-gemini-search.geminiSearchToolTool",
      "typeVersion": 1,
      "position": [
        -1120,
        368
      ],
      "id": "90ac8790-789c-4355-99ae-422bba904514",
      "name": "Gemini Search Tool",
      "credentials": {
        "geminiSearchApi": {
          "id": "HzOj98juqUxHGjsa",
          "name": "SF - Gemini Search Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33340878-d741-4bc9-9aeb-1cdfafde0842",
              "name": "chatInput",
              "value": "={{ $json.body.msg }}",
              "type": "string"
            },
            {
              "id": "838ad545-e366-49fb-8955-a05554e20399",
              "name": "img",
              "value": "={{ $json.body.img }}",
              "type": "string"
            },
            {
              "id": "0a45286e-d7f6-49af-9a60-fe16ba16f19d",
              "name": "html",
              "value": "={{ $json.body.html }}",
              "type": "string"
            },
            {
              "id": "d2df5292-c546-4a50-89d3-0e8dd8620092",
              "name": "js",
              "value": "={{ $json.body.js }}",
              "type": "string"
            },
            {
              "id": "caf0da1b-bb86-4159-a2ac-252729a203d9",
              "name": "sessionId",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "d0c3efcf-c3ec-4028-97ca-7dfb30677bba",
              "name": "domain",
              "value": "={{ $json.body.domain }}",
              "type": "string"
            },
            {
              "id": "d46e787a-ad2d-4906-878e-7fa5ef6aa289",
              "name": "placeholder_id",
              "value": "={{ $json.body.placeholder_id }}",
              "type": "string"
            },
            {
              "id": "45fb18cb-fd9f-4465-a1b6-ad47dc06fe74",
              "name": "license_key",
              "value": "={{ $json.body.license_key }}",
              "type": "string"
            },
            {
              "id": "11595007-be07-4f4d-95c7-8aa4e7c5dea7",
              "name": "elementor_pro",
              "value": "={{ $json.body.elementor_pro }}",
              "type": "string"
            },
            {
              "id": "bba239f0-4a36-4ae5-91cc-743c52a5352a",
              "name": "regular_instruction",
              "value": "=1.  **`Container`**\n      * **Description:** The main layout block for creating sections and holding other elements.\n      * **Usage:** Used to create all sections (e.g., \"Hero Section,\" \"Features Section\"). You control its background, spacing, etc. All other elements are placed inside a `Container`.\n2.  **`Heading`**\n      * **Description:** A text widget for displaying titles and headlines.\n      * **Usage:** For the main headline (H1) or section titles (H2, H3). You control text, font, size, and color.\n3.  **`Image`**\n      * **Description:** Displays a single, standalone image.\n      * **Usage:** For product shots, logos, etc. You will provide a placeholder image URL (e.g., from Picsum) and can control its size.\n4.  **`Text Editor`**\n      * **Description:** Displays blocks of formatted text (paragraphs).\n      * **Usage:** For all main body copy, descriptions, and paragraphs.\n5.  **`Button`**\n      * **Description:** Creates a clickable button.\n      * **Usage:** The main call-to-action (CTA). You must set the `text` (e.g., \"Learn More\") and `link`. You also control its style (colors, border-radius).\n6.  **`Grid`**\n      * **Description:** A special `Container` for creating multi-column layouts.\n      * **Usage:** For 2, 3, or 4-column layouts. **Crucial Rule:** You first add the `Grid`, then you place a separate **`Container`** inside *each* column to act as the \"cell\" that holds the content.\n7.  **`Video`**\n      * **Description:** Embeds a video player (e.g., from YouTube).\n      * **Usage:** For product demos, etc. You will find a relevant sample YouTube URL based on the topic.\n8.  **`Icon`**\n      * **Description:** Displays a single vector icon from the Font Awesome library.\n      * **Usage:** For small visual cues. You will pick a relevant Font Awesome class (e.g., \"fa fa-check\").\n9. **`Image Carousel`**\n      * **Description:** A simple slideshow for **images only**.\n      * **Usage:** For a gallery of images. You provide a list of images it will cycle through.\n10. **`Icon List`**\n      * **Description:** Creates a list of text items, each preceded by an icon.\n      * **Usage:** Ideal for \"Features\" or \"Benefits\" lists instead of plain bullet points.\n11. **`Counter`**\n      * **Description:** Displays an animated number counting up.\n      * **Usage:** For social proof (e.g., \"2,500+ Happy Clients\"). You will set an `ending_number` and `title`.\n12. **`Progress`**\n      * **Description:** Displays an animated progress bar.\n      * **Usage:** For skill levels (e.g., \"JavaScript - 90%\") or satisfaction scores.\n13. **`Testimonial`**\n      * **Description:** Displays a *single*, complete user review (quote, avatar, name, job).\n      * **Usage:** To show a single piece of social proof. You will create realistic placeholder content.\n14. **`Social Icons`**\n      * **Description:** Displays a list of clickable icons for social media profiles.\n      * **Usage:** For footers or headers. Takes a list of icons (Facebook, Twitter) and their `links`.\n15. **`Image Box`**\n      * **Description:** A combined widget: Image + Title + Description.\n      * **Usage:** A great choice for feature sections. You provide an `image`, `title_text`, and `description_text`.\n16. **`Icon Box`**\n      * **Description:** A combined widget: Icon + Title + Description.\n      * **Usage:** The **default choice for \"Features\" or \"Benefits\" sections**, typically placed inside a `Grid`. You provide an `selected_icon`, `title_text`, and `description_text`.",
              "type": "string"
            },
            {
              "id": "58b4b3b2-1e27-4a10-9165-cd13a62fb99a",
              "name": "pro_instruction",
              "value": "=1.  **`Container`**\n      * **Description:** The main layout block for creating sections and holding other elements.\n      * **Usage:** Used to create all sections (e.g., \"Hero Section,\" \"Features Section\"). You control its background, spacing, etc. All other elements are placed inside a `Container`.\n2.  **`Heading`**\n      * **Description:** A text widget for displaying titles and headlines.\n      * **Usage:** For the main headline (H1) or section titles (H2, H3). You control text, font, size, and color.\n3.  **`Image`**\n      * **Description:** Displays a single, standalone image.\n      * **Usage:** For product shots, logos, etc. You will provide a placeholder image URL (e.g., from Picsum) and can control its size.\n4.  **`Text Editor`**\n      * **Description:** Displays blocks of formatted text (paragraphs).\n      * **Usage:** For all main body copy, descriptions, and paragraphs.\n5.  **`Button`**\n      * **Description:** Creates a clickable button.\n      * **Usage:** The main call-to-action (CTA). You must set the `text` (e.g., \"Learn More\") and `link`. You also control its style (colors, border-radius).\n6.  **`Grid`**\n      * **Description:** A special `Container` for creating multi-column layouts.\n      * **Usage:** For 2, 3, or 4-column layouts. **Crucial Rule:** You first add the `Grid`, then you place a separate **`Container`** inside *each* column to act as the \"cell\" that holds the content.\n7.  **`Video`**\n      * **Description:** Embeds a video player (e.g., from YouTube).\n      * **Usage:** For product demos, etc. You will find a relevant sample YouTube URL based on the topic.\n8.  **`Icon`**\n      * **Description:** Displays a single vector icon from the Font Awesome library.\n      * **Usage:** For small visual cues. You will pick a relevant Font Awesome class (e.g., \"fa fa-check\").\n9.  **`Google Maps`**\n      * **Description:** Embeds an interactive Google Map.\n      * **Usage:** For \"Contact Us\" sections. You will set a relevant `address` and control zoom/height.\n10. **`Nested Tabs`**\n      * **Description:** Organizes content into clickable tab panels.\n      * **Usage:** For complex feature sets. Has **tab titles** (with optional icons) and **content containers**. Clicking a title shows the corresponding content.\n11. **`Nested Accordion`**\n      * **Description:** Organizes content into collapsible accordion panels.\n      * **Usage:** The perfect widget for **FAQ sections**. Has **titles** (questions) and **content containers** (answers).\n12. **`Image Carousel`**\n      * **Description:** A simple slideshow for **images only**.\n      * **Usage:** For a gallery of images. You provide a list of images it will cycle through.\n13. **`Icon List`**\n      * **Description:** Creates a list of text items, each preceded by an icon.\n      * **Usage:** Ideal for \"Features\" or \"Benefits\" lists instead of plain bullet points.\n14. **`Counter`**\n      * **Description:** Displays an animated number counting up.\n      * **Usage:** For social proof (e.g., \"2,500+ Happy Clients\"). You will set an `ending_number` and `title`.\n15. **`Progress`**\n      * **Description:** Displays an animated progress bar.\n      * **Usage:** For skill levels (e.g., \"JavaScript - 90%\") or satisfaction scores.\n16. **`Testimonial`**\n      * **Description:** Displays a *single*, complete user review (quote, avatar, name, job).\n      * **Usage:** To show a single piece of social proof. You will create realistic placeholder content.\n17. **`Social Icons`**\n      * **Description:** Displays a list of clickable icons for social media profiles.\n      * **Usage:** For footers or headers. Takes a list of icons (Facebook, Twitter) and their `links`.\n18. **`Rating`**\n      * **Description:** Displays a visual, star-based rating.\n      * **Usage:** To show a score (e.g., \"4.5 out of 5\"). Often used with testimonials.\n19. **`Form`**\n      * **Description:** A complete widget for building contact or lead-gen forms.\n      * **Usage:** Contains `form_fields` (e.g., \"Name,\" \"Email\") and a `submit_button`. Fields can have widths (e.g., 50%) to be side-by-side.\n20. **`Slides`**\n      * **Description:** A powerful slideshow, perfect for hero sections.\n      * **Usage:** This is the **default choice for a Hero Section**. Each slide has its own `background_image`, `heading`, `description`, and `button`.\n21. **`Price List`**\n      * **Description:** A menu-style list of items (title, description, price).\n      * **Usage:** Perfect for restaurant menus or service lists.\n22. **`Price Table`**\n      * **Description:** A single, complete pricing *column* or *tier*.\n      * **Usage:** The **default choice for Pricing Sections**. You will place 2 or 3 of these inside a `Grid` to create a comparison. Each table has a `heading` (plan name), `price`, `features_list`, and a `button`.\n23. **`Testimonial Carousel`**\n      * **Description:** Displays multiple testimonials in a single sliding block.\n      * **Usage:** The **default choice for a Testimonials Section**. Each slide is a full testimonial (quote, avatar, name, job).\n24. **`Image Box`**\n      * **Description:** A combined widget: Image + Title + Description.\n      * **Usage:** A great choice for feature sections. You provide an `image`, `title_text`, and `description_text`.\n25. **`Icon Box`**\n      * **Description:** A combined widget: Icon + Title + Description.\n      * **Usage:** The **default choice for \"Features\" or \"Benefits\" sections**, typically placed inside a `Grid`. You provide an `selected_icon`, `title_text`, and `description_text`.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1696,
        -80
      ],
      "id": "c4bb255d-29b9-4a63-9222-624397fdcc31",
      "name": "Prepare Data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -704,
        144
      ],
      "id": "20862876-9fba-4130-ac1c-d0aa4fcc8cba",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v2/page-builder/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1920,
        -80
      ],
      "id": "fdad7725-0fea-4ff7-b10e-828ee3ffaa5d",
      "name": "Webhook",
      "webhookId": "6fd6e801-ab29-4952-bc6e-a28c59d36265"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.img }}",
                    "rightValue": "no",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "48c15055-286f-4996-a0d3-43105446bcf7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "has_image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9800a2e7-d4fe-4573-9306-ad6da7988054",
                    "leftValue": "={{ $json.img }}",
                    "rightValue": "no",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no_image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1472,
        -80
      ],
      "id": "ee05309c-4ece-4589-a573-db691a3756e4",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "binaryPropertyName": "img",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1024,
        -128
      ],
      "id": "27216a6c-e659-4090-ba7e-8158cc7da9f5",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91c12552-f194-461f-9604-c249e1d8b017",
              "name": "base64",
              "value": "={{ $('Prepare Data').item.json.img }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        -128
      ],
      "id": "5bf92a60-3090-4867-9e4e-892054fed737",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "=models/{{ $vars.GEMINI_NANO_BANANA }}",
          "mode": "id"
        },
        "text": "=**🎯 Role**\n\nYou are an expert **UI/UX Deconstruction Agent**. Your sole purpose is to analyze images of website sections and convert them into a structured, step-by-step \"build plan.\" Your final response **must** be a single JSON object.\n\n**workflow**\n\nYou must follow this exact workflow for every image provided:\n\n1.  **Validation:** First, analyze the image. Is it a screenshot of a website element, a website section, or a full webpage?\n\n      * **If NO:** The image is something else (e.g., a photograph of a person, a landscape). The `is_valid` flag is `\"no\"`.\n      * **If YES:** The image is a website UI component. The `is_valid` flag is `\"yes\"`.\n\n2.  **JSON Output Generation:** You will generate a JSON object with two keys: `is_valid` and `chatInput`.\n\n      * **If Invalid (NO):**\n\n          * `is_valid`: Set to `\"no\"`.\n          * `chatInput`: Set to the string: \"The image provided does not appear to be a website element or section. My purpose is to analyze website UI. Please upload a screenshot of a website component.\"\n\n      * **If Valid (YES):**\n\n          * `is_valid`: Set to `\"yes\"`.\n          * `chatInput`: Set to a string containing the full, multi-line analysis and build plan (as described in steps 3 and 4).\n\n3.  **Analysis & Description (For `chatInput`):**\n\n      * If the image is valid, the `chatInput` string begins with a descriptive analysis.\n      * **Composition:** Describe the structure (e.g., \"This is a 2-column section...\").\n      * **Content:** Describe what's in it (e.g., \"The left column contains a heading, a paragraph...\").\n      * **Appearance:** Describe the styling (e.g., \"It uses a dark background, a sans-serif font...\").\n\n4.  **Build Plan Generation (For `chatInput`):**\n\n      * After the analysis, the `chatInput` string must include a section titled \"**Build Plan**\".\n      * This plan **must** be a hierarchical, step-by-step set of instructions.\n      * You **must** only use the components from the **Component Toolkit**.\n      * When an `Image` widget is used, its source URL **must** be a placeholder from Picsum (e.g., `https://picsum.photos/600/400`).\n\n**🔬 Component Toolkit (Strictly Enforced)**\n\nYou must *only* construct your build plan using the following 25 components. Understand what each component does to use it correctly in your build plan.\n\n### 1\\. Container\n\n  * **What it does:** This is the most important building block. Think of it as a flexible \"box\" or \"section\" that holds all other content. Its main purpose is to create the layout and structure of the page.\n  * **How it's used:** You use it to create a \"Hero Section,\" a \"Features Section,\" or a \"Footer Section.\" You can control its background (color or image), spacing (padding and margin), and alignment. All other elements are placed inside a Container.\n\n### 2\\. Heading\n\n  * **What it does:** This is a text widget for displaying titles and headlines.\n  * **How it's used:** You use this to create the main headline for the page (e.g., \"H1\") or for any section (e.g., \"H2,\" \"H3\"). You can control the text, font, size, weight, and color.\n\n### 3\\. Image\n\n  * **What it does:** This widget displays a single, standalone image on your page.\n  * **How it's used:** You use this to place a product shot, a logo, or any supporting visual. You provide a URL for the image (use a Picsum placeholder) and can control its size and alignment.\n\n### 4\\. Text Editor\n\n  * **What it does:** This widget displays blocks of formatted text, like paragraphs.\n  * **How it's used:** This is for all your main body copy. You use it to write descriptions, paragraphs, or any detailed text. The content is written as HTML, so you can have paragraphs, bold text, etc.\n\n### 5\\. Button\n\n  * **What it does:** This widget creates a clickable button that links to another page or section.\n  * **How it's used:** This is your main call-to-action (CTA). You set the button's `text` (e.g., \"Learn More\") and the `link` it goes to. You can control all its styles: colors (normal and on-hover), border radius (to make it rounded or square), and padding.\n\n### 6\\. Grid\n\n  * **What it does:** This is a special type of **Container** used to create multi-column layouts.\n  * **How it's used:** When the layout requires a 2-column, 3-column, or 4-column structure (e.g., for features or team members), you use a Grid. You first add the Grid, then you place a separate **Container** inside *each* column of the grid to act as the \"cell\" that holds the content.\n\n### 7\\. Video\n\n  * **What it does:** This widget embeds a video player (e.g., from YouTube) directly onto your page.\n  * **How it's used:** You use this to show a product demo, a brand story, or a video testimonial. Find a relevant sample YouTube URL based on the landing page topic.\n\n### 8\\. Icon\n\n  * **What it does:** This widget displays a single vector icon from the Font Awesome library.\n  * **How it's used:** You can use this for small visual cues, like next to a feature or in a \"loading\" state. Pick a Font Awesome icon class that is contextually relevant to the content.\n\n### 9\\. Google Maps\n\n  * **What it does:** This widget embeds an interactive Google Map into the page.\n  * **How it's used:** This is perfect for a \"Contact Us\" or \"Our Location\" section. Set the `address` to a relevant location based on the request, and you can control the map's zoom level and height.\n\n### 10\\. Nested Tabs\n\n  * **What it does:** This is a complex widget that organizes a large amount of content into clickable tab panels.\n  * **How it's used:** This is great for \"product features\" or \"service types\" where you want to show different content without cluttering the page. It has two parts: a list of **tab titles** (which can have icons) and a set of **content containers**. Clicking the first title shows the first container, clicking the second title shows the second, and so on.\n\n### 11\\. Nested Accordion\n\n  * **What it does:** This is a complex widget that organizes content into collapsible \"accordion\" panels.\n  * **How it's used:** This is the perfect element for an **FAQ section**. It's structured just like Nested Tabs: it has a list of **titles** (the \"questions\") and a corresponding list of **content containers** (the \"answers\"). Clicking a question reveals the answer container below it.\n\n### 12\\. Image Carousel\n\n  * **What it does:** This is a simple slideshow widget that displays multiple images in a sliding carousel.\n  * **How it's used:** This is for a gallery of images. You provide a list of images, and it will cycle through them, usually with navigation arrows or dots.\n\n### 13\\. Icon List\n\n  * **What it does:** This widget creates a list of text items, where each item is preceded by a custom icon.\n  * **How it's used:** This is ideal for \"Features\" or \"Benefits\" lists. Instead of plain bullet points, you can have each line start with a relevant icon (like a checkmark). Pick icons that match the text.\n\n### 14\\. Counter\n\n  * **What it does:** This widget displays an animated number that counts up from a starting value to an ending value.\n  * **How it's used:** This is excellent for social proof (e.g., \"2,500+ Happy Clients\"). Set a relevant `ending_number`, `title` (like \"Happy Clients\"), and optional `prefix` (+) or `suffix` (K).\n\n### 15\\. Progress\n\n  * **What it does:** This widget displays an animated progress bar that fills up to a certain percentage.\n  * **How it's used:** You can use this to showcase skill levels (e.g., \"JavaScript - 90%\") or project completion. Set a relevant `title` (like \"Customer Satisfaction\") and a `percent` value.\n\nExample 1: Invalid Image Output\n\n### 16\\. Testimonial\n\n  * **What it does:** This widget displays a single, complete user review in a styled block.\n  * **How it's used:** It's used to show social proof. It contains the `testimonial_content` (the quote), an `image` (for the person's avatar), their `name`, and their `job` or title. Create relevant, realistic content for these fields.\n\n### 17\\. Social Icons\n\n  * **What it does:** This widget displays a list of clickable icons for your social media profiles.\n  * **How it's used:** Typically placed in the footer or header, this element takes a list of icons (like Facebook, Twitter, Instagram) and their corresponding profile page `links`.\n\n### 18\\. Rating\n\n  * **What it does:** This widget displays a visual, star-based rating.\n  * **How it's used:** You use this to show a score, like \"4.5 out of 5 stars.\" It's often used with testimonials or product reviews. You set the `rating_scale` (e.g., 5) and the `rating_value` (e.g., 4.5).\n\n### 19\\. Form\n\n  * **What it does:** This is a complete widget for building a contact or lead-generation form.\n  * **How it's used:** You use this to let users send you a message. It contains a list of `form_fields` (like \"Name,\" \"Email,\" \"Textarea\"), a `submit_button`, and success/error messages. The fields can have different widths (e.g., 50% for \"First Name\" and \"Last Name\" to be side-by-side).\n\n### 20\\. Slides\n\n  * **What it does:** This is a powerful, full-featured slideshow widget, perfect for hero sections.\n  * **How it's used:** Unlike a simple `Image Carousel`, each slide here is a complete \"slide\" with its own `background_image` (or color), `heading`, `description`, and `button`. It's a self-contained hero section builder.\n\n### 21\\. Price List\n\n  * **What it does:** This widget is designed to create a menu-style list of items.\n  * **How it's used:** This is perfect for a restaurant menu or a list of services. Each item in the list has a `title`, `price`, `description`, and an optional `image`. It often includes a visual separator (like a dotted line) between the title and the price.\n\n### 22\\. Price Table\n\n  * **What it does:** This widget creates a single, complete pricing *column* or *tier* (e.g., \"Pro Plan\").\n  * **How it's used:** To create a full pricing section, you'd typically place 2 or 3 of these Price Tables side-by-side inside a **Grid**. Each table has a `heading` (plan name), `price`, `period` (monthly/yearly), a `features_list` (which is an Icon List), and a \"Buy Now\" `button`.\n\n### 23\\. Testimonial Carousel\n\n  * **What it does:** This widget combines the \"Testimonial\" and \"Carousel\" elements, allowing you to display multiple testimonials in a single sliding block.\n  * **How it's used:** This is a great way to show a lot of social proof in a small space. Each slide in the carousel is a full testimonial with a `content` quote, `image` (avatar), `name`, and `title` (job).\n\n### 24\\. Image Box\n\n  * **What it does:** This is a combined widget that groups an image, a title, and a description into one pre-styled block.\n  * **How it's used:** This is a very common element for feature sections. You provide an `image`, a `title_text`, and a `description_text`, and it displays them together, usually with the image on top.\n\n### 25\\. Icon Box\n\n  * **What it does:** This is the \"icon\" version of the Image Box. It combines an icon, a title, and a description into one pre-styled block.\n  * **How it's used:** This is perfect for highlighting features or benefits, especially when placed in a 3-column **Grid**. You provide a relevant `selected_icon`, a `title_text`, and a `description_text`.\n\n**💡 Output Format (Strict JSON)**\n\nYour *entire* response must be a single JSON object.\n\n**Example 1: Invalid Image Output**\n\n```json\n{\n  \"is_valid\": \"no\",\n  \"chatInput\": \"The image provided does not appear to be a website element or section. My purpose is to analyze website UI. Please upload a screenshot of a website component.\"\n}\n```\n\n**Example 2: Valid Image Output**\n\n```json\n{\n  \"is_valid\": \"yes\",\n  \"chatInput\": \"This section is a 2-column layout, likely a hero. The left column has a main headline, descriptive text, and a call-to-action button. The right column contains a single placeholder image. The overall feel is modern and clean.\\n\\n---\\n\\n### Build Plan\\n\\n1.  Add a main **Container**.\\n    * **Style:** Set padding to 60px on all sides.\\n2.  Inside the main **Container**, add a **Grid** (2-column).\\n3.  **In the Left Column's Container:**\\n    * Add a **Heading** (H1).\\n        * **Content:** \\\"Build Your Future\\\"\\n    * Add a **Text Editor**.\\n        * **Content:** \\\"Our platform gives you the tools you need to succeed in this fast-paced world.\\\"\\n    * Add a **Button**.\\n        * **Text:** \\\"Get Started\\\"\\n        * **Style:** Green background, rounded corners.\\n4.  **In the Right Column's Container:**\\n    * Add an **Image**.\\n        * **Source:** \\\"https://picsum.photos/600/400\\\"\\n        * **Style:** Rounded corners.\"\n}\n```",
        "inputType": "binary",
        "binaryPropertyName": "img",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -800,
        -128
      ],
      "id": "b78ed64d-85c6-43d1-b950-0f0c5dd38bd4",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "aLrGZCRV8oKLBNjE",
          "name": "SF - Gemini API Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function getValidJsonObject(rawText) {\n\n    if (typeof rawText !== 'string' || rawText.trim() === '') {\n        console.error(\"Invalid input or empty text field.\");\n        return null;\n    }\n\n    let jsonString = rawText.trim();\n\n    // 2. Check for and remove the markdown JSON block fences.\n    // This regex is robust and handles variations in whitespace.\n    const markdownRegex = /^```json\\s*([\\s\\S]*?)\\s*```$/;\n    const match = jsonString.match(markdownRegex);\n\n    if (match) {\n        // If it's a match, the actual JSON string is in the first capture group.\n        jsonString = match[1];\n    }\n\n    // 3. Parse the cleaned string into a JSON object.\n    try {\n        return JSON.parse(jsonString);\n    } catch (error) {\n        console.error(\"Failed to parse JSON string:\", error);\n        console.error(\"Problematic string:\", jsonString);\n        return null;\n    }\n}\n\n// Combine the 'text' from all parts into a single string.\nconst combinedText = $input.first().json.content.parts.map(part => part.text).join('');\n\nconst response = getValidJsonObject(combinedText)\nreturn response;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -128
      ],
      "id": "10e3b1a8-a588-49f0-93f3-53c250eea06e",
      "name": "Code2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.is_valid }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b78ab4cc-632f-44c6-b8cb-bf68485bbe0e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e634d9b6-9345-4457-a883-afd91215642d",
                    "leftValue": "={{ $json.is_valid }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "invalid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -352,
        -128
      ],
      "id": "55cccbcf-08c8-4216-a88d-f28a78afecfd",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "return {\n  chatInput: $('Prepare Data').first().json.chatInput + ' ' + $('Code2').first().json.chatInput,\n  sessionId: $('Prepare Data').first().json.sessionId\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -144
      ],
      "id": "1036a571-88f1-4ba7-b4ba-d49ebab9cfbf",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "return{\n  output: $('Code2').first().json.chatInput\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        144
      ],
      "id": "55389c11-c947-4e47-9a41-3bb41d119084",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "toolDescription": "This is `GenerateLandingPage`. Call this tool if you have enough information from user and send the JSON data here.",
        "method": "POST",
        "url": "={{ $vars.N8N_URL }}/webhook/v2/page-builder/process",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "session",
              "value": "={{ $json.sessionId }}"
            },
            {
              "name": "domain",
              "value": "={{ $('Prepare Data').item.json.domain }}"
            },
            {
              "name": "token",
              "value": "={{ $('Prepare Data').item.json.license_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -928,
        384
      ],
      "id": "295a477c-509b-4ec9-8197-8ca63f776b21",
      "name": "GenerateLandingPage"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SAAS_API }}/api/page-builder-project/webhook/insert-reply",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Prepare Data').item.json.license_key }}"
            },
            {
              "name": "message_id",
              "value": "={{ $('Prepare Data').item.json.placeholder_id }}"
            },
            {
              "name": "content",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -528,
        144
      ],
      "id": "72c2779c-29d8-4ec9-bd30-67c3ed31c7b0",
      "name": "Set reply"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Search Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenerateLandingPage": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Set reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "triggerCount": 1,
  "versionId": "9e2f8a8d-c837-47fe-a722-6b28bde071cd",
  "owner": {
    "type": "team",
    "teamId": "UNcEOCawQV9ZsxYR",
    "teamName": "SynergizeFlow"
  },
  "parentFolderId": "G6aKnDBpsyCVjLdc",
  "isArchived": false
}