workflows/FJSZXdSR58vddp3I.json
{
  "id": "FJSZXdSR58vddp3I",
  "name": "SF - Animation Explainer Step Idea",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v1/animation-explainer/steps",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        0
      ],
      "id": "b09ee5b1-d006-468a-8d6d-c6a09ea48404",
      "name": "Weebhook",
      "webhookId": "0f16cebd-602c-45db-b81d-9d2c5888c6ab"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \"description: \" + $json.description + \", visual style: \" + $json.visual_style + \", voice language: \" + $json.voice_language + \", speaker name: \" + $json.speaker_name + \", orientation: \" + $json.orientation }}",
        "options": {
          "systemMessage": "=You are a professional storyboard director and narration scriptwriter. Your job is to transform a description or story into a structured step-by-step narration plan for an animated explainer video.\n\n## INPUT FORMAT\nYou will receive a message with these fields:\n- **description**: The story, narration, or concept to be broken down into steps.\n- **visual_style**: The desired visual/art style for all generated images (e.g., \"cinematic realistic\", \"anime\", \"watercolor illustration\", \"3D cartoon\", \"flat vector\", etc.).\n- **voice_language**: The language for the voice narration and subtitle text (e.g., \"id-ID\" for Indonesian, \"en-US\" for English, etc.).\n- **speaker_name**: The voice name to use for TTS (e.g., \"Kore\", \"Puck\", \"Charon\", \"Fenrir\", \"Aoede\", \"Leda\", \"Orus\", \"Zephyr\", etc.).\n- **orientation**: The video orientation — either \"vertical\" (9:16, for TikTok/Reels/Shorts) or \"horizontal\" (16:9, for YouTube/presentation).\n\n## YOUR TASK\n1. Analyze the description and break it down into **minimum 3 and maximum 10 sequential steps** that tell the story visually and narratively.\n2. Each step represents one scene/slide in the video.\n3. Ensure the narrative flows naturally from step to step, building a coherent story arc.\n4. For each step, choose an appropriate motion effect and transition that matches the emotional tone of the scene.\n\n## OUTPUT FORMAT\nYou MUST respond with a valid JSON object. Do NOT include any text before or after the JSON. The JSON must follow this exact structure:\n\n```json\n{\n  \"title\": \"A short title for this story/narration\",\n  \"orientation\": \"<orientation from input: 'vertical' or 'horizontal'>\",\n  \"total_steps\": <number>,\n  \"steps\": [\n    {\n      \"step\": 1,\n      \"scene_description\": \"Brief internal description of what this scene depicts, ALWAYS in English (for reference only, not spoken)\",\n      \"subtitle\": \"The exact narration text that will be displayed as subtitle AND spoken as voice. This must be natural, engaging narration in the specified voice_language. Keep each step's subtitle between 1-3 sentences (max ~40 words) so it fits well as a subtitle overlay and TTS audio clip.\",\n      \"image\": {\n        \"prompt\": \"A detailed, vivid image generation prompt in English describing the visual scene. Include the visual_style. Be specific about: subject, action, composition, lighting, color palette, mood, camera angle. The prompt should paint a clear picture for the AI image generator. Always include the visual_style keyword at the beginning of the prompt.\",\n        \"negative_prompt\": \"Elements to avoid in the image. Always include: blurry, low quality, distorted, deformed, ugly, bad anatomy, watermark, signature, text, logo, banner, extra limbs, disfigured. Add scene-specific negatives as needed.\",\n        \"image_size\": \"<'landscape_16_9' if orientation is horizontal, 'portrait_9_16' if orientation is vertical>\"\n      },\n      \"motion_effect\": \"<choose ONE from: 'zoom_in', 'zoom_out', 'pan_left', 'pan_right', 'pan_up', 'pan_down', 'ken_burns_in', 'ken_burns_out'>\",\n      \"transition\": \"<choose ONE from: 'crossfade', 'fade_black', 'wipe_left', 'wipe_right', 'none'>\",\n      \"tts\": {\n        \"input\": {\n          \"prompt\": \"ALWAYS IN ENGLISH. A style/delivery instruction for the TTS voice. Describe HOW to speak this line. Examples: 'Speak in a warm, storytelling tone with gentle pacing', 'Narrate with excitement and wonder', 'Deliver with a calm, reflective mood'. This field must ALWAYS be written in English regardless of voice_language, because the Gemini TTS engine processes style prompts best in English.\",\n          \"text\": \"MUST BE IDENTICAL to the 'subtitle' field above (the spoken words must match). This is the exact text that will be spoken. You MUST add Gemini TTS markup tags to make the delivery expressive and engaging. At minimum, add pacing tags at natural pause points. Available tags: [sigh], [laughing], [uhm] (non-speech sounds), [whispering], [shouting], [extremely fast] (style modifiers), [short pause], [medium pause], [long pause] (pacing). IMPORTANT: The spoken words (excluding markup tags) MUST match the subtitle exactly.\"\n        },\n        \"voice\": {\n          \"languageCode\": \"<voice_language from input, e.g., 'en-US', 'id-ID'>\",\n          \"name\": \"<speaker_name from input>\",\n          \"model_name\": \"{{$vars.GEMINI_FLASH_TEXT}}-tts\"\n        },\n        \"audioConfig\": {\n          \"audioEncoding\": \"MP3\"\n        }\n      }\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        0
      ],
      "id": "94eca075-da63-4081-adcc-10203dcd34f9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        384,
        192
      ],
      "id": "13593477-a606-477e-b291-2337a3903c84",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aLrGZCRV8oKLBNjE",
          "name": "SF - Gemini API Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Parse AI JSON Output — robust decoder for escaped strings\n// Input  : $input.first().json.output  (raw AI string)\n// Output : { json: { parsed: <object>, raw: <string> } }\n// ============================================================\n\nconst rawInput = $input.first().json.output;\n\nif (!rawInput || typeof rawInput !== 'string') {\n  throw new Error('Input \"output\" tidak ditemukan atau bukan string.');\n}\n\nconst decodeAndParse = (str) => {\n  str = str.trim();\n\n  \n  if (\n    (str.startsWith('\"') && str.endsWith('\"')) ||\n    (str.startsWith(\"'\") && str.endsWith(\"'\"))\n  ) {\n    str = str.slice(1, -1);\n  }\n\n  \n  str = str\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\t/g, '\\t')\n    .replace(/\\\\r/g, '\\r')\n    .replace(/\\\\\"/g, '\"')\n    .replace(/\\\\\\\\/g, '\\\\');\n\n  \n  str = str\n    .replace(/^```json[\\s]*/i, '')\n    .replace(/^```[\\s]*/i, '')\n    .replace(/```[\\s]*$/i, '');\n\n  str = str.trim();\n\n  \n  try {\n    return JSON.parse(str);\n  } catch (e1) {\n    const match = str.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try {\n        return JSON.parse(match[0]);\n      } catch (e2) {\n        throw new Error(\n          `Gagal parse JSON (fallback).\\nError: ${e2.message}\\nPreview: ${match[0].slice(0, 200)}`\n        );\n      }\n    }\n    throw new Error(\n      `Tidak ditemukan blok JSON valid.\\nError: ${e1.message}\\nPreview: ${str.slice(0, 200)}`\n    );\n  }\n};\n\nconst parsed = decodeAndParse(rawInput);\n\nreturn [{ json: { ...parsed } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        0
      ],
      "id": "d8567073-b9cf-4c09-add8-ee72c6d5ac9d",
      "name": "Parse AI JSON Output"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        960,
        0
      ],
      "id": "ba31beca-26fe-4543-8950-67bdcf9a91e9",
      "name": "Agent Response"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"description\": {{ JSON.stringify($json.body.description) }},\n  \"visual_style\": {{ JSON.stringify($json.body.description) }},\n  \"voice_language\": {{ JSON.stringify($json.body.voice_language) }},\n  \"speaker_name\": {{ JSON.stringify($json.body.speaker_name) }},\n  \"orientation\": {{ JSON.stringify($json.body.orientation) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        0
      ],
      "id": "9faa727a-f990-4dfa-84f2-4dfa0c65be9a",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Weebhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI JSON Output": {
      "main": [
        [
          {
            "node": "Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "4otmc6jILN7VL0Z9",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "triggerCount": 1,
  "versionId": "657627b8-396d-4dd7-8e38-54dae545579d",
  "owner": {
    "type": "team",
    "teamId": "UNcEOCawQV9ZsxYR",
    "teamName": "SynergizeFlow"
  },
  "parentFolderId": "xaH2LdkpgOsNAAj6",
  "isArchived": false
}