workflows/iSKX3nYa7umKpKG5.json
{
  "id": "iSKX3nYa7umKpKG5",
  "name": "SF - Chat Agent CTA upload",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const ctas = $('Required data').first().json.ctas || [];\nlet md = '';\n\nctas.forEach((cta, idx) => {\n  md += `## CTA-${idx + 1}\\n`;\n  md += `**Goal:** ${cta.goal_prompt || '-'}\\n`;\n  md += `**Destination:** ${cta.destination || '-'}\\n\\n`;\n\n  if (Array.isArray(cta.collect_fields) && cta.collect_fields.length) {\n    md += '**Fields to collect:**\\n';\n    cta.collect_fields.forEach(f => {\n      md += `- ${f.label}${f.required ? ' *(required)*' : ''}\\n`;\n    });\n  } else {\n    md += '_No fields to collect_';\n  }\n  md += '\\n\\n';\n});\n\nreturn { text: md.trim() };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        112
      ],
      "id": "53e7965e-9239-49fb-b080-64ce5f66400d",
      "name": "cta markdown"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v1/chat-agent/cta-upload",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1040,
        112
      ],
      "id": "2782c12b-3bcb-4966-8a70-e8d9321f5423",
      "name": "Webhook",
      "webhookId": "d80320f8-0554-4d3a-aac7-34f8cc26bae1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f17f88fd-2e5b-4284-b559-8dfc2b52aeec",
              "name": "website",
              "value": "={{ $json.body.domain_name }}",
              "type": "string"
            },
            {
              "id": "5931de7b-cd2b-41d7-9ac2-d1ff7a74acca",
              "name": "code",
              "value": "={{ $json.body.license_key }}",
              "type": "string"
            },
            {
              "id": "792853ce-c455-4ba1-be6e-32623020983a",
              "name": "ctas",
              "value": "={{ $json.body.ctas }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        112
      ],
      "id": "3ee99edb-2bd8-4ca7-b0b2-2b0cf23d51e1",
      "name": "Required data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.website }}/wp-json/synergize/v1/validate-license",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ $json.code }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        112
      ],
      "id": "f2864d87-29a8-4115-87cf-6196e5354646",
      "name": "Check license"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c496ee6c-fcf8-4ca6-abba-248a31bd754b",
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -432,
        112
      ],
      "id": "638b3369-a545-444a-8d17-a3eb010f0984",
      "name": "if valid"
    },
    {
      "parameters": {
        "errorMessage": "Unauthorized access denied!"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -208,
        320
      ],
      "id": "a1a0199f-c9f7-4f07-9b07-5323681cf459",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "operation": "collectionExists",
        "collectionName": "=cta-{{ $('Required data').item.json.code }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ],
      "id": "f2a34bec-938f-4327-9127-80785ab60f9e",
      "name": "Check If Collection Exists",
      "credentials": {
        "qdrantRestApi": {
          "id": "Ky9zq5gndxQO48S6",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a57760c3-3a24-43a9-bc83-e707219ca79e",
              "leftValue": "={{ $json.result.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        112
      ],
      "id": "99160cfb-10ec-4508-b021-5d0c20418a80",
      "name": "If collection exists"
    },
    {
      "parameters": {
        "operation": "deleteCollection",
        "collectionName": {
          "__rl": true,
          "value": "=cta-{{ $('Required data').item.json.code }}",
          "mode": "name"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        208,
        -32
      ],
      "id": "026c20e6-a24b-43fb-b972-56640c4b88be",
      "name": "Delete Old Collection",
      "credentials": {
        "qdrantRestApi": {
          "id": "Ky9zq5gndxQO48S6",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        736,
        112
      ],
      "id": "b89d1dee-ce5e-4d18-97f3-fd4560846e19",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=cta-{{ $('Required data').item.json.code }}",
          "mode": "id"
        },
        "embeddingBatchSize": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        912,
        112
      ],
      "id": "50a354d6-c719-46bb-b695-29982da227ac",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "fKAHlOe3mnPrJuNI",
          "name": "SF - QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "=models/{{ $vars.GEMINI_EMBEDDING }}"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        832,
        304
      ],
      "id": "f65c1104-58ee-43d5-8a62-84b383354efa",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "aLrGZCRV8oKLBNjE",
          "name": "SF - Gemini API Account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1040,
        320
      ],
      "id": "d7597814-f0cb-4230-8646-85f8dabbb651",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 350,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1040,
        496
      ],
      "id": "eb0bc646-de00-43e4-91fe-dccdda39caa4",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "connections": {
    "cta markdown": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Required data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required data": {
      "main": [
        [
          {
            "node": "Check license",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check license": {
      "main": [
        [
          {
            "node": "if valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if valid": {
      "main": [
        [
          {
            "node": "Check If Collection Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Collection Exists": {
      "main": [
        [
          {
            "node": "If collection exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If collection exists": {
      "main": [
        [
          {
            "node": "Delete Old Collection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cta markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Collection": {
      "main": [
        [
          {
            "node": "cta markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "4otmc6jILN7VL0Z9",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "triggerCount": 1,
  "versionId": "fb11c497-45ad-43cb-aad7-083ef7a78906",
  "owner": {
    "type": "team",
    "teamId": "UNcEOCawQV9ZsxYR",
    "teamName": "SynergizeFlow"
  },
  "parentFolderId": "ufNfABECZ3OXdtAU",
  "isArchived": false
}