workflows/N0FQfmAfJbhENzVf.json
{
  "id": "N0FQfmAfJbhENzVf",
  "name": "Generic Page Builder Get Internal Styling",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        32
      ],
      "id": "454d19db-f9e6-496a-b1a7-573d0179a5df",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.config.styling }}",
                    "rightValue": "internal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b86976eb-6f4c-4059-a0aa-24a2ccf65462"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "inernal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2f2e8edd-9391-43ef-bde8-a4a60be2c35f",
                    "leftValue": "={{ $json.config.styling }}",
                    "rightValue": "internal",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "custom"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        224,
        32
      ],
      "id": "de33a2cf-ad99-4cf6-896c-572f5ef2e77d",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $json.domain }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        -96
      ],
      "id": "d1560944-0ebe-4db6-a569-db8eee92e649",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "style",
              "cssSelector": "link[rel=\"stylesheet\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "key": "content",
              "cssSelector": "body *:not(script):not(svg):not(img):not(iframe)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        672,
        -96
      ],
      "id": "eef127ec-47d7-45e8-a0fe-67de715c6fea",
      "name": "HTML"
    },
    {
      "parameters": {
        "jsCode": "function extractAssets(urls) {\n  const result = {\n    elementor: [],\n    fonts: []\n  };\n\n  urls.forEach(url => {\n    if (url.includes('elementor')) {\n      result.elementor.push(url);\n    }\n\n    if (url.includes('fonts.googleapis.com')) {\n      result.fonts.push(url);\n    }\n  });\n\n  return result;\n}\n\n// Example usage:\nconst urls = $input.first().json.style\n\nconst extracted = extractAssets(urls);\nreturn {style: extracted}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -96
      ],
      "id": "7b2da1e0-02dc-42e0-93c7-83b830a6e7a1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=style.elementor",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1120,
        -96
      ],
      "id": "2ff07dc4-3bfd-4f52-950e-6328ccc24ab2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1344,
        -96
      ],
      "id": "e55b35e8-b2cb-4796-989d-39814ce11e86",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json['style.elementor'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        -64
      ],
      "id": "178d5ab4-88ee-4c57-abd1-7d7b9738438a",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ce3cce-64db-45f7-9dae-ebea15d19829",
              "name": "css",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        -48
      ],
      "id": "1de65512-bff5-4e43-8d4a-34e00397ec05",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1568,
        -256
      ],
      "id": "7b0c133c-9b9b-4f56-92e2-c10232eea6cf",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "let css = '';\nfor (const item of $input.first().json.data) {\n   css += item.css;\n}\n\nreturn {css:css}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -256
      ],
      "id": "1ff43c71-6a9d-4d30-a6f1-58237ebc9ab0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db4d5971-3b3a-41d5-bf8a-ef7b1ab2d1bf",
              "name": "css",
              "value": "={{ $json.css }}",
              "type": "string"
            },
            {
              "id": "9a406e13-1297-4cb9-b6d4-3234e368937c",
              "name": "html",
              "value": "={{ $('HTML').item.json.content }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        -256
      ],
      "id": "afa14dde-95ff-4455-b848-ec8f8ee2ca90",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "=models/{{ $vars.GEMINI_FLASH_PREVIEW }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.toJsonString() }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "=You are an expert front-end design token extractor. Your task is to analyze raw JSON data containing CSS strings and HTML snippets to extract the core design system of a website, specifically its color palette and typography settings.\n\n**Instructions:**\n1. **Analyze the Data:** Scan the provided \"css\" string for global CSS variables (e.g., `--e-global-color-...`, `--e-global-typography-...`) and frequently used styling rules to determine the site's primary styling.\n2. **Extract Colors:** - Identify the `primary`, `secondary`, and `text` colors (usually hex codes). \n   - Extract any `additional` colors used for accents, buttons, or backgrounds into an array.\n3. **Extract Typography:**\n   - Identify the `font-family`, `font-size`, and `font-weight` for the `primary` (e.g., main headings/H1), `secondary` (e.g., subheadings/H2-H6), and `text` (e.g., body paragraphs) styles.\n   - Extract any `additional` font styles (e.g., accent, button text, or specific UI elements) into an array of objects containing their respective size, family, and weight.\n4. **Format Output:** Map the extracted data exactly to the JSON schema provided below. If a specific value cannot be confidently determined, leave the string empty (`\"\"`).\n5. **Strict Constraint:** You must output **ONLY** a valid JSON object. Do not include greetings, explanations, or conversational text. Do NOT wrap the output in markdown code blocks (e.g., no \\`\\`\\`json). The first character of your response must be `{` and the last character must be `}`.\n\n**Required JSON Output Schema:**\n{\n    \"color\": {\n        \"primary\": \"\",\n        \"secondary\": \"\",\n        \"text\": \"\",\n        \"additional\": []\n    },\n    \"font\": {\n        \"primary\": {\n            \"size\": \"\",\n            \"family\": \"\",\n            \"weight\": \"\"\n        },\n        \"secondary\": {\n            \"size\": \"\",\n            \"family\": \"\",\n            \"weight\": \"\"\n        },\n        \"text\": {\n            \"size\": \"\",\n            \"family\": \"\",\n            \"weight\": \"\"\n        },\n        \"additional\": [\n            {\n                \"size\": \"\",\n                \"family\": \"\",\n                \"weight\": \"\"\n            }\n        ]\n    }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        2240,
        -256
      ],
      "id": "01213ac3-ce9f-4ceb-b4c3-df2e4d563e7f",
      "name": "Message a model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "aLrGZCRV8oKLBNjE",
          "name": "SF - Gemini API Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/* Your getValidJsonObject function is good. \n  It correctly handles bad strings by returning null.\n  No changes are needed here.\n*/\nfunction getValidJsonObject(rawText) {\n\n    if (typeof rawText !== 'string' || rawText.trim() === '') {\n        console.error(\"Invalid input or empty text field.\");\n        return null;\n    }\n\n    let jsonString = rawText.trim();\n\n    // 2. Check for and remove the markdown JSON block fences.\n    const markdownRegex = /^```json\\s*([\\s\\S]*?)\\s*```$/;\n    const match = jsonString.match(markdownRegex);\n\n    if (match) {\n        jsonString = match[1];\n    }\n\n    // 3. Parse the cleaned string into a JSON object.\n    try {\n        return JSON.parse(jsonString);\n    } catch (error) {\n        // This is expected for parts that aren't JSON, like \"```\"\n        // console.error(\"Failed to parse JSON string:\", error); \n        // console.error(\"Problematic string:\", jsonString);\n        return null; // Returning null is key\n    }\n}\n\n// === NEW LOGIC ===\n\n// 1. Get the array of all parts\nconst allParts = $input.first().json.content.parts;\n\n// 2. Map each part to a parse attempt.\n//    - If part.text is valid JSON, we get the object.\n//    - If part.text is \"```\" or other non-JSON, getValidJsonObject returns null.\nconst parsedData = allParts\n    .map(part => getValidJsonObject(part.text))\n    .filter(result => result !== null); // 3. Filter out all the nulls\n\n// `parsedData` is now an array of all successfully parsed JSON objects.\n// In your example, it will be: [ [ { id: \"h3f8e9a1\", ... } ] ]\n\nreturn { styling:parsedData[0] };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        -256
      ],
      "id": "a9528161-1df5-4c55-af36-f92a90051e5f",
      "name": "Code2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return {styling: {} }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        112
      ],
      "id": "5f90a7ce-ee71-4b1f-8307-509e1d031de0",
      "name": "Code in JavaScript2"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "triggerCount": 0,
  "versionId": "f822f3e9-1744-4b0d-8490-5578b369a3c5",
  "owner": {
    "type": "team",
    "teamId": "UNcEOCawQV9ZsxYR",
    "teamName": "SynergizeFlow"
  },
  "parentFolderId": "8iF3VS4uHwCV47XQ",
  "isArchived": false
}