workflows/RXQhobI7SsqbOp5F.json
{
  "id": "RXQhobI7SsqbOp5F",
  "name": "SF - Blog FAQ",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d1ab9b0-7d1e-44f3-82c6-3b9e3f88d229",
              "name": "license_key",
              "value": "={{ $json.body.license_key }}",
              "type": "string"
            },
            {
              "id": "e0787359-9291-4921-ab77-7d19dd04f4a6",
              "name": "domain_name",
              "value": "={{ $json.body.domain_name }}",
              "type": "string"
            },
            {
              "id": "cc44044c-7290-40e2-a779-969fd6c24ca1",
              "name": "blog",
              "value": "={{ $json.body.content }}",
              "type": "array"
            },
            {
              "id": "d934a4a0-cb9b-4e4d-a12d-a49952ae5cba",
              "name": "webhook",
              "value": "={{ $json.body.webhook }}",
              "type": "string"
            },
            {
              "id": "c29472ce-ccff-4077-8e8c-0dbc456bf8c9",
              "name": "faq_id",
              "value": "={{ $json.body.faq_id }}",
              "type": "number"
            },
            {
              "id": "5bcdb0d1-7d00-4dbf-aa8a-1a8848aa89d7",
              "name": "faq_count",
              "value": "={{ $json.body.faq_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        176
      ],
      "id": "493a50ee-4146-4ede-886a-2154a99ad01b",
      "name": "Prepare Data"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "blog/seo-faq",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1488,
        176
      ],
      "id": "36125b85-b841-4218-a7d1-8693bfd703f3",
      "name": "Webhook",
      "webhookId": "e6cdc092-8bf7-4d04-8789-8162bddacbd0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.domain_name }}wp-json/synergize/v1/validate-license",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ $json.license_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1040,
        176
      ],
      "id": "6cb51c18-4b9f-44d9-a845-d7f35601c682",
      "name": "Check if license is valid"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.is_valid }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "60458c94-986c-49cd-8b69-4b5616163eb3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "go"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2f910b52-842c-4b6a-a862-e6914c883764",
                    "leftValue": "={{ $json.is_valid }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -816,
        176
      ],
      "id": "5e7e3a8b-c23f-46a4-8dfa-49fe0f781d34",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Prepare Data').item.json.webhook }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "fail"
            },
            {
              "name": "msg",
              "value": "invalid_license"
            },
            {
              "name": "faq_id",
              "value": "={{ $('Prepare Data').item.json.faq_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -592,
        272
      ],
      "id": "d464edd8-7a05-4b9a-8660-540df227d1f9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return $('Prepare Data').first().json.blog"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        80
      ],
      "id": "c187b1e9-7d1d-4c2b-b3fd-78be57621c63",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -368,
        80
      ],
      "id": "39d6b51d-42b4-4b5b-854f-cecfab444bc9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Prepare Data').item.json.domain_name }}wp-json/synergize/v1/get-single-post/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ $('Prepare Data').item.json.license_key }}"
            },
            {
              "name": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        16
      ],
      "id": "e3383bcb-2a4a-463c-8ae9-65d05072af84",
      "name": "Get blog content detail"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=1. faq_count: {{ $('Prepare Data').item.json.faq_count }}\n2. source_text: {{ $json.content }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "systemMessage": "=You are an expert Content Analyst and SEO Specialist. Your sole purpose is to process provided text content and generate a structured FAQ set along with its corresponding JSON-LD schema.\n\n**I. INPUTS**\nYou will receive two inputs from the user:\n1.  `source_text`: The content to analyze.\n2.  `faq_count`: An integer representing the exact number of Q&A pairs to generate.\n\n**II. PROCESSING GUIDELINES**\n1.  **Analyze:** Read the `source_text` thoroughly.\n2.  **Draft:** Create clear, concise, and helpful questions that a user would likely ask based *only* on the text provided.\n3.  **Answer:** Draft direct answers derived strictly from the source text. Do not hallucinate or add external information.\n4.  **Quantity:** You must generate exactly the number of items specified in `faq_count`. If the text is too short to support the count, create the maximum possible number of unique questions.\n5.  **Schema:** Construct a valid `FAQPage` JSON-LD schema object based on the generated questions and answers.\n\n**III. OUTPUT FORMAT (STRICT)**\n* Your response must be a **single valid JSON object**.\n* **Do not** include markdown formatting (e.g., ```json).\n* **Do not** include conversational fillers, introductions, or conclusions.\n* **Do not** include newlines (\\n) inside the JSON strings unless necessary for formatting the answer text.\n\n**IV. JSON STRUCTURE**\nThe output object must strictly follow this structure:\n\n{\n  \"faq_display\": [\n    {\n      \"question\": \"String\",\n      \"answer\": \"String\"\n    }\n  ],\n  \"faq_schema\": {\n    \"@context\": \"[https://schema.org](https://schema.org)\",\n    \"@type\": \"FAQPage\",\n    \"mainEntity\": [\n      {\n        \"@type\": \"Question\",\n        \"name\": \"String (Question)\",\n        \"acceptedAnswer\": {\n          \"@type\": \"Answer\",\n          \"text\": \"String (Answer)\"\n        }\n      }\n    ]\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        304,
        16
      ],
      "id": "679d2808-4a87-4c59-8fcf-f6ad4c66406f",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "6Qmz74fv62ASqbfV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function getValidJsonObject(rawText) {\n\n    if (typeof rawText !== 'string' || rawText.trim() === '') {\n        console.error(\"Invalid input or empty text field.\");\n        return null;\n    }\n\n    let jsonString = rawText.trim();\n\n    // 2. Check for and remove the markdown JSON block fences.\n    // This regex is robust and handles variations in whitespace.\n    const markdownRegex = /^```json\\s*([\\s\\S]*?)\\s*```$/;\n    const match = jsonString.match(markdownRegex);\n\n    if (match) {\n        // If it's a match, the actual JSON string is in the first capture group.\n        jsonString = match[1];\n    }\n\n    // 3. Parse the cleaned string into a JSON object.\n    try {\n        return JSON.parse(jsonString);\n    } catch (error) {\n        console.error(\"Failed to parse JSON string:\", error);\n        console.error(\"Problematic string:\", jsonString);\n        return null;\n    }\n}\n\n// Combine the 'text' from all parts into a single string.\nconst combinedText = $input.first().json.content.parts.map(part => part.text).join('');\n\nreturn {data: getValidJsonObject(combinedText)};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        16
      ],
      "id": "2bc6bd5d-f923-4aaf-8888-8e587b25fa8f",
      "name": "Code2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Prepare Data').item.json.domain_name }}wp-json/synergize/v1/submit-blog-faq/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ $('Prepare Data').item.json.license_key }}"
            },
            {
              "name": "faq",
              "value": "={{ $json.data.faq_display }}"
            },
            {
              "name": "schema",
              "value": "={{ $json.data.faq_schema }}"
            },
            {
              "name": "blog_id",
              "value": "={{ $('Edit Fields').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -80
      ],
      "id": "afd361b5-7f02-45a1-a4d4-368890b64909",
      "name": "Send content"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a61c4617-241a-4908-a8e9-355fe0a34cb8",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "090307d0-1f8b-463d-b923-806b94f480b4",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        16
      ],
      "id": "1d4fe5b3-8f02-4c7a-adbf-4d1f96a7e51c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return {\n  status: $input.first().json.status,\n  id: $('Edit Fields').first().json.id,\n  title: $('Edit Fields').first().json.title,\n  faq: $('Code2').first().json.data.faq_display\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        32
      ],
      "id": "7d3064b0-2760-4bf1-aefb-1093e1b182de",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "return {\n  status: 'fail',\n  id: $('Edit Fields').first().json.id,\n  title: $('Edit Fields').first().json.title,\n  faq: []\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        112
      ],
      "id": "4bd9de77-ef4e-4398-8f75-b6effbdf6976",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -144,
        -176
      ],
      "id": "56d6eb37-0b92-4944-a222-1fe401aa744a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Prepare Data').item.json.webhook }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "ok"
            },
            {
              "name": "data",
              "value": "={{ $json.data }}"
            },
            {
              "name": "faq_id",
              "value": "={{ $('Prepare Data').item.json.faq_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -176
      ],
      "id": "dbed0c48-29b2-4b3e-871a-073a7bad8ecf",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Check if license is valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if license is valid": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get blog content detail": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Send content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send content": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get blog content detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "FfOIxnXYC00WoM2o"
  },
  "triggerCount": 1,
  "versionId": "b3042337-c226-428e-a707-afe905a48cd1",
  "owner": {
    "type": "personal",
    "projectId": "ZvP1yE48ZEo7zgpC",
    "projectName": "Synergize Flow Team <info@mantab.one>",
    "personalEmail": "info@mantab.one"
  },
  "parentFolderId": "W6kfCfNZPfSqIn2i",
  "isArchived": false
}