workflows/vezd7KY8cdsxIl1C.json
{
  "id": "vezd7KY8cdsxIl1C",
  "name": "Telegram Bot Chat Create Blog Magento",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -5424,
        368
      ],
      "id": "8920f218-b43c-4b5d-bcc3-3b80f4cd5876",
      "name": "Telegram Trigger",
      "webhookId": "b5478068-516b-4180-a920-1022de1c9201",
      "credentials": {
        "telegramApi": {
          "id": "39fRwzDgQF6qjDAR",
          "name": "SF WP Blog Dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('get largest_file_id').item.json.selected_file_id }}",
        "additionalFields": {
          "mimeType": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1360,
        -16
      ],
      "id": "294eb73d-6e0c-47e9-b8d0-de486566a1df",
      "name": "Get a file",
      "webhookId": "ceb4be7e-20ac-4281-879a-f11aafc2c61e",
      "retryOnFail": true,
      "waitBetweenTries": 2500,
      "credentials": {
        "telegramApi": {
          "id": "39fRwzDgQF6qjDAR",
          "name": "SF WP Blog Dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f77ad26-3f99-4d24-85c8-0bc57256765f",
              "name": "caption",
              "value": "={{ $('Telegram Trigger').item.json.message.caption }}",
              "type": "string"
            },
            {
              "id": "d5f89f44-9ed2-45b2-b389-41832b059fae",
              "name": "user_id",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}",
              "type": "string"
            },
            {
              "id": "d3cdb6d2-feb9-4d3a-a231-a6976da1cd81",
              "name": "user_name",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "d18fd18f-9214-450d-9e02-8ba4cbe7249a",
              "name": "date",
              "value": "={{ $('Telegram Trigger').item.json.message.date }}",
              "type": "string"
            },
            {
              "id": "8a19e738-8529-4c19-b2c5-e3eff90b1bd5",
              "name": "media_group_id",
              "value": "={{ $('Telegram Trigger').item.json.message.media_group_id }}",
              "type": "string"
            },
            {
              "id": "55f4141f-4e34-47c9-bfb4-b52a8f759c93",
              "name": "image_name",
              "value": "={{ $('Get a file').item.json.result.file_path }}",
              "type": "string"
            },
            {
              "id": "4ee377ac-81e3-43f4-a7c5-7dba4b9e73d8",
              "name": "file_unique_id",
              "value": "={{ $('Get a file').item.json.result.file_unique_id }}",
              "type": "string"
            },
            {
              "id": "8956718d-5c1a-4a6e-9882-9893b09728b2",
              "name": "image",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "7af43f06-9b1c-4da5-b11c-df05c130128b",
              "name": "",
              "value": "={{ $('generate blog').item.json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        -16
      ],
      "id": "13058a5c-22a2-4031-a429-6c65867758fe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1136,
        -16
      ],
      "id": "153ea93c-a8a9-425e-88ef-751dfa05319e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "922db1ef-c670-4893-bd20-c9fd6e5a9c45",
              "leftValue": "={{ $('get largest_file_id').item.json.selected_file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3632,
        80
      ],
      "id": "57f7e71b-fe7c-4c97-8874-f61c89c57f16",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert-level NLP (Natural Language Processing) and SEO Content Analysis System. Your goal is to analyze the user input provided in the variable `caption` and extract metadata into a structured format.\n\n**INPUT TEXT (`caption`):**\n\"\"\"\n{{ $('Telegram Trigger').item.json.message.caption }}\n\"\"\"\n\n**PROCESS:**\n\n1. **ANALYZE 'Language':**\n   - distinctively detect the primary language used in the input text.\n   - If the text is mixed (e.g., English mixed with Indonesian slang), identify the dominant language intended for the final audience.\n   - You must output a valid 2-letter ISO 639-1 code (e.g., 'en', 'id', 'es').\n\n2. **ANALYZE 'Keywords':**\n   - Extract the core topics, subjects, and intent from the text.\n   - If the text is short, infer the likely context or niche (e.g., if the text is about \"morning coffee,\" infer keywords like \"lifestyle,\" \"morning routine\").\n   - Generate 5 relevant, high-search-volume keywords suitable for tagging or SEO.\n\n3. **ANALYZE 'Writing Style':**\n   - Identify specific instructions given in the text regarding tone (e.g., \"write a blog,\" \"storytelling\").\n   - If no specific instruction is present, analyze the sentiment and vibe of the text itself (e.g., \"Casual,\" \"Professional,\" \"Urgent,\" \"Witty\").\n   - Combine these into a concise descriptor (e.g., \"Narrative Storytelling\" or \"Professional & Informative\").\n\n**EXECUTION COMMAND:**\nAnalyze the text and generate the JSON object. CRITICAL OUTPUT RULE: Output RAW JSON only. Do not use Markdown code blocks (no ```json or ```). Do not output any text, explanations, or whitespace before the opening { or after the closing }. Just the pure JSON string.\nThe structure must be exactly as follows:\n{\n  \"language\": \"(ISO 639-1 code)\",\n  \"keywords\": [\"Keyword 1\", \"Keyword 2\", \"Keyword 3\", \"Keyword 4\", \"Keyword 5\"],\n  \"writing_style\": \"(The extracted style string)\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -3184,
        -16
      ],
      "id": "8a97f6fb-f89e-44d9-a1fd-a7d76d454cf6",
      "name": "Message a model",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "aLrGZCRV8oKLBNjE",
          "name": "SF - Gemini API Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('check user id').item.json.url }}/rest/V1/mpblog/blog-option",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "get_title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2384,
        -16
      ],
      "id": "a08d1f5b-9970-4372-827d-b9d57331482b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('check user id').item.json.url }}/rest/V1/blog/image/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer xngnwld5ux2ewxspkziwcmiga4ltbjfq"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "base64Image",
              "value": "=data:image/jpeg;base64,{{ $('Extract from File').item.json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        -16
      ],
      "id": "b293abcb-cca2-4a68-92d7-379e9944b975",
      "name": "upload image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('check user id').item.json.url }}/rest/V1/mpblog/post/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer xngnwld5ux2ewxspkziwcmiga4ltbjfq"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"post\": {\n        \"name\": \"{{ $('return text data1').item.json.title }}\",\n        \"author_id\": 1,\n        \"short_description\": \"{{ $('return text data1').item.json.excerpt }}\",\n        \"post_content\": \"{{ $('return text data1').item.json.content }}\",\n        \"url_key\": \"{{ $('return text data1').item.json.url_key }}\",\n        \"enabled\": 1, \n        \"image\":\"{{ $json.image_path }}\",\n        \"store_ids\": 1,\n        \"allow_comment\": 1,\n        \"in_rss\": 1,\n        \"layout\": \"1column\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        -16
      ],
      "id": "390db576-51f7-46d6-8214-5320495413ee",
      "name": "Insert data to website",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "=models/{{ $vars.GEMINI_PRO_TEXT }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=**INPUTS:**\n* Custom Prompt Override: {{ $('check user id').item.json.custom_prompt }}\n* User Input (Raw Thought): {{ $('Telegram Trigger').item.json.message.caption }}\n* Language: {{ $('return text data').item.json.language }}\n* Writing Style/Vibe: {{ $('return text data').item.json.writing_style }}\n* Existing Titles (Exclusion List): {{ $json.data }}\n\n---\n\n**⚠️ CRITICAL INSTRUCTION: EXECUTION PATH ⚠️**\n\n**STEP 1: CHECK `Custom Prompt Override`**\n\n**CONDITION A: If `Custom Prompt Override` IS NOT EMPTY:**\n1.  **ADOPT** the persona and tone requested in the `Custom Prompt Override`.\n2.  **APPLY** that persona to the `User Input`.\n3.  **FORMATTING CONSTRAINT (STRICT):** You must still output the result in the **exact JSON structure** defined below, even if the custom prompt doesn't ask for it.\n    * **title:** Generate a title fitting your custom persona.\n    * **content:** The main body of your custom response. Wrap in `<p>` tags.\n    * **keywords:** 5 relevant tags.\n    * **excerpt:** A short summary.\n    * **url_key:** A slug.\n    * **meta_analysis:** Fill this based on the input.\n\n**CONDITION B: If `Custom Prompt Override` IS EMPTY:**\n1.  **PROCEED** with the \"Default Standard Protocol\" (Expert Creative Ghostwriter) defined below.\n\n---\n\n**⬇️ DEFAULT STANDARD PROTOCOL (Active only if Custom Prompt is empty) ⬇️**\n\nYou are an expert Creative Ghostwriter and Narrative Storyteller. Your primary function is to take raw, casual user notes and transform them into a beautiful, evocative, and storytelling-driven micro-blog post.\n\n**PROCESS:**\n\n1.  **DECONSTRUCT (The 5 Ws & H):**\n    * Analyze the `User Input` to establish the narrative backbone.\n    * **WHO, WHEN, WHERE, WHAT, WHY, HOW.**\n\n2.  **GENERATE 'title':**\n    * Create a poetic, evocative title.\n    * Do NOT use clickbait.\n    * Must be in the specified `Language`.\n    * Must NOT match 'Existing Titles'.\n\n3.  **GENERATE 'content':**\n    * Write a short narrative blog post (1-3 paragraphs).\n    * **Formatting:** Use a single string of HTML. Use ONLY `<p>` tags.\n    * **Tone:** Adhere to `Writing Style/Vibe` OR the `Custom Prompt Override` vibe.\n\n4.  **GENERATE metadata:**\n    * Keywords, Excerpt, URL Slug.\n\n**EXECUTION COMMAND (APPLIES TO BOTH CONDITIONS):**\nGenerate a single JSON object. All string values must be in the specified `Language`. Your output must start with `{` and end with `}`.\n\n{\n  \"title\": \"Title [fitting the custom or default vibe]\",\n  \"content\": \"<p>Main content paragraph 1...</p><p>Paragraph 2...</p>\",\n  \"keywords\": [\"Theme1\", \"Theme2\", \"Theme3\", \"Theme4\", \"Theme5\"],\n  \"excerpt\": \"A short summary.\",\n  \"url_key\": \"aesthetic-url-slug\",\n  \"meta_analysis\": {\n      \"who\": \"...\",\n      \"when\": \"...\",\n      \"where\": \"...\",\n      \"what\": \"...\",\n      \"why\": \"...\",\n      \"how\": \"...\"\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2160,
        -16
      ],
      "id": "0d90db83-4279-476c-9f6a-2c2773800143",
      "name": "generate blog",
      "retryOnFail": true,
      "waitBetweenTries": 2500,
      "credentials": {
        "googlePalmApi": {
          "id": "aLrGZCRV8oKLBNjE",
          "name": "SF - Gemini API Account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Blog created successfully",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        -96
      ],
      "id": "0307ee7e-ac53-427d-bf15-5c2f7d480766",
      "name": "Send a text message1",
      "webhookId": "827ff1ef-1416-41c1-a3b9-b7e1c5321b28",
      "retryOnFail": true,
      "waitBetweenTries": 2500,
      "credentials": {
        "telegramApi": {
          "id": "39fRwzDgQF6qjDAR",
          "name": "SF WP Blog Dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Please share your contact number",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Click this to share your contact",
                    "additionalFields": {
                      "request_contact": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -4752,
        464
      ],
      "id": "7590ad14-bc35-45e0-b3bf-dd4dc261a5a1",
      "name": "share contact",
      "webhookId": "fc5723ca-7421-4d0d-85f0-0b658e8a7aea",
      "retryOnFail": true,
      "waitBetweenTries": 2500,
      "credentials": {
        "telegramApi": {
          "id": "39fRwzDgQF6qjDAR",
          "name": "SF WP Blog Dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "42b10b09-6bc2-4efa-aa99-9f7c34d3cb32",
              "leftValue": "={{ $json.message.contact }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4752,
        272
      ],
      "id": "6741d6cc-96f8-4af2-b742-53a60de0f3db",
      "name": "check if share contact"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf3ac540-0d10-46e1-bd71-801da4cef946",
              "leftValue": "={{ $json.message.from.is_bot }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5200,
        368
      ],
      "id": "e67e59fd-34c0-43e9-902e-2893a7c89f34",
      "name": "check if bot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "29a16a02-afbc-4d02-a9ae-49a9967c5193",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4976,
        368
      ],
      "id": "6f29eab5-5ec9-426f-ad36-f233d56fb74d",
      "name": "check if start"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://magento2.synergizeflow.com/rest/V1/telegram/attach-user",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            },
            {
              "name": "phoneNumber",
              "value": "={{ $json.message.contact.phone_number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4528,
        368
      ],
      "id": "3ae26455-511a-40be-98c3-f84612bb24fc",
      "name": "get domain by phone number and save user id to saas"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Please send image with caption",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3408,
        176
      ],
      "id": "77afaa62-2367-4ba1-b05d-39dc1b3fe3d1",
      "name": "Send a text message no image sent",
      "webhookId": "e60f882f-8bbd-4bc0-879b-35bbc1509f34",
      "retryOnFail": true,
      "waitBetweenTries": 2500,
      "credentials": {
        "telegramApi": {
          "id": "39fRwzDgQF6qjDAR",
          "name": "SF WP Blog Dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the photos from the Telegram Trigger node first\nconst triggerPhotos = $('Telegram Trigger').first().json.message?.photo;\n\nfor (const item of $input.all()) {\n  \n  // 2. Check if we actually found photos\n  if (triggerPhotos && triggerPhotos.length > 0) {\n    \n    // 3. Filter: Try to find photos that fit within 1000x800\n    const validPhotos = triggerPhotos.filter(photo => photo.width <= 1000 && photo.height <= 800);\n\n    let selectedPhoto;\n\n    if (validPhotos.length > 0) {\n      // SCENARIO A: We found valid photos. \n      // Pick the last one (the largest quality that still fits the limit).\n      selectedPhoto = validPhotos.at(-1);\n    } else {\n      // SCENARIO B: All photos are too big.\n      // Fallback to the very first photo (index 0), which is the smallest available version.\n      selectedPhoto = triggerPhotos[0];\n    }\n\n    // 4. Assign to the current item\n    item.json.selected_photo = selectedPhoto;\n    item.json.selected_file_id = selectedPhoto.file_id;\n\n  } else {\n    // Logic if no photos were found in the trigger at all\n    item.json.selected_photo = null;\n    item.json.selected_file_id = null;\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3856,
        80
      ],
      "id": "ff3fb9b8-6483-494b-8553-f5f5437bbc99",
      "name": "get largest_file_id"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Creating the blog ...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3408,
        -16
      ],
      "id": "37a2250f-dcd6-4c4b-90c7-213139948896",
      "name": "sent text creating the blog",
      "webhookId": "b0ffd647-535b-400a-9ece-fad4c1f8cdcf",
      "retryOnFail": true,
      "waitBetweenTries": 2500,
      "credentials": {
        "telegramApi": {
          "id": "39fRwzDgQF6qjDAR",
          "name": "SF WP Blog Dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.text)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2608,
        -16
      ],
      "id": "06f4c9f0-e42c-4edb-882e-b4306cd3f555",
      "name": "return text data"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json.content.parts[0];\nconst input = item.text; // change \"text\" if your field name is different\n\nconst start = \"```json\\n\";\nconst end = \"\\n```\";\n\nlet output = input;\n\nif (input.includes(start)) {\n  output = input;\n\n  if (output.startsWith(start)) {\n    output = output.slice(start.length);\n  }\n\n  if (output.endsWith(end)) {\n    output = output.slice(0, -end.length);\n  }\n}\n\nreturn [\n  {\n    json: {\n      text: output\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2832,
        -16
      ],
      "id": "e9e9d886-ef90-4db8-84ee-b6a25b5bbd08",
      "name": "remove markdown if exist"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -4304,
        368
      ],
      "id": "72897f8d-8d4d-4816-8379-c272c4690781",
      "name": "send number saved or phone number not found in saas",
      "webhookId": "8e7fab61-1d58-438a-b426-c2d2204676bd",
      "retryOnFail": true,
      "waitBetweenTries": 2500,
      "credentials": {
        "telegramApi": {
          "id": "39fRwzDgQF6qjDAR",
          "name": "SF WP Blog Dev"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://magento2.synergizeflow.com/rest/V1/telegram/url/{{ $('Telegram Trigger').item.json.message.from.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4528,
        176
      ],
      "id": "a6719891-9dde-4f1f-a07b-32823d75e4d5",
      "name": "check user id, if fail send notif the user id not found, type /start to fetch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d717bed8-70ba-4a6b-9ae9-d50672643a7d",
              "leftValue": "={{ $json.status }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4304,
        176
      ],
      "id": "e4a95b02-a050-4307-9a2b-b4defd2489aa",
      "name": "check user id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71dbb5f2-10b6-449e-9ad5-0a0f20d417f0",
              "name": "domain",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4080,
        80
      ],
      "id": "c37eb856-bce7-4dd3-bef1-b6e224140a85",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Your phone number is not found in our database",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -4080,
        272
      ],
      "id": "37756e33-cdc2-4ad7-ad16-050726cb61fb",
      "name": "Send a text message",
      "webhookId": "bed7d9ec-f563-4444-ba96-60b645903af2",
      "retryOnFail": true,
      "waitBetweenTries": 2500,
      "credentials": {
        "telegramApi": {
          "id": "39fRwzDgQF6qjDAR",
          "name": "SF WP Blog Dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Post error, please contact admin",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        80
      ],
      "id": "1359a117-9402-432d-b583-6306668258fa",
      "name": "Send a text message2",
      "webhookId": "8fe0353b-d7c0-4080-b61b-92fe0e06e837",
      "retryOnFail": true,
      "waitBetweenTries": 2500,
      "credentials": {
        "telegramApi": {
          "id": "39fRwzDgQF6qjDAR",
          "name": "SF WP Blog Dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json.content.parts[0];\nconst input = item.text; // change \"text\" if your field name is different\n\nconst start = \"```json\\n\";\nconst end = \"\\n```\";\n\nlet output = input;\n\nif (input.includes(start)) {\n  output = input;\n\n  if (output.startsWith(start)) {\n    output = output.slice(start.length);\n  }\n\n  if (output.endsWith(end)) {\n    output = output.slice(0, -end.length);\n  }\n}\n\nreturn [\n  {\n    json: {\n      text: output\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        -16
      ],
      "id": "05720494-7778-4423-82f0-72650fb6dd99",
      "name": "remove markdown if exist1"
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.text)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        -16
      ],
      "id": "5e54ac33-c277-4fb3-ad7c-655b7899de8b",
      "name": "return text data1"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "check if bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "upload image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "sent text creating the blog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message no image sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "remove markdown if exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "generate blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload image": {
      "main": [
        [
          {
            "node": "Insert data to website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert data to website": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate blog": {
      "main": [
        [
          {
            "node": "remove markdown if exist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if share contact": {
      "main": [
        [
          {
            "node": "check user id, if fail send notif the user id not found, type /start to fetch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get domain by phone number and save user id to saas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if bot": {
      "main": [
        [
          {
            "node": "check if start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if start": {
      "main": [
        [
          {
            "node": "check if share contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "share contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get domain by phone number and save user id to saas": {
      "main": [
        [
          {
            "node": "send number saved or phone number not found in saas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get largest_file_id": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sent text creating the blog": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return text data": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove markdown if exist": {
      "main": [
        [
          {
            "node": "return text data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check user id, if fail send notif the user id not found, type /start to fetch": {
      "main": [
        [
          {
            "node": "check user id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check user id": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "get largest_file_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove markdown if exist1": {
      "main": [
        [
          {
            "node": "return text data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return text data1": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "cf69a2c6-fcd6-47d7-b5f8-bfc0a6d8baf8",
  "owner": {
    "type": "team",
    "teamId": "UNcEOCawQV9ZsxYR",
    "teamName": "SynergizeFlow"
  },
  "parentFolderId": "YWvqYzc9LBnr0MQk",
  "isArchived": false
}