workflows/WWUg2JGK9QjJMQzl.json
{
  "id": "WWUg2JGK9QjJMQzl",
  "name": "SF - Social Media Video Music",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        416
      ],
      "id": "1fe943bb-077d-4614-99de-eabaa9e42e66",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"website\": {{ JSON.stringify($json.body.domain_name) }},\n  \"license_key\": {{ JSON.stringify($json.body.license_key) }},\n  \"posts\": {{ $json.body.posts }},\n  \"model\": {{ JSON.stringify($json.body.model) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        0
      ],
      "id": "d7242397-c99b-47e3-a2cc-b175be0795b8",
      "name": "Prepare data"
    },
    {
      "parameters": {
        "jsCode": "const posts = $('Prepare data').first().json.posts\n\nif (\n    Array.isArray(posts) &&\n    posts.every(item => typeof item === 'object' && item !== null && !Array.isArray(item))\n  ) {\n    return posts;\n  }\n\nreturn { \"json\": {} };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "d6af087b-5c97-4f3c-ad0f-70053d7cca35",
      "name": "Format array posts"
    },
    {
      "parameters": {
        "batchSize": "={{ $input.all().length }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "b169e136-19f3-4370-a777-f4853481f335",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Prepare data').item.json.website }}/wp-json/synergize/v1/get-single-post",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ $('Prepare data').item.json.license_key }}"
            },
            {
              "name": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        16
      ],
      "id": "d4c06aa6-af03-4955-9d4a-69bba0868782",
      "name": "HTTP Request",
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "synergizeflow-480314",
          "mode": "list",
          "cachedResultName": "Synergizeflow"
        },
        "modelName": "={{ $vars.GEMINI_FLASH_TEXT }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        1120,
        176
      ],
      "id": "bd32820a-cb28-43d0-839b-6b0ba2070107",
      "name": "Google Vertex Chat Model",
      "credentials": {
        "googleApi": {
          "id": "C4Bh0vq2T0s7HIDk",
          "name": "SF - Vertex API Service Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\n\nconst cleaned = output.replace(/```json\\n?/, '')\n    .replace(/```$/, '')\n    .trim();\n\nconst data = JSON.parse(cleaned);\n\nreturn {data}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        16
      ],
      "id": "591fda60-91e3-40d0-81f0-a6fb09822e76",
      "name": "Format prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.kie.ai/api/v1/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customMode\": true,\n  \"instrumental\": true,\n  \"model\": \"V5\",\n\"callBackUrl\": \"{{ $vars.SAAS_API }}/api/social-agent/music\",\n  \"prompt\": \"{{ $json.data.positive_prompt }}\",\n  \"negativeTags\": \"{{ $json.data.negative_prompt }}\",\n  \"style\": \"{{ $json.data.music_style }}\",\n  \"styleWeight\": 0.65,\n  \"weirdnessConstraint\": 0.5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1680,
        16
      ],
      "id": "6f8f5bdd-bdad-462f-8944-1780cb791f79",
      "name": "HTTP Request1",
      "retryOnFail": false,
      "credentials": {
        "googlePalmApi": {
          "id": "aLrGZCRV8oKLBNjE",
          "name": "SF - Gemini API Account"
        },
        "googleApi": {
          "id": "C4Bh0vq2T0s7HIDk",
          "name": "SF - Vertex API Service Account"
        },
        "httpHeaderAuth": {
          "id": "SFhjYsXsyVcRhxXr",
          "name": "SF - KIE AI"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "=models/{{$vars.GEMINI_FLASH_TEXT}}",
          "mode": "id"
        },
        "imageUrls": "={{ $('HTTP Request').item.json.image }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1888,
        16
      ],
      "id": "49b3397c-7e5c-49fc-b8fc-6e9d35a97b1b",
      "name": "Analyze image",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googlePalmApi": {
          "id": "aLrGZCRV8oKLBNjE",
          "name": "SF - Gemini API Account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adbaa001-7b5b-46d4-b649-5819bbf14593",
              "name": "img_desc",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        16
      ],
      "id": "b1e43589-8439-45a8-b813-98e2ade20bd5",
      "name": "Img Desc"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "=models/{{$vars.GEMINI_PRO_PREVIEW}}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "={\n\"title\": {{ $('HTTP Request').item.json.title.toJsonString() }},\n\"content\": {{ $('HTTP Request').item.json.content.toJsonString() }},\n\"img_desc\": {{ $json.img_desc.toJsonString() }},\n\"music_style\": {{ $('Format prompt').item.json.data.music_style.toJsonString() }}\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "systemMessage": "=You are an expert visual storyteller and AI video prompt engineer.\n\nYour primary goal is to transform a detailed article into a single, high-quality video generation prompt that visually represents the content while remaining stylistically aligned with the provided music style.\n\n**IMPORTANT:** Your response will be consumed directly by an automated system using `JSON.parse()`. Producing invalid JSON will cause the workflow to fail. Therefore, your final response **must** be a syntactically valid JSON object with no surrounding text.\n\nYou will receive a JSON object containing the following fields:\n\n* `title`\n* `content`\n* `img_desc`\n* `music_style`\n\nFollow these instructions precisely.\n\n---\n\n# 1. Analyze the Content\n\nCarefully read and understand the provided `title` and `content`.\n\nIdentify:\n\n* the primary message\n* important concepts\n* emotional tone\n* visual opportunities\n* logical story progression\n\n---\n\n# 2. Build a Visual Narrative\n\nTransform the article into a coherent cinematic micro-story consisting of:\n\n### Beginning\n\nIntroduce the main subject and visually establish the article's central idea.\n\n### Development\n\nShow the evolution of the article's important concepts through continuous visual progression.\n\n### Resolution\n\nFinish with a memorable visual representing the article's conclusion or emotional impact.\n\nThe story should feel natural, fluid, and cinematic.\n\n---\n\n# 3. Generate One Continuous Video Prompt\n\nGenerate **exactly one** prompt.\n\nThe prompt must:\n\n* be written entirely in English\n* be one continuous paragraph\n* describe one uninterrupted cinematic shot\n* never describe scene cuts\n* never describe multiple disconnected scenes\n* never restart the story midway\n* specify a **Vertical 9:16 aspect ratio**\n\nThe camera movement should feel smooth and continuous while the environment naturally evolves around the subject.\n\n---\n\n# 4. Synchronize With Music Style\n\nThe generated visuals must naturally synchronize with the supplied `music_style`.\n\nAdapt the following to match the music style:\n\n* pacing\n* rhythm\n* atmosphere\n* emotional intensity\n* camera movement\n* visual energy\n* cinematic mood\n\nExamples:\n\n* Ambient → calm, slow, atmospheric\n* Lo-fi → cozy, intimate, relaxed\n* Cinematic → dramatic, emotional\n* Electronic → energetic, futuristic\n* Orchestral → epic, majestic\n\nThe synchronization should feel organic rather than explicitly mentioning the music.\n\n---\n\n# 5. Follow img_desc Strictly\n\nThe entire visual appearance must follow `img_desc`.\n\nUse it to define:\n\n* environment\n* architecture\n* character appearance\n* clothing\n* rendering style\n* lighting\n* color palette\n* textures\n* atmosphere\n* artistic style\n\nDo not invent a conflicting visual style.\n\n---\n\n# 6. Narrative Structure\n\nThe prompt should naturally evolve through three cinematic phases:\n\n### Establishing Phase\n\nIntroduce the primary subject and visually communicate the article's central idea.\n\n### Development Phase\n\nContinue the uninterrupted shot while visualizing the article's important concepts.\n\nThe scene should evolve naturally without abrupt transitions.\n\n### Resolution Phase\n\nConclude with a visually powerful ending that communicates the article's message or emotional takeaway.\n\nThe ending should provide a satisfying cinematic conclusion.\n\n---\n\n# 7. Prompt Quality Requirements\n\nThe generated prompt should be:\n\n* highly descriptive\n* cinematic\n* visually rich\n* physically coherent\n* suitable for modern AI video generation models\n* internally consistent\n* free of contradictions\n\nAvoid repetition.\n\nAvoid redundant descriptions.\n\nAvoid disconnected imagery.\n\n---\n\n# 8. Output Format (STRICT REQUIREMENTS)\n\nYour response **MUST** consist of **exactly one valid JSON object** and **nothing else**.\n\n## Mandatory Rules\n\n* Return only the JSON object.\n* Do NOT output any text before the JSON.\n* Do NOT output any text after the JSON.\n* Do NOT use Markdown.\n* Do NOT use triple backticks.\n* Do NOT include explanations.\n* Do NOT include comments.\n* Do NOT include notes.\n* Do NOT include reasoning.\n* Do NOT include apologies.\n* Do NOT include examples.\n* Do NOT include trailing commas.\n* Do NOT append any extra characters after the closing `}`.\n* Do NOT prepend any characters before the opening `{`.\n\nThe output **must** be directly parsable using:\n\n```javascript\nJSON.parse(response)\n```\n\nwithout requiring any preprocessing.\n\nThe JSON object must contain **exactly one top-level property**:\n\n* `prompt`\n\nThe value of `prompt` must be a valid JSON string.\n\nEscape all quotation marks, backslashes, and control characters according to the JSON specification.\n\n---\n\n# Required JSON Schema\n\n{\n\"prompt\": \"A single, detailed, cinematic, continuous-shot video prompt in English, designed for a Vertical 9:16 aspect ratio and fully aligned with the article, img_desc, and music_style.\"\n}\n\n---\n\n# Final Validation (Perform Internally Before Responding)\n\nBefore generating your final answer, internally verify all of the following:\n\n1. The response starts with `{`.\n2. The response ends with `}`.\n3. There is exactly one top-level JSON object.\n4. The object contains exactly one key:\n\n   * `prompt`\n5. The value of `prompt` is a valid JSON string.\n6. There is no text before `{`.\n7. There is no text after the final `}`.\n8. There are no Markdown code fences.\n9. There are no comments.\n10. There are no trailing commas.\n11. The JSON is syntactically valid.\n12. The output can be parsed successfully using `JSON.parse()` without modification.\n\nIf any validation fails, regenerate the entire response until it is valid.\n\nYour final response must be **only** the JSON object.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2272,
        16
      ],
      "id": "f4745258-1ab2-4fbc-a741-190731c7e1db",
      "name": "Message a model",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "aLrGZCRV8oKLBNjE",
          "name": "SF - Gemini API Account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "You are a professional musician, composer, and AI music prompt engineer.\n\nYour task is to analyze a given blog post and generate:\n\n1. A HIGH-QUALITY POSITIVE PROMPT (what the music SHOULD include)\n2. A HIGH-QUALITY NEGATIVE PROMPT (what the music SHOULD AVOID)\n3. A CLEAR MUSIC STYLE SPECIFICATION (main genre/style of the music)\n\nInstructions:\n\n1. Carefully read and understand the blog post content.\n\n2. Identify:\n\n   * Mood and emotional tone\n   * Target audience\n   * Theme, setting, and cultural context\n   * Intensity and pacing\n\n3. Based on your analysis:\n\nGenerate a MUSIC STYLE SPECIFICATION:\n\n* Define the primary genre or style (e.g., Jazz, Classical, Electronic, Pop, Rock, Hip-hop, Ambient, Cinematic, Nasheed, etc.)\n* Keep it short (1 line only)\n* Can include sub-genre if relevant (e.g., \"Ambient Cinematic\", \"Lo-fi Hip-hop\")\n\nGenerate a POSITIVE PROMPT that includes:\n\n* Suitable genre(s) aligned with the style specification\n* Appropriate instruments\n* Mood and atmosphere\n* Tempo and energy level\n* Style references (if relevant)\n* Production quality descriptors (e.g., cinematic, ambient, clean mix)\n\nGenerate a NEGATIVE PROMPT that excludes:\n\n* Max 200 characters length\n* Inappropriate genres\n* Wrong instruments\n* Conflicting moods/emotions\n* Distracting elements (e.g., vocals if not suitable)\n* Poor audio qualities (noise, distortion, clipping)\n* Any element that contradicts the blog tone\n\n4. Output Rules:\n\n* Each prompt must be concise (max 2–3 lines each)\n* Use comma-separated phrases\n* Optimized for AI music tools\n* Do NOT include explanations\n* Do NOT repeat phrases between positive and negative prompts\n\n5. Output Format (STRICT):\n\n{\n\"music_style\": \"...\",\n\"positive_prompt\": \"...\",\n\"negative_prompt\": \"...\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1120,
        16
      ],
      "id": "02b60534-1e52-4d48-a5a5-bbb219b3fea7",
      "name": "Music Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.config.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        0
      ],
      "id": "757d1868-06a9-4693-9263-d3646366dee4",
      "name": "Generate video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SFhjYsXsyVcRhxXr",
          "name": "SF - KIE AI"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const model =  $('Prepare data').first().json.model;\nconst callback = $vars.SAAS_API + '/api/social-agent/process';\nconst obj = JSON.parse($input.first().json.content.parts[0].text);\nconst prompt = obj.prompt;\n\nif(model == 'veo3_fast'){\n  return {\n    \"url\": \"https://api.kie.ai/api/v1/veo/generate\",\n    \"config\": {\n      \"prompt\": prompt,\n      \"model\": model,\n      \"callBackUrl\": callback,\n      \"aspectRatio\": \"9:16\",\n      \"imageUrls\": [\n        $('HTTP Request').first().json.image\n      ]\n    } \n  }\n}else if(model == 'runway-duration-10-generate'){\n  return {\n    \"url\": \"https://api.kie.ai/api/v1/runway/generate\",\n    \"config\": {\n      \"prompt\": prompt,\n      \"model\": model,\n      \"callBackUrl\": callback,\n      \"aspectRatio\": \"9:16\",\n      \"quality\": \"720p\",\n      \"duration\": \"10\",\n      \"imageUrl\": $('HTTP Request').first().json.image\n    } \n  }\n   \n}else if(model == 'sora-2-text-to-video'){\n  return {\n    url: \"https://api.kie.ai/api/v1/jobs/createTask\",\n    config: {\n      //\"model\": model,\n      \"model\": \"sora-2-image-to-video\",\n      \"callBackUrl\": callback,\n      \"input\":{\n        \"prompt\": prompt,\n        \"image_urls\": [$('HTTP Request').first().json.image],\n        \"aspect_ratio\": \"portrait\",\n        \"n_frames\": \"15\",\n        \"remove_watermark\": true\n      }\n    }\n  }\n}else if(model == 'kling-2.6/image-to-video'){\n  return {\n    url: \"https://api.kie.ai/api/v1/jobs/createTask\",\n    config: {\n      \"model\": model,\n      \"callBackUrl\": callback,\n      \"input\":{\n        \"prompt\": prompt,\n        \"image_urls\": [\n          $('HTTP Request').first().json.image\n        ],\n        \"sound\": false,\n        \"duration\": \"10\"\n      }\n    }\n  }\n}else if(model == 'bytedance/seedance-1.5-pro'){\n  return {\n    url: \"https://api.kie.ai/api/v1/jobs/createTask\",\n    config: {\n      \"model\": model,\n      \"callBackUrl\": callback,\n      \"input\":{\n        \"prompt\": prompt,\n        \"input_urls\": [\n          $('HTTP Request').first().json.image\n        ],\n        \"aspect_ratio\": \"9:16\",\n        \"duration\": \"8\",\n        \"resolution\": \"480p\"\n      }\n    }\n  }\n}else if(model == 'grok-imagine/image-to-video'){\n  return {\n    url: \"https://api.kie.ai/api/v1/jobs/createTask\",\n    config: {\n      \"model\": model,\n      \"callBackUrl\": callback,\n      \"input\":{\n        \"prompt\": prompt,\n        \"image_urls\": [\n          $('HTTP Request').first().json.image\n        ],\n        \"duration\": \"10\",\n        \"resolution\": \"480p\",\n        \"mode\": \"normal\",\n      }\n    }\n  }\n}else if(model == 'hailuo/2-3-image-to-video-standard'){\n  return {\n    url: \"https://api.kie.ai/api/v1/jobs/createTask\",\n    config: {\n      \"model\": model,\n      \"callBackUrl\": callback,\n      \"input\":{\n        \"prompt\": prompt,\n        \"image_url\": $('HTTP Request').first().json.image,\n        \"duration\": \"10\",\n        \"resolution\": \"768P\"\n      }\n    }\n  }\n}else if(model == 'wan/2-2-a14b-image-to-video-turbo'){\n  return {\n    url: \"https://api.kie.ai/api/v1/jobs/createTask\",\n    config: {\n      \"model\": model,\n      \"callBackUrl\": callback,\n      \"input\":{\n        \"prompt\": prompt,\n        \"image_url\": $('HTTP Request').first().json.image,\n        \"enable_prompt_expansion\": false,\n        \"acceleration\": \"none\",\n        \"resolution\": \"480p\"\n      }\n    }\n  }\n}else if(model == 'midjourney'){\n  return {\n    url: \"https://api.kie.ai/api/v1/mj/generate\",\n    config: {\n      \"taskType\": \"mj_video\",\n      \"prompt\": prompt,\n      \"fileUrls\": [$('HTTP Request').first().json.image],\n      \"aspectRatio\": \"9:16\",\n      \"waterMark\": \"\",\n      \"callBackUrl\": callback,\n    }\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        0
      ],
      "id": "e16826ae-0160-4c7f-8e6f-d781f7e5f922",
      "name": "Format model",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SAAS_API }}/api/social-agent/music-prepare",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task_id",
              "value": "={{ $json.data.taskId }}"
            },
            {
              "name": "license_key",
              "value": "={{ $('Prepare data').item.json.license_key }}"
            },
            {
              "name": "content_id",
              "value": "={{ $('Format array posts').item.json.content_id }}"
            },
            {
              "name": "music_task_id",
              "value": "={{ $('HTTP Request1').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        16
      ],
      "id": "6e1257d4-453a-4b37-944a-68038b0462fd",
      "name": "Callback prepared url"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3168,
        16
      ],
      "id": "12775757-371b-41d9-b585-84d775e403c5",
      "name": "Wait",
      "webhookId": "9d62d507-1d35-4c77-b603-c06866518118"
    },
    {
      "parameters": {
        "errorMessage": "An error occurred!"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1616,
        352
      ],
      "id": "a494986e-d0fc-4526-a722-d8457638dbab",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SAAS_API }}/api/social-content/fail",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $('HTTP Request').item.json.id }}"
            },
            {
              "name": "license_key",
              "value": "={{ $('Prepare data').item.json.code }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        352
      ],
      "id": "191adb72-9a6f-43c4-a681-fee877161952",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.website }}/wp-json/synergize/v1/validate-license",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ $json.license_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        0
      ],
      "id": "f881257f-7cdf-4129-b3e8-eca1ebaa821d",
      "name": "Check if license is valid"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.is_valid }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "60458c94-986c-49cd-8b69-4b5616163eb3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "go"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2f910b52-842c-4b6a-a862-e6914c883764",
                    "leftValue": "={{ $json.is_valid }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        192,
        0
      ],
      "id": "02cc6569-c97f-4aed-92b0-6e35b7dcb2a3",
      "name": "Switch"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "website",
              "value": "={{ $('Webhook').item.json.body.domain_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -336,
        160
      ],
      "id": "025da6b2-dbfc-43e9-9eb5-217d647d3818",
      "name": "Execution Data",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v1/social-media/generate-music-video",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        0
      ],
      "id": "f9921066-1985-46b9-9a73-b13ff6a0cdad",
      "name": "Webhook",
      "webhookId": "71c7fa76-3821-4993-915e-c3a09921860d"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2720,
        240
      ],
      "id": "92e601a2-d21b-4f1e-9970-e03c6d4667b5",
      "name": "Wait1",
      "webhookId": "cebb0edc-8c04-4403-924b-3de57f3f2f93"
    },
    {
      "parameters": {
        "jsCode": "return {\n  img_desc: $('Img Desc').first().json.img_desc\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        304
      ],
      "id": "6ed83d69-8e35-483e-93a3-eb2451ded661",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Prepare data": {
      "main": [
        [
          {
            "node": "Check if license is valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format array posts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Music Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Vertex Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Music Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format prompt": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Img Desc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Img Desc": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Music Agent": {
      "main": [
        [
          {
            "node": "Format prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format model": {
      "main": [
        [
          {
            "node": "Generate video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Format model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate video": {
      "main": [
        [
          {
            "node": "Callback prepared url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback prepared url": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if license is valid": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Format array posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "4otmc6jILN7VL0Z9",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "triggerCount": 1,
  "versionId": "dadc9256-297f-4dd3-bc81-44ef62cb3395",
  "owner": {
    "type": "team",
    "teamId": "UNcEOCawQV9ZsxYR",
    "teamName": "SynergizeFlow"
  },
  "parentFolderId": "zGFLpL21fhsLN1Cs",
  "isArchived": false
}